<template>
    <div class="lesson-nav">
        <div :class="[{active: activeTab == 'detail'},'lesson-tab']" @click="$emit('activateTab','detail')">Mô tả</div>
        <div :class="[{active: activeTab == 'homework'},'lesson-tab']" @click="$emit('activateTab','homework')">Bài tập</div>
        <div :class="[{active: activeTab == 'gallery'},'lesson-tab']" @click="$emit('activateTab','gallery')">Bài làm học viên</div>
        <div :class="[{active: activeTab == 'slide'},'lesson-tab']" @click="$emit('activateTab','slide')">Slide</div>
        <!-- <div :class="[{done : hasWork},'homework-state']">
            <span v-if="hasWork">Completed</span> 
            <span v-else>Incompleted</span>
        </div> -->
    </div>
</template>

<script>
    import {ref} from 'vue'
    export default {
        props:['activeTab','hasWork'],
        setup(props) {
            
        }
    }
</script>

<style lang="scss" scoped>
    .lesson-nav{
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        color: $color-gray-light-1;
        display: flex;
        justify-content: center;
        & > *{
            &:not(:last-child){
                margin-right: 2rem;
            }
        }
    }
    .lesson-tab{
        font-size: 20px;
        color: $color-gray-light-1;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 0%;
            height: 3px;
            background-color: $color-primary;
            transition: all 0.15s ease-in-out
        }
    }

    .lesson-tab:hover{
        color: $color-gray-dark;
    }
    .lesson-tab.active:hover{
        color: darken($color-primary, 10);
    }
    .active{
        color: $color-primary;
        position: relative;
        &::before{
            width: 100%;
        }

    }
    .homework-state{
            padding: 0.2rem 1rem 0.2rem 1rem;
            border-radius: 0.4rem;
            cursor: pointer;
            color: white;
            background-color: $color-primary;
            @include transition;

        &.done{
            background-color: $color-green;
        }
    }
</style>