<template>
    <div class="lesson-user">
        <LessonNav 
            :hasWork="hasWork" 
            @activateTab="activeTab = $event" 
            :activeTab="activeTab"/> 
        <div class="lesson-tabs overflowList">
            <LessonDetail 
                v-if="activeTab == 'detail'" 
                :lesson="lesson"/>

            <LessonHomework
                v-if="activeTab == 'homework'"
                :lesson="lesson"
            />
            <LessonGallery
                v-if="activeTab == 'gallery'"
                :lesson="lesson"
            />
            <LessonSlide
                v-if="activeTab == 'slide'"
                :lesson="lesson"
            />
        </div>
    </div>
</template>

<script>
    import {ref,computed,watchEffect} from 'vue'
    import {useStore} from 'vuex'
    import LessonNav from '@/views/User/DashboardCollection/LessonNav.vue'
    import LessonDetail from '@/views/User/DashboardCollection/LessonDetail.vue'
    import LessonHomework from '@/views/User/DashboardCollection/LessonHomework.vue'
    import LessonSlide from '@/views/User/DashboardCollection/LessonSlide.vue'
    import LessonGallery from '@/views/User/DashboardCollection/LessonGallery'
    
    import { onBeforeRouteLeave } from 'vue-router'
    
    export default {
        props:['number'],
        components: {LessonNav,LessonDetail,LessonHomework, LessonSlide,LessonGallery},
        setup(props) {
            const store = useStore();
            const activeTab = ref('detail');
            const list=  computed(()=>store.getters['lessons/getFilterList'] || []);
            const lesson = computed(()=>{
                return list.value.find(lesson => lesson.number == props.number);
            })

            //biến điều khiển trạng thái đã nộp bài và chưa nộp
            const hasWork = ref(false);
            //watch lesson change to load again
            const currentWorks = ref(null);

            watchEffect(()=> {
                const works = store.getters['works/getWorks'](props.number); //work nhận null hoặc array
                if(works){
                    hasWork.value = true
                }else{
                    hasWork.value = false;
                }
                currentWorks.value = works;
            });


            onBeforeRouteLeave((to, from, next) => {
                if (to.name == 'Dashboard') {
                    next(false)
                } else {
                    next();
                }
            })
            return {activeTab, lesson,hasWork,currentWorks};
        }
        
    }
</script>

<style lang="scss" scoped>
.lesson-user{
    height: 92%;
    overflow: visible;
    width: 100%;

}
.lesson-tabs{
    width: 100%;
    height: 100%;
    border-radius: 3rem 3rem 0 0;
    overflow: auto;
}
</style>