<template>
    <TransitionGroup tag="div" name="a-fade" mode="out-in" class="lesson-gallery">
        <TransitionGroup tag="div" name="a-fade" class="file-container" v-if="worksCollection">
                
                <div v-for="(work,index) in worksCollection" :key="index">
                    <WorkCard2 :work="work"/>
                </div>
        </TransitionGroup>

        <div class="moreBtn" v-if="worksCollection">
            <div :class="[{'loading' : isLoadingNext},'wrapper']" v-if="!isLoadAll">
                <Transition name="a-fade" mode="out-in">
                    <span class="more a-btn-hover" v-if="!isLoadingNext" @click="loadNext"><p>Xem thêm</p></span>
                    <span class="more loading" v-else><Loading/></span>
                </Transition>
            </div>
            <div v-else class="loadDone">Tổng {{worksCollection.length}} sản phẩm cho bài số {{lesson.number}}</div>
        </div>

        <div class="file-container" v-if="isLoading">
            <Loading/>
        </div>
        <div class="file-container" v-if="!isLoading && noData">
            <NoData :data="'sản phẩm'"/>
        </div>
    </TransitionGroup>


</template>

<script>
    import {ref,computed,watchEffect,watch, onMounted} from 'vue'
    import {useStore} from 'vuex'
    import NoData from '@/components/Base/NoData.vue'
    import WorkCard2 from '@/components/Work/WorkCard2.vue'
    import { useToast } from "vue-toastification";

export default {
    props: ['lesson'],
    components: {WorkCard2},
    setup (props) {
        const store = useStore();

        const worksCollection = computed(() => {
            let number = props.lesson.number
            if(number){
                return store.getters['works/getWorkGalleryFromLesson'](number);
            }else return null;
        })

        const isLoadAll = computed(() => {
            let number = props.lesson.number
            if(number){
                return store.getters['works/isLessonLoadAll'](props.lesson.number)
            }else return false;
        })

        const noData = ref(true);
        const isLoading = ref(false);

        watchEffect(()=>{
            isLoading.value = true;
            noData.value = true;
            let lesson = props.lesson;
            store.dispatch("works/loadWorksNumber", {
                courseID: lesson.courseID,
                lessonNumber: lesson.number,
            }).then(res => {
                isLoading.value = false;
                if(worksCollection.value){
                    console.log("have dataaa");
                    noData.value = false
                }
            })
        })

        const isLoadingNext = ref(false);

        const loadNext = () => {
            isLoadingNext.value = true;
            let lesson = props.lesson;
            store.dispatch("works/nextWorkPage", {
                courseID: lesson.courseID,
                lessonNumber: lesson.number
            }).then((res) => {
                isLoadingNext.value = false;
            })
            
        }

        return {worksCollection,noData,isLoading,isLoadAll, isLoadingNext, loadNext}
    }
}
</script>

<style lang="scss" scoped>
.lesson-gallery{
    width: 100%;
}
.file-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;

}
.moreBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    .wrapper{
        color: $color-primary;
        border: 2px solid $color-primary;
        border-radius: 0.3rem;
        display: flex;
        width: 8rem;
        height: 3rem;
        @include transition;
        &.loading{
            width: 5rem;
            height: 4rem;
        }
    }
    .more{
        width: 100%;
        height: 100%;
        position: relative;
        
        & > * {
            @include center-1;
            width: 100%;
            text-align: center;
        }
    }
    .loadDone{
        color: $color-gray-dark;
    }
}
</style>