@mixin nav-drop{
    box-shadow: 0rem 0rem 2rem 0 rgba($color-black, 0.2)
}

@mixin card-shadow{
    box-shadow: 0rem 0rem 2rem 0 rgba($color-black, 0.2)
}
@mixin card-shadow-1{
    box-shadow: 0rem 0rem 2rem 0 rgba($color-black, 0.13)
}

@mixin card-shadow-2{
    box-shadow: 1.5rem 1.5rem 2rem 0 rgba($color-black, 0.06)
}
@mixin card-shadow-3{
    box-shadow: 0 1.75rem 3.125rem rgba($color-black, 0.08)
}
@mixin btn-shadow-1{
    box-shadow: 0px 0px 0.3rem rgba(0, 0, 0, 0.25);
}
@mixin white-shadow-1{
    box-shadow: 0px 0px 0.5rem 0.5rem rgb(255, 255, 255);
}
@mixin transition{
    transition: all 0.2s ease;
}

@mixin transition-1{
    transition: all 0.6s cubic-bezier(.55,-0.47,.49,1.43);
}
@mixin transition-2{
    transition: all 0.6s ease-in-out;
}
@mixin transition-3{
    transition: all 0.4s ease;
}
@mixin center-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover-1{
    transform: scale(1.1);
}
@mixin hover-2{
    transform: scale(1.05);
}

@mixin gradient-text-1{
    background: linear-gradient(to right, #9999FF, #C1272D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 1rem;
}

