$color-primary: #AA0F1E;
$color-secondary: #800004;
$color-green: #59C1AD;
$color-orange: #F2AD79;
$color-blue:#0092C0;
$color-yellow: rgb(255, 225, 0);

$color-gray-light-1:#CCCCCC ;
$color-gray-light-2:#E2E2E2;
$color-gray-light-3:#eeeeee;
$color-gray-dark:#a7a7a7;

$color-black: #000;
$color-white: #fff;

$color-black-hover: rgb(34, 34, 34)