// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #AA0F1E;
$secondary : #990a18;
$tertiary  : #26A69A;
$accent    : #36a0d8;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #59C1AD;
$negative  : #800004;
$info      : #0092C0;
$warning   : #F2AD79;


@import '~quasar-variables-styl'
