<template>
    <div class="course-detail" v-if="courseDetail">
        <section class="banner">
            <div class="section-body container row">
                <div class="banner-content col xl6 l12 m12">
                    <div class="subtitle">{{courseDetail.tag}}</div>
                    <div class="title">{{courseDetail.name}}</div>
                    <div class="body">
                       {{courseDetail.shortDescription}}
                    </div>
                    <div class="btn-wrapper row relative-position">
                       
                        <div class="row q-gutter-md" >
                            <q-btn v-if="hasRegister" style="border-radius: 10rem;" color="green" @click="accessLearning(hasRegister)">Học lớp offline {{ hasRegister }}</q-btn>
                            <q-btn v-else style="border-radius: 10rem;" color="primary" @click="scrollToList">Đăng kí lớp Offline</q-btn>

                            <q-btn v-if="hasPurchase" style="border-radius: 10rem;" outline color="green"  @click="accessLearning(hasPurchase)">Học khóa Online ngay</q-btn>
                            <q-btn v-else style="border-radius: 10rem;" outline color="primary"  @click="scrollToList">Mua khóa Online</q-btn>
                        </div>
                        
                    </div>
                </div>
                <div class="banner-gif col xl6 l12 m12">
                    <lottie-player :src="courseDetail.thumbGifURL"  background="transparent"  speed="1"  style="width: 100%;"  loop  autoplay></lottie-player>
                </div>
                <div class="banner-bg">

                </div>
            </div>
        </section>


        <section class="overview">
            <div class="section-body container">
                <div class="upper row">
                    <div class="thumb col xl6 l12 m12 s12">
                        <img :src="courseDetail.thumbImageURL" alt="ảnh thumbnail">
                        <div class="button-wrapper">
                            <span class="button a-btn-hover">Xem video giới thiệu</span> 
                        </div>
                    </div>
                    <div class="content col xl6 l12 m12 s12">
                        <h1 class="title">Khoá học này là gì?</h1>
                        <div class="body">
                            {{courseDetail.longDescription}}
                        </div>
                    </div>
                </div>
                <div class="lower row">
                    <span class="tag col l3 m6 s6 ">
                        <p>Mức độ</p>
                        <h5>{{courseDetail.level}}</h5>
                    </span>
                    <span class="tag col l3 m6 s6 ">
                        <p>Hình thức</p>
                        <h5>{{courseDetail.type}}</h5>
                    </span>
                    <span class="tag col l3 m6 s6 ">
                        <p>Số buổi</p>
                        <h5>{{courseDetail.lessonCount}}</h5>
                    </span>
                    <span class="tag col l3 m6 s6 ">
                        <p>Phần mềm sử dụng</p>
                        <span class="icon-wrapper">
                            <img v-for="tool in courseDetail.tools" :key="tool" :src="`../../../assets/png/icon-${tool}.png`" :alt="tool">
                        </span>
                    </span>
                </div>
            </div>
        </section>
        
        <section class="author" v-if="teacherDetail">
            <div class="section-body container">
                <div class="title">
                    <h1>Về giảng viên</h1>
                </div>
                <div class="body row">
                    <div class="thumb col xl6 l12 m12 s12">
                        <img class="ava" src="https://res.cloudinary.com/umaster/image/upload/v1672559523/Assets/ava-trong.jpg" alt="phan đức trọng">
                        <img class="icon" src="https://res.cloudinary.com/umaster/image/upload/v1672560912/Assets/ava-teacher.png" alt="ava">
                    </div>
                    <div class="info col xl6 l12 m12 s12">
                        <h5>{{teacher.titleDescription}}</h5>
                        <p>{{teacher.shortDescription}}</p>
                        <div class="contact">
                            <a v-for="link in teacher.contact" :key="link.type" :href="link.url" target="_blank" :class="[`${link.type}`,'a-btn-hover']">
                                <img :src="`../../../assets/png/${link.type}.svg`" :alt="link.type">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="curriculum">
            <div class="section-body container">
                <div class="title-wrapper">
                    <h5 class="subtitle">Bài giảng</h5>
                    <h1 class="title">Tôi sẽ học những gì?</h1>
                </div>
                <div class="body">
                    <div class="lesson-card">
                        <div class="row">
                            <div class="lesson-content col xl6 l12 m12 s12">
                                <div class="lesson-number">BÀI #1</div>
                                <div class="lesson-title">Nhập môn Animation</div>
                                <div class="lesson-detail">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At eius, nisi maiores incidunt, ex non iusto culpa quis illo, voluptas ea modi? Corrupti est officiis labore, odit nobis eos cupiditate. Ex non iusto culpa quis illo, voluptas ea modi? Corrupti est officiis labore, odit nobis eos cupiditate !
                                
                                </div>
                            </div>
                            <div class="lesson-thumbnail col xl6 l12 m12 s12">
                                <video
                                    class="lesson-recordThumb"
                                    autoplay="autoplay"
                                    loop
                                    muted
                                    :key="1"
                                    >
                                        <source v-if="true"
                                        src="https://res.cloudinary.com/umaster/video/upload/v1630684550/LoopURL/b%C3%A0i_1_aazlbe.mp4"
                                        type="video/mp4"
                                        >
                                        <source v-else src="https://res.cloudinary.com/umaster/video/upload/v1630686044/LoopURL/in_t%C3%B4_gakfhb.mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="lesson-card">
                        <div class="row">
                            <div class="lesson-content col xl6 l12 m12 s12">
                                <div class="lesson-number">BÀI #2</div>
                                <div class="lesson-title">Nguyên lý nền tảng trong animation</div>
                                <div class="lesson-detail">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At eius, nisi maiores incidunt, ex non iusto culpa quis illo, voluptas ea modi? Corrupti est officiis labore, odit nobis eos cupiditate. Ex non iusto culpa quis illo, volup !
                                
                                </div>
                            </div>
                            <div class="lesson-thumbnail col xl6 l12 m12 s12">
                                <video
                                    class="lesson-recordThumb"
                                    autoplay="autoplay"
                                    loop
                                    muted
                                    :key="2"
                                    >
                                        <source v-if="true"
                                        src="https://res.cloudinary.com/umaster/video/upload/v1630684546/LoopURL/b%C3%A0i_2_sggsqj.mp4"
                                        type="video/mp4"
                                        >
                                        <source v-else src="https://res.cloudinary.com/umaster/video/upload/v1630686044/LoopURL/in_t%C3%B4_gakfhb.mp4">
                                </video>
                            </div>
                        </div>
                    </div>



                    <div class="button-wrapper">
                        <span class="button-more a-btn-hover">Hiển thị tất cả giáo trình</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="showreel" v-if="courseDetail.hasGallery">
            <div class="section-body container">
                <div class="title-wrapper row flex-center" style="margin-bottom: 2rem !important;">
                    <h1 class="title text-weight-bold text-h4">Bạn sẽ đạt được điều gì</h1>
                </div>
                <div class="body">
                    <p>Hãy cùng ngắm nhìn những sản phẩm tiêu biểu của các học viên sau khi hoàn thành khoá học gồm 9 buổi này nhé!</p> 
                </div>
                <div class="playlist row q-col-gutter-md">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4" v-for="vidID in courseDetail.galleryIDs">
                        <div class="video-container">
                            <iframe
                                class="video"
                                :src="`https://www.youtube.com/embed/${vidID}?rel=0`"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta">
            <div class="lottie-bg"></div>
            <div class="section-body container row">
                <div class="col xl5 l12 m12 s12">
                    <div class="course-card">
                        <div class="thumb">
                            <img src="https://res.cloudinary.com/umaster/image/upload/v1671874557/Assets/ae1-thumb-04.png" alt="Animation Chuyên Sâu">
                        </div>
                        <ul class="content">
                            <li v-for="ben in courseDetail.benefits">
                                <i class="material-icons">check_small</i>
                                <p>{{ ben }} </p>
                            </li> 
                        </ul>
                    </div>
                </div>
                <div class="col xl6 l12 m12 s12">
                    <div class="course-info">
                        <div class="subtitle">2D Animation</div>
                        <div class="title">
                            {{ courseDetail.secondaryTitle }}
                        </div>
                        <div class="body">
                            {{ courseDetail.shortDescription }}
                        </div>

                        <div class="info row">
                            <div class="col s4">
                                <div class="pill">
                                    <p>Mức độ</p>
                                    <h5>Nâng cao</h5>
                                </div>
                            </div>
                            <div class="col s4">
                                <div class="pill">
                                    <p>Hình thức</p>
                                    <h5>Offline</h5>
                                </div>
                            </div>
                            <div class="col s4">
                                <div class="pill">
                                    <p>Số buổi</p>
                                    <h5>10</h5>
                                </div>
                            </div>
                        </div>
                        <div class="q-mb-xl"></div>
                        <div class="register-btn a-btn-hover"  @click="scrollToList">Đăng kí khoá học</div>

                        <div class="refund">
                            <span class="icon">
                                <img src="@/assets/png/cashback1.svg" alt="">
                            </span>
                            <div class="content">
                                <h5>Cam kết 100% hoàn tiền</h5>
                                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam repellendus excepturi esse dolore sequi soluta at id perspiciatis officia. </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="faq" ref="sectionFaq" v-if="courseDetail.faqs && courseDetail.faqs.length > 0">
            <div class="section-body container">
                <div class="title-wrapper row flex-center" style="margin-bottom: 6rem !important;">
                    <h1 class="title text-weight-bold text-h4">Những câu hỏi thường gặp</h1>
                </div>
                <div class="column q-gutter-md">
                    <q-expansion-item class="shadow-1" v-for="(faq,index) in courseDetail.faqs">
                        <template v-slot:header>
                            <div class="flex q-py-md items-center full-width">
                                <div class="text-primary text-weight-bold text-h3 q-mr-md">{{ index + 1 }}.</div>
                                <div class="text-weight-bold text-h5"> {{ faq.ask }}</div>
                                <q-space></q-space>
                            </div>
                        </template>
                        <q-card class="bg-grey-1">
                        <q-card-section>
                            <div class="text-h6" style="font-family: 'Averta Regular' ;"> {{ faq.ans }}</div>
                        </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </div>
            </div>
        </section>

        <section class="classList sectionRed" ref="sectionClass">
            <div class="section-body container">
                <div class="title-wrapper row flex-center" style="margin-bottom: 6rem !important;">
                    <h1 class="title text-weight-bold text-h4 text-white">Danh sách các lớp học đang mở</h1>
                </div>
                <div class="q-mt-xl" v-if="courseDetail.publish.openOffline && openClassesOffline">
                    <div class="column q-gutter-lg">

<!-- OFFLINE CARD -->
                        <q-card class="classCard" v-for="cls in openClassesOffline">
                            <div class="row">
                                <div class="col-md-9 col-sm-6">
                                    <h1 class="text-weight-bold text-h5 text-uppercase">Lớp học {{ courseDetail.name }} Offline - {{ cls.id }}</h1>
                                    <ul style="margin-top: 1rem !important;">
                                        <li class="row">
                                            <p>&#x2022; Hình thức học: </p>
                                            <p>&nbsp Học OFFLINE tại lớp</p>
                                        </li>
                                        <li class="row">
                                            <p>&#x2022; Địa chỉ: Tầng 3, Tòa nhà Ban Cơ Yếu Chính phủ, Thanh Xuân, Hà Nội</p>
                                        </li>
                                        <li class="row">
                                            <p>&#x2022; Lịch khai giảng: </p>
                                            <p>&nbsp{{ formatDate(cls.dateStart) }}</p>
                                        </li>
                                        <li class="row" v-if="cls.timeSchedule">
                                            <p>&#x2022; Lịch học dự kiến: </p>
                                            <p>&nbsp{{ cls.timeSchedule.length }} buổi/tuần</p>
                                        </li>
                                        <div class="row" v-if="cls.timeSchedule">
                                            <div v-for="time in cls.timeSchedule" class="time-chip off q-mr-md q-mt-md">
                                                <span class="date">{{ calDate(time.date) }}</span>
                                                <span class="time">{{ time.start }} - {{ time.end }}</span>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-6 column flex-center">
                                    
                                    <div class="price column items-center" v-if="calTimeSaleOff">
                                        <p class="">Thời gian có hạn!</p>
                                        <h2 class="text-weight-bold text-h4">{{ formatPrice(courseDetail.publish.salePriceOff) }}</h2>
                                        <h3 class="text-primary text-weight-bold text-h6 text-strike">{{formatPrice(courseDetail.publish.realPriceOff)}}</h3>
                                    </div>
                                    <div v-else>
                                        <h2 class="text-weight-bold text-h4">{{ formatPrice(courseDetail.publish.realPriceOff) }}</h2>
                                    </div>
                                    <q-btn v-if="!reqStatus[cls.id]" class="q-mt-lg" color="primary" label="ĐĂNG KÝ NGAY" @click="registerOfflineClass(cls)"></q-btn>
                                    <q-btn v-if="reqStatus[cls.id] == 'pending'" class="q-mt-lg" color="blue" label="ĐANG CHỜ PHÊ DUYỆT"></q-btn>
                                    <q-btn v-if="reqStatus[cls.id] == 'accept'" class="q-mt-lg" color="green" label="HỌC NGAY" @click="accessLearning(cls.id)"></q-btn>
                                    <q-btn v-if="reqStatus[cls.id] == 'reject'" class="q-mt-lg" color="cyan" label="ĐĂNG KÝ LẠI"></q-btn>
                                </div>
                            </div>
                        </q-card>

<!-- ONLINE CARD -->
                        <q-card class="classCard" v-for="cls in openClassesOnline">
                            <div class="row">
                                <div class="col-md-9 col-sm-6">
                                    <h1 class="text-weight-bold text-h5 text-uppercase">Lớp học {{ courseDetail.name }} Online - {{ cls.id }}</h1>
                                    <ul style="margin-top: 1rem !important;">
                                        <li class="row">
                                            <p>&#x2022; Hình thức học: </p>
                                            <p>&nbsp Tự học ONLINE tại nhà </p>
                                        </li>
                                        <li class="row" v-if="curChapters">
                                            <p>&#x2022; Thời lượng học: </p>
                                            <p>&nbsp {{ computedTotalDuration }}</p>
                                        </li>
                                        <li class="row" v-if="curChapters">
                                            <p>&#x2022; Tổng cộng: </p>
                                            <p>&nbsp {{ computedChapterCount }} chương học, {{ computedTopicCount }} bài giảng</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-6 column flex-center">
                                    <div class="price column items-center" v-if="calTimeSaleOn">
                                        <p class="">Thời gian có hạn!</p>
                                        <h2 class="text-weight-bold text-h4">{{ formatPrice(courseDetail.publish.salePriceOn) }}</h2>
                                        <h3 class="text-primary text-weight-bold text-h6 text-strike">{{formatPrice(courseDetail.publish.realPriceOn)}}</h3>
                                    </div>
                                    <div v-else>
                                        <h2 class="text-weight-bold text-h4">{{ formatPrice(courseDetail.publish.realPriceOn) }}</h2>
                                    </div>
                                    <q-btn v-if="curRecords.findIndex((rec) => rec.classID == cls.id) > -1" class="q-mt-lg" color="green" label="HỌC NGAY" @click="accessLearning(cls.id)"></q-btn>
                                    <q-btn v-else class="q-mt-lg" color="primary" label="ĐĂNG KÝ NGAY" @click="purchaseOnlineClass(cls)"></q-btn>
                                </div>
                            </div>
                        </q-card>
 

                    </div>
                </div>

                <div v-if="!courseDetail.publish.openOffline && !courseDetail.publish.openOnline" class="body">
                    <p>Không có lớp nào đang mở. Bạn có thể liên hệ với trung tâm theo số: 0977378841 để được tư vấn về lớp học</p>
                </div>
            </div>
            <RegisterModal @closeModal="showModalOff = false" :showModal="showModalOff" :classi="activeClass"/>
            <PurchaseModal @closeModal="showModalOn = false" :showModal="showModalOn" :classi="activeClass" :publish="courseDetail.publish" :thumbImageURL="courseDetail.thumbImage ? courseDetail.thumbImage.url : courseDetail.thumbImageURL"/>
            <AuthModal @closeModal="showModalAuth = false" :showModal="showModalAuth"/>
        </section>



        <section class="footer">
            <div class="back-button a-btn-hover" @click="backToHome">
                <i class="material-icons">arrow_back</i>
                <p>Quay trở lại</p> 
            </div>
        </section>
    </div>
</template>

<script>
import {ref, computed, watchEffect, onMounted, onUnmounted} from 'vue'
import {useStore} from 'vuex'
import {useRouter} from 'vue-router'
import lottie from 'lottie-web'
import { Rive, Layout } from '@rive-app/canvas'
import { set } from 'date-fns'
import {useQuasar} from 'quasar'
import RegisterModal from '../../components/Guest/RegisterModal.vue'
import PurchaseModal from '../../components/Guest/PurchaseModal.vue'
import AuthModal from '../../components/Auth/AuthModal.vue'
import { useToast } from 'vue-toastification'

export default {
    components: {
        RegisterModal,PurchaseModal,AuthModal
    },
    props: ['id'],
    setup (props) {
            const store = useStore();
            const router = useRouter();
            const $q = useQuasar();


            //LOAD ANIMTION LOTTIE
            let pageAnim;
            let bgAnim;
            const loadLottie = () => {
                bgAnim = lottie.loadAnimation({
                    name:"bg",
                    container: document.querySelector(".lottie-bg"), // the dom element that will contain the animation
                    renderer: 'svg',
                    loop: true,
                    autoplay: true,
                    path: '/assets/anim/login-background.json' // the path to the animation json
                });
                bgAnim.setSpeed(0.2)
            }

            const destroyLottie = ()=> {
                lottie.destroy();
            }

            onUnmounted(()=>{
                destroyLottie();
            })


            //LOAD course về bằng props id truyền vào
            const courseDetail = ref(null);
            const teacherDetail = ref(null);
            const openClasses = ref(null);
            const curChapters = ref(null);
            const curRequests = ref(null); //[]
            const curRecords = computed(()=> store.getters['user/getAllStudentRecords']);
            const userData = computed(()=> store.getters['user/getUserData']);


            //Có userData thì bắt đầu load về request, studentRECORD đc load về từ auth rồi
            watchEffect(async ()=> {
                if(userData.value){
                    curRequests.value = await store.dispatch('user/loadAllRequestsFromCourse',{
                        courseId: props.id
                    })
                }else{
                    curRequests.value = null;
                }
            })

            // Đợi load xong courseDetail rồi load các cái khác
            watchEffect(async()=>{
                const courseId = props.id;
                courseDetail.value = null;
                courseDetail.value = await store.dispatch('user/loadCourse',{
                    courseId : courseId
                })
                
                if(courseDetail.value){
                    setTimeout(() => {
                        loadLottie();
                    }, 100);

                }
               if (!courseDetail.value){
                    router.push({name: 'NotFound'});
                    return
               }

                if(courseDetail.value.publish){
                    openClasses.value = await store.dispatch('user/loadOpenClassedFromCourse',{
                        courseId: props.id
                    })
                }
                // Mở bán lớp online thì phải load chapters
                curChapters.value = await store.dispatch('user/loadChapterFromCourse',{
                    courseId: props.id
                })
    

               
            })



            // Computed ra các request đã đăng kí để hiện button cho phù hợp dạng {classID: 'pending', classID: 'accept', classID: 'reject'}
            const reqStatus = computed(() => {
                if(!curRequests.value || curRequests.value.length == 0) return []
                let res = {}
                curRequests.value.forEach(req => {
                    res[req.classID] = req.status
                });
                return res
            })

            //HAM PHU
            const formatDate = (date) => {
                const d = new Date(date);
                const day = d.getDate();
                const month = d.getMonth() + 1;
                const year = d.getFullYear();
                return `${day}/${month}/${year}`
            }

            //Nếu là 1 trả về T2, 2 là T3, ... 7 là CN
            const calDate = (date) => {
                switch(Number(date)){
                    case 1:
                        return "T2";
                    case 2:
                        return "T3";
                    case 3:
                        return "T4";
                    case 4:
                        return "T5";
                    case 5:
                        return "T6";
                    case 6:
                        return "T7";
                    case 7:
                        return "CN";
                }
            }
            const formatPrice = (price) => {
                const unit = " ₫"
                const string =  price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                return string + unit;
            }
            const sectionClass = ref(null);
            const scrollToList = () => {
                sectionClass.value.scrollIntoView({behavior: "smooth"});
            }



            //COMPUTED CLASSES INFO
            const openClassesOffline = computed(()=>{
                if(openClasses.value){
                    return openClasses.value.filter(cls => !cls.format || cls.format == "offline")
                }else return null
            })

            const openClassesOnline = computed(()=>{
                if(openClasses.value){
                    return openClasses.value.filter(cls => cls.format == "online")
                }else return null
            })

            const calTimeSaleOn = computed(() => {
                if(!courseDetail.value && !courseDetail.value.publish && !courseDetail.value.publish.hasPromotionOn &&  !courseDetail.value.publish.timeEndOn) return null
                const today = new Date();
                const expire = new Date(courseDetail.value.publish.timeEndOn);
                const diffTime = expire - today;
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
                if(diffDays > 0) return diffDays
                else return null
            })

            const calTimeSaleOff = computed(() => {
                if(!courseDetail.value && !courseDetail.value.publish && !courseDetail.value.publish.hasPromotionOff && !courseDetail.value.publish.timeEndOff) return null
                const today = new Date();
                const expire = new Date(courseDetail.value.publish.timeEndOff);
                const diffTime = expire - today;
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
                if(diffDays > 0) return diffDays
                else return null
            })
            const computedTotalDuration = computed(()=>{
                if(curChapters.value){
                    let minutes = 0;
                    curChapters.value.forEach(chapter => {
                        minutes += chapter.totalDuration;
                    });
                    const hours = Math.floor(minutes / 60);
                    const remainingMinutes = minutes % 60;
                    let hourMinuteFormat;
                    if(hours == 0) hourMinuteFormat = `${remainingMinutes.toString().padStart(2, '0')} phút`;
                    else hourMinuteFormat = `${hours.toString().padStart(2, '0')} giờ ${remainingMinutes.toString().padStart(2, '0')} phút`;
                   
                    return hourMinuteFormat;
                }else return null
            })

            const computedTopicCount = computed(()=>{
                if(curChapters.value){
                    let total = 0;
                    curChapters.value.forEach(chapter => {
                        total += chapter.topicsCount;
                    });
                    return total;
                }else return null
            })

            const computedChapterCount = computed(()=>{
                if(curChapters.value){
                    return curChapters.value.length;
                }else return null
            })


            //////////// REGISTER AND BUYING

            // dialog có input để nhập email, tên, sdt
            const showModalOff = ref(false);
            const showModalAuth = ref(false);
            const showModalOn = ref(false);
            const activeClass = ref(null);
            const toast = useToast();
            const registerOfflineClass = (classi) => {
                // check đã đăng nhập chưa
                if(!userData.value){
                    showModalAuth.value = true;
                    toast.info("Bạn cần đăng nhập để đăng kí lớp học offline")
                    return
                }
                activeClass.value = classi;
                showModalOff.value = true;
            }
            const purchaseOnlineClass = (classi) => {
                if(!userData.value){
                    showModalAuth.value = true;
                    toast.info("Bạn cần đăng nhập để mua khóa học online")
                    return
                }
                activeClass.value = classi;
                showModalOn.value = true;
            }
            const accessLearning = (classID) => {
                router.push({name: 'Learning', params: {classID: classID}})
            }

            //Kiểm tra xem trong openClasses có class nào mà ID trùng với 1 trong các studentRecord.classID không
            const hasPurchase = computed(()=>{  
                if(!openClasses.value || !curRecords.value) return false
                const classIDs = openClasses.value.map(cls => cls.id);
                const has = curRecords.value.findIndex((rec) => classIDs.includes(rec.classID)) > -1;
                return has
            })

            //Kiểm tra xem trong openClass có class nào mà id trùng với 1 trong các curRequests.classID không, mà request.status == accept
            const hasRegister = computed(()=>{
                if(!openClasses.value || !curRequests.value) return false
                const classIDs = openClasses.value.map(cls => cls.id);
                const has = curRequests.value.findIndex((req) => classIDs.includes(req.classID) && req.status == "accept") > -1;
                return has
            })

            const backToHome = () => {
                router.push({name: 'Home'})
            }



        return {courseDetail,formatPrice,teacherDetail,curChapters, calTimeSaleOff,calTimeSaleOn,sectionClass,scrollToList,
                openClassesOffline,openClassesOnline,formatDate,calDate, computedTotalDuration,computedTopicCount,computedChapterCount,backToHome,
                registerOfflineClass,purchaseOnlineClass,showModalOff, showModalOn,activeClass,reqStatus,showModalAuth,curRecords,accessLearning, hasRegister, hasPurchase}
    }
}
</script>

<style lang="scss" scoped>
.classCard{
    padding: 2rem !important;
    border-radius: 1.5rem;
    padding-top: 3rem !important;
}


.time-chip{
    display: flex;
    border-radius: 0.2rem;
    overflow: hidden;
    color: white;

    &.off{
        .date{
            background-color: $orange-9;
            padding: 0.3rem
        }
        .time{
            background-color: $orange-5;
            padding: 0.3rem
        }
    }
    &.on{
        .date{
            background-color: $blue-9;
            padding: 0.3rem
        }
        .time{
            background-color: $blue-5;
            padding: 0.3rem
        }
    }
}

.sectionRed{
    background-color: $color-secondary;
}
.course-detail{
    width: 100%;
    overflow-y: auto;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-body{
    padding: 4rem 0;
    padding-top: 6rem;
}

section.banner{
    margin-top: 2rem;
    .section-body{
        
    }
    
    &-content{

    }
    .subtitle{
        font-size: 1rem;
        @include gradient-text-1;
    }
    .title{
        font-size: 3rem;
        width: 70%;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    .body{
        font-family: "Averta Regular";
        margin-bottom: 2rem;
    }
    .priceTag{
        display: flex;
        margin-bottom: 2rem;
        .sale{
            font-size: 1.8rem;
            white-space: nowrap;
        }
        .real{
            position: relative;
            margin-left: 0.5rem;
            white-space: nowrap;
            transform: translateY(5px);
            color: $color-primary;
            &::after{
                content: "";
                white-space: nowrap;
                position: absolute;
                width: 100%;
                top: 0.7rem;
                left: 0;
                height: 2px;
                background-color: $color-primary;
            }
            
        }
    }
    .btn-wrapper{
        & span{
            border-radius: 10rem;
            width: 100%;
            height: 3rem;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }
        .col{
            padding: 0rem !important;
            padding-right: 0.5rem !important;
        }
        .register{
            
            background: linear-gradient(to right, #9999FF, #C1272D);
            color: white;
        }
        .ask{
            border: 1px solid black;
        }
    }

    &-gif{
        & > * {
            width: 100%;
        }
    }
    &-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        

    }
}


section.overview{
    // background-color: $color-gray-light-2;
    background-color: $color-secondary;
    .upper{
        margin-bottom: 2rem;
        .thumb{
            position: relative;
            align-items: center;
            margin-bottom: 2rem;
            img{
                width: 100%;
                border-radius: 1rem;
                @include white-shadow-1;
                z-index: 1;
                
            }
            .button-wrapper{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 2rem;
            }
            .button{
                opacity: 1;
                color: white;
                z-index: 2;
                padding: 0.7rem 1.2rem;
                color: white;
                border: 2px solid white;
                @include card-shadow-3;   
                border-radius: 10rem;
                &:hover{
                background-color: white;
                color: $color-primary;
                }

            }
        }
        .content{
            padding: 0 3rem;
            color: white;
            .title{
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            .body{  
                font-family: "Averta Regular";
            }
        }
    }

    .lower{
        .tag{
            border-top: 2px solid white;
            padding-top: 1rem !important;
            padding-bottom: 1.5rem !important;
        }
        p{
            color: $color-gray-light-1;
            font-size: 0.8rem;
            font-family: "Averta Regular";
            margin-bottom: 0.5rem;
        }
        h5{
            color: white;
            font-size: 1.5rem;
        }
        .icon-wrapper{
            display: flex;
            img{
                border-radius: 0.5rem;
                width: 2rem;
                height: 2rem;
                margin-right: 0.5em;
            }
        }
    }

}

section.author{
    .section-body{
        padding-left: 2% ;
        padding-right: 2%;
        
    }
    .title{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 4rem;
        h1{
            font-size: 2rem;
        }
    }
    .body{
        .thumb{
            position: relative;
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
            .ava{
                width: 70%;
                object-fit: cover;
                border-radius: 20rem;

            }
            .icon{
                width: 15%;
                border-radius: 10rem;
                position: absolute;
                bottom: 5%;
                right: 20%;

            }
        }
    }
    .info{
            margin-top: 1rem;
        h5{
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
        p{
            font-size: 1rem;
            font-family: "Averta Regular";
            margin-bottom: 2rem;
        }
        .contact{
            display: flex;
            a{
                margin-right: 0.8rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10rem;
                border: 2px solid black;
                img{
                    width: 1.2rem;
                    height: 1.2rem;
                }
                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
}

section.curriculum{
    background-color: $color-secondary;
    .subtitle{
        font-size: 1rem;
        @include gradient-text-1;
        letter-spacing: 2px;
    }
    .title-wrapper{
        display: flex;
        justify-items: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .title{
        font-size: 2.5rem;
        margin-bottom: 5rem;
        color: white;
    }
    .body{

    }
    .lesson{
        &-card{ 
            margin-bottom: 8rem;
        }
        &-content{
            color:white;
        }
        &-number{
            font-size: 0.8rem;
            letter-spacing: 2px;
            background: linear-gradient(to right, #9999FF, #C1272D);
            color: white;
            display: inline;
            padding: 0.5rem 1rem;
            border-radius: 10rem;
        }
        &-title{
            margin-top: 1rem;
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
        }
        &-detail{   
            font-family: "Averta Regular";
        }
        &-thumbnail{
            padding-top: 3.2rem;
            padding-left: 2rem;
        }
        &-recordThumb{
            width: 100%;
            @include white-shadow-1;
            border-radius: 1rem;

        }
    }
    .button{
        &-wrapper{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &-more{
            padding: 0.7rem 1.2rem;
            border: 2px solid white;
            border-radius: 10rem;
            color: white;
            &:hover{
                background-color: white;
                color: $color-primary;
            }
        }
    }
}

section.showreel{
    .title-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .title{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .body{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        p{
            width: 60%;
            text-align: center;
            font-family: "Averta Regular";
        }
    }
    .playlist{
        
    }
    .video-container{
        position: relative; 
        padding-bottom: 56.25%;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }
    .video{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
    }

}

section.cta{
    position: relative;
    overflow: hidden;

    .lottie-bg{
        position: absolute;
        @include center-1;
        width: 100%;

    }
    background-color: $color-secondary;
    .course-card{
        position: relative;
        z-index: 1;
        width: 100%;
        background-color: white;
        border-radius: 1.5rem;
        @include card-shadow-1;
        margin-bottom: 3rem;
        .thumb{
            width: 100%;
            padding: 0.5rem;
            img{
                width: 100%;
                border-radius: 1.5rem;
                
            }
        }
        .content{
            padding: 2rem 2.5rem;
            li{
                display: flex;
                margin-bottom: 0.57rem;
                i{
                    width: 3rem;
                    color: $color-green;
                }
                p{  
                    font-family: "Averta Regular";
                }
            }
        }

    }
    .course-info{
        width: 100%;
        padding: 0 2rem;
        position: relative;
        z-index: 2;
        .subtitle{
            @include gradient-text-1;
        }
        .title{ 
            font-size: 2.8rem;
            color: white;
            line-height: 1.2;
            margin-bottom: 3rem;
        }
        .body{
            color: white;
            font-family: "Averta Regular";
            margin-bottom: 3rem;

        }
        .info{
            color: white;
            padding: 0.5rem;
            div{
                padding: 0.5rem;
                
            }

            .pill{
                width: 100%;
                height: 100%;
                border: 1.5px solid white;
                padding: 1rem;
                border-radius: 0.5rem;
                
            }
            p{
                color: $color-gray-dark;
                font-family: "Averta Regular";
                font-size: 0.9rem;
            }
            h5{ 
                font-size: 1.2rem;
            }
        }
        .priceTag{
            display: flex;
            margin-bottom: 2rem;
            
            .sale{
                @include gradient-text-1;
                margin-right: 0.5rem;
                font-size: 2rem;


            }
            .real{
                position: relative;
                margin-left: 0.5rem;
                white-space: nowrap;
                transform: translateY(5px);
                color: white;
                &::after{
                    content: "";
                    white-space: nowrap;
                    position: absolute;
                    width: 100%;
                    top: 0.7rem;
                    left: 0;
                    height: 2px;
                    background-color: white;
                }
            }
        }
        .register-btn{
            border-radius: 10rem;
            background: linear-gradient(to right, #9999FF, #C1272D);
            color: white;
            display: inline;
            padding: 0.7rem 1.2rem;
            border-radius: 10rem;
            font-size: 1.2rem;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }
        .refund{
            margin-top: 4rem;
            display: flex;
            background-color: rgba(0, 0, 0, 0.106);
            padding: 1.5rem;
            border-radius: 1rem;
            
            .icon{
                margin-right: 1.5rem;
                img{
                    width: 4rem;
                    height: 4rem;

                }
            }
            .content{
                color: white;
                h5{
                    margin-bottom: 0.5rem;
                    font-size: 1rem;
                }
                p{
                    font-family: "Averta Regular";
                }
            }
        }
    }
}



section.footer{
    padding: 2rem 0;
    background-color: #510003;
    .back-button{
        padding: 1rem;
        display: flex;
        color: white;
        font-size: 1.2rem;
        i{
            margin-right: 1rem;
        }

    }
}

</style>