<template>
    <div class="page mycourse">
        <div class="wrapper">
            <img src="@/assets/anim/bunnyInDev.gif" alt="Tính năng đang được 'tích cực' phát triển">
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>
.mycourse{
  width: 100%;
  height: 100%;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 60%;
  }
}
</style>