<template>
  <div class="full-screen v-auto-animate bg-primary row flex-center">
    <LoadingOverlay v-if="isPending"/>
    <q-card v-else-if="paymentSuccess" v-auto-animate class="login-card q-pa-xl fixed-center col-xs-11 col-sm-8 col-md-6 shadow-5 round-border" style="max-width: 600px;" rounded>
      <q-card-section>
        <div class="text-h5 text-weight-bold text-center">Thanh toán thành công</div>
      </q-card-section>
      <q-card-section>
        <div class="text-h6 text-weight-bold text-center">Cảm ơn bạn đã mua khoá học của chúng tôi</div>
      </q-card-section>
      <q-card-actions align="center">
        <q-btn color="primary" label="Quay lại trang chủ" to="/" />
      </q-card-actions>
    </q-card>

    <q-card v-else v-auto-animate class="login-card q-pa-xl fixed-center col-xs-11 col-sm-8 col-md-6 shadow-5 round-border" style="max-width: 600px;" rounded>
      <q-card-section>
        <div class="text-h5 text-weight-bold text-center">Thanh toán thất bại</div>
      </q-card-section>
      <q-card-section>
        <div class="text-h6 text-weight-bold text-center">{{ error }}</div>
      </q-card-section>
      <q-card-actions align="center">
        <q-btn color="primary" label="Quay lại trang chủ" to="/" />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script setup>
import { ref , computed, onMounted} from 'vue'
import LoadingOverlay from '@/components/Base/LoadingOverlay.vue'
import {useRouter,useRoute} from 'vue-router'
import { useStore } from 'vuex';

//Lấy kết quả thanh toán
const isPending = ref(true)
const paymentSuccess = ref(false)
const error = ref("")
const route = useRoute()
const store = useStore()

onMounted(()=> {
  store.dispatch("order/getVnpayReturn",{query: route.query}).then(code => {
    if(!code || code !== "00"){
      //Thanh toán thất bại
      paymentSuccess.value = false
      switch(code){
        case "97":
          error.value = "Chữ kí không hợp lệ"
          break
        case "24":
          error.value = "Khách hàng hủy giao dịch"
          break
        case "99":
          error.value = "Không xác định được lỗi"
          break
        case false:
        default:
          error.value = "Không có giao dịch nào"
          break
      }

      isPending.value = false
    }else{
      //Thanh toán thành công
      paymentSuccess.value = true
      error.value = ""
      isPending.value = false
    }
  })
})




</script>

<style lang="scss" scoped>
.round-border{
  border-radius: 1rem;
}
.full-screen{
  width: 100vw;
  height: 100vh;
  position: relative;
}
</style>
