<template>
  <div class="chatroom page">
    <!-- <form @submit.prevent="uploadFile">
      <input type="file" name="upload" id="" @change="onFileSelected">
      <button>Upload</button>
    </form> -->
    <div class="wrapper">
      <img src="@/assets/anim/bunnyInDev.gif" alt="Tính năng đang được 'tích cực' phát triển">
    </div>
  </div>
</template>

<script>
  import axios from "axios"
  import {ref} from "vue"
  export default {
      setup(){
        /*
        let selectedFile = null
        let fileName = null;

        const onFileSelected = (event)=> {
          selectedFile = event.target.files[0];
          fileName = event.target.files[0].name
          console.log(selectedFile, fileName);
        }

        const uploadFile = async () => {
          try{
            let data = new FormData();
            console.log(selectedFile);
            data.append("upload",selectedFile);
            data.append("filename",fileName);
            data.append("message","okay done")
            const result = await axios.post("http://localhost:3000/api/file/uploadImg",data);
            console.log(result);
          }catch(err){
            console.log(err.message);
          }

        }
        */


        return {}
      }

  }


</script>

<style lang="scss" scoped>
.chatroom{
  width: 100%;
  height: 100%;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 60%;
  }
}
</style>