<template>
    <div class="page labo" v-if="studentRecord">
        <div class="left-section overflowList">
            <div class="media-container">

                    <div class="media-wrapper" id="media-wrapper">
                        <YoutubePlayer
                          v-if="activeVideoId"
                          :vidId="activeVideoId"
                          :lessonId="activeLessonId"
                          :key="activeVideoId" 
                          @updateTime="updateTime"
                          @setNewPlayer="setNewPlayer"/>
                    </div>
                    
                    <!-- ĐỐI VỚI VIDEO THƯỜNG -->
                    <div class="media-content" v-if="activeVideo && activeVideo.type == 'vid'">
                        <div class="media-thumb" v-if="activeChannel && activeChannel.thumbnail">
                            <img :src="activeChannel.thumbnail.medium.url" alt="">
                        </div>
                        <div class="media-info" v-if="activeVideo">
                            <p class="media-title">{{activeVideo.title}}</p>
                            <p class="media-channel">{{activeVideo.channelName}}</p>
                        </div>
                        <TransitionGroup
                          tag="div"
                          name="complete"
                          mode="out-in"
                          :class="[{'pending' : isPending},{'complete': isActiveVideoComplete},'media-complete','a-btn-hover']"
                          @click="toggleCheck" >
                                <span v-if="!isActiveVideoComplete && !isPending">Đánh dấu hoàn thành</span>
                                <span v-if="isPending">
                                    <q-spinner
                                        color="white"
                                        size="30px"
                                    />
                                </span>
                                <span v-if="isActiveVideoComplete && !isPending">Bỏ đánh dấu hoàn thành</span>
                        </TransitionGroup>
                    </div>

                    <!-- ĐỐI VỚI VIDEO QUAY -->
                    <div class="media-content" v-if="activeVideo && activeVideo.type == 'rec'">
                        <div class="lesson-title" v-if="activeLesson">
                            <h2 class="number">Bài {{activeLesson.number}}</h2>
                            <h2 class="name">{{activeLesson.name}}</h2>
                        </div>
                    </div>



            </div>
            <div class="tool-container">
                <div class="tool-wrapper">
                    <div class="tool-nav">
                        <div @click="activateTab('description')" :class="[{active: activeTab == 'description'},'tool-tab']"> <p>Mô tả</p> </div>
                        <div @click="activateTab('note')" :class="[{active: activeTab == 'note'},'tool-tab']"> <p>Note</p> </div>
                        <div @click="activateTab('question')" :class="[{active: activeTab == 'question'},'tool-tab']"> <p>Hỏi Đáp</p> </div>
                    </div>
                    <div class="tool-content">
                        <VideoContent
                          :activeVideo="activeVideo"
                          :activeVideoId="activeVideoId"
                          :activeTab="activeTab"
                          :activeLesson="activeLesson"
                          />
                    </div>
                </div>
            </div>

        </div>
        <div class="container-right-section" ref="playlistRef">
            <span class="closeBtn" @click="togglePlaylist">
                <i class="material-icons">keyboard_arrow_right</i>
            </span>
            <div class="right-section" id="right-section">

                <div class="prg-container">
                    <div class="prg-circle">
                        <q-circular-progress
                            :value="percent"
                            size="40px"
                            :thickness="0.2"
                            color="orange"
                            track-color="grey-3"
                            center-color="primary"
                            
                        />
                        <div class="prg-trophy">
                                <svg  width="20" height="20" viewBox="0 0 50 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M47.1819 4.5H38.2925V1.6875C38.2925 0.752344 37.378 0 36.2412 0H12.9921C11.8553 0 10.9407 0.752344 10.9407 1.6875V4.5H2.05139C0.914576 4.5 0 5.25234 0 6.1875V10.125C0 12.6352 1.92317 15.2156 5.29087 17.2055C7.98331 18.8016 11.257 19.8141 14.6931 20.1375C17.3769 23.8008 20.5139 25.3125 20.5139 25.3125V30.375H16.4111C13.3938 30.375 10.9407 31.8305 10.9407 34.3125V35.1562C10.9407 35.6203 11.4023 36 11.9664 36H37.2668C37.831 36 38.2925 35.6203 38.2925 35.1562V34.3125C38.2925 31.8305 35.8394 30.375 32.8222 30.375H28.7194V25.3125C28.7194 25.3125 31.8563 23.8008 34.5402 20.1375C37.9848 19.8141 41.2585 18.8016 43.9424 17.2055C47.3015 15.2156 49.2333 12.6352 49.2333 10.125V6.1875C49.2333 5.25234 48.3187 4.5 47.1819 4.5ZM8.48761 13.5563C6.40203 12.3188 5.47036 10.9406 5.47036 10.125V9H10.9578C11.0433 11.2922 11.4536 13.3031 12.0519 15.0609C10.7612 14.6953 9.55604 14.1891 8.48761 13.5563ZM43.7629 10.125C43.7629 11.257 42.25 12.6633 40.7457 13.5563C39.6772 14.1891 38.4635 14.6953 37.1728 15.0609C37.7711 13.3031 38.1814 11.2922 38.2669 9H43.7629V10.125Z" fill="white"/>
                                </svg>
                        </div>
                    </div>
                    <p class="prg-text">Tiến độ tự học ({{ percent.toFixed(1) }}%)</p>
                    <div class="prg-icon">
                        <i class="material-icons">expand_more</i>
                    </div>
                </div>

                <div class="pl-container">
                    <div class="pl-header">
                        <p>Danh sách bài học (9 bài)</p>
                    </div>

                    <div>
                        <ul class="collapsible">
                            <LessonPlaylistCard
                            v-for="lesson in lessons" :key="lesson.id"
                            :id="lesson.id"
                            :lesson="lesson"
                            :isUnlock="checkUnlock(lesson.number)" 
                            :videoRecords="videoRecords"
                            :studentRecord="studentRecord"
                            :activeVideoId="activeVideoId"
                            :activeLesson="activeLesson"
                            :activeVideo="activeVideo"
                            />
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {useStore} from 'vuex'
    import { computed,ref,watch, watchEffect, onMounted, watchPostEffect } from 'vue'
    import {useRouter} from 'vue-router'
    import _ from 'lodash'
    import LessonPlaylistCard from "@/components/Labo/LessonPlaylistCard.vue"
    import YoutubePlayer from "@/components/Labo/YoutubePlayer.vue"
    import VideoContent from "@/components/Labo/VideoContent.vue"


    export default {
        components: {LessonPlaylistCard,YoutubePlayer,
                    VideoContent},
        setup(props) {
            const store = useStore();
            const router = useRouter();
            
            
            ///////////////Mới chạy vào router thì load về tiến độ học, từ studentRecord => activeVideoId,activeLessonId và các thằng phụ thuộc vào 2 thằng này đc load ra
            const userData = computed(()=>store.getters['user/getUserData']);
            watchEffect(async()=>{
                if(userData.value){
                    store.dispatch("user/loadStudentRecord",{
                        classID: store.getters['user/getClassID'],
                        studentID: store.getters['user/getCurrentUser'].uid
                    });
                }
            });


            // load lesson theo trình tự, bài đc mở khoá, tiến độ học của học viên, playlist, danh sách video quay => để tính toán ra các activeVideo và truyền trong v-for
            const lessons = computed(()=> _.orderBy(store.getters['lessons/getList'], ['number'],['asc']) || []);
            const unlockLessons = computed(()=> store.getters['lessons/getUnlockList'] || []);
            const studentRecord = computed(()=> store.getters['user/getStudentRecord'])
            const videoRecords = computed(()=> store.getters['class/getVideoRecords']);

            //load tổng video trong tất cả bài + tiến độ học tất cả bài từ studentRecord
            const completeCount = computed(()=>store.getters['user/getAllCompleteCount']);
            const playlistCount = computed(()=>store.getters['lessons/getAllPlaylistCount']);
            const percent = computed(()=> completeCount.value/playlistCount.value * 100);

            //hai biến active này cắm thẳng vào store, thay đổi gì ảnh hưởng tới video active trong store cũng sẽ tự cập nhật

            const activeVideoId = computed(()=>store.getters['user/getActiveVideoId']);
            const activeLessonId = computed(()=>store.getters['user/getActiveLessonId']);
            const activeVideo = computed(()=> store.getters['lessons/getVideoFromId'](activeLessonId.value, activeVideoId.value));
            const activeChannel = ref(null);
            const activeLesson = ref(null);

            //// BIẾN REACTIVE


            //ActiveLesson
            watchEffect(async()=>{
                if(lessons.value.length && activeLessonId.value){
                    activeLesson.value = store.getters['lessons/getLessonFromId'](activeLessonId.value);
                }
            })  


            //ActiveVideo
            watchEffect(async ()=> {
                if(activeVideo.value){
                    activeChannel.value = await store.dispatch('lessons/loadChannel',{
                        channelId : activeVideo.value.channelId
                    })
                }
                
            })


            const firstLoadVideo = computed(()=> store.getters['user/getFirstLoadNext']);

            ////////LOGIC CHECK HOÀN THÀNH VIDEO

            const isActiveVideoComplete  = ref(false);
            const isPending = ref(false);

            //////////Load lại check mỗi khi đổi bài mới và load lần đầu khi vào trang
            ////////// 1.Check video hiện tại hoàn thành chưa
            ////////// 2. Cập nhật videoId và lessonID kế tiếp và trước đó
            
            watchEffect(()=>{
                let curVidId = activeVideoId.value;
                let curLesson = activeLesson.value;   
                let curRecord =  studentRecord.value;
                if(curVidId && curRecord && curRecord.lessonCompleted && curLesson){
                    //1.
                    if(!curRecord.lessonCompleted[curLesson.number]){
                        isActiveVideoComplete.value = false;

                    }else if( curRecord.lessonCompleted[curLesson.number].includes(curVidId)) {
                        isActiveVideoComplete.value = true;
                    }else{
                        isActiveVideoComplete.value = false;
                    }
                }else isActiveVideoComplete.value = false
            })

            //Điều hướng kích hoạt hay bỏ kích hoạt
            const toggleCheck = () => {
                if(isActiveVideoComplete.value){
                    _disableCompleteVideo()
                }else _activateCompleteVideo();
            }
            //Kích hoạt hoàn thành
            const _activateCompleteVideo = () => {
                isPending.value = true;
                store.dispatch('user/activateCompleteVideo',{
                    videoId: activeVideoId.value,
                    lessonNumber: activeLesson.value.number
                }).then((res)=> {
                    isPending.value = false
                    if(res){
                        isActiveVideoComplete.value = true;
                    }
                })
            }
            //Bỏ kích hoạt hoàn thành
            const _disableCompleteVideo =() =>{
                isPending.value = true;
                store.dispatch('user/disableCompleteVideo',{
                    videoId: activeVideoId.value,
                    lessonNumber: activeLesson.value.number
                }).then((res)=> {
                    isPending.value = false
                    if(res){
                        isActiveVideoComplete.value = false;
                    }
                })
            }


            //Tab active ở dưới video
            const activeTab = ref("description");
            const activateTab = (tab) => { 
                activeTab.value = tab;
            }
            const checkUnlock = (number)=>{
                return unlockLessons.value.includes(Number(number))
            }


            //Các biến và hàm liên quan tới player YT đang chạy
            const player = computed(()=> store.getters['player/getPlayer']);
            const currentTime = computed(()=> store.getters['player/getCurrentTime']);
            const duration = computed(()=> store.getters['player/getDuration']);
            const updateTime = (time,duration) => {
                store.commit("player/setCurrentTime",time);
                store.commit("player/setDuration",duration);
                
            }
            const setNewPlayer = (newPlayer) => {                
                store.commit('player/resetPlayer')
                store.commit('player/setPlayer',newPlayer);
            }

            //ĐÓNG THẺ PLAYLIST
            const playlistRef = ref(null)
            const togglePlaylist = () => {
                playlistRef.value.classList.toggle("close");
            }


            return {studentRecord,videoRecords,lessons,completeCount,playlistCount,percent,userData,
                    activeVideoId,activeLessonId,activeVideo,activeChannel,activeLesson,isActiveVideoComplete,
                    playlistRef,togglePlaylist,
                    activeTab,
                    player,currentTime,duration,updateTime,setNewPlayer,
                    checkUnlock,toggleCheck,isPending,
                    activateTab,
                    }
        }
    }
</script>

<style lang="scss" scoped>

//Animation cho nút đánh dấu
.complete-enter-from{
    opacity: 0;
}
.complete-leave-to{
    opacity: 0;
}
.complete-enter-to,
.complete-leave-from{
    opacity: 1;

}
.complete-enter-active{
    @include transition;
}
.complete-leave-active{
    @include transition;
    position: absolute;
}
.complete-move{
    @include transition;
}


//TRANSITION CHO NUST HOAN THANH
.media-complete{
    margin-right: 0.5rem;
    background: rgba($color: #ffffff, $alpha: 0.5);
    width: 12rem;
    height: 2.5rem;

    border-radius: 5px;
    margin-top: 0.5rem;
    @include transition;
    color: $color-primary;
    span{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &:hover{
        background: rgba($color: #ffffff, $alpha: 1);
        color: $color-green;
    }

    &.pending{
        width: 5rem;
    }
    &.complete{
        background: $color-green;
        color: white;
        width: 13rem;
    }
}


.page.labo{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 !important;

}
.left-section{
    width: 100%;
    padding: 1rem 0rem 0 1rem;
    height: 100vh;
    overflow-y:scroll;
    position: relative;
}



.container-right-section{
    width: 30%;
    height: 100%;
    opacity: 1;
    position: relative;
    z-index: 2;
    @include transition-1;
    &.close{
        width: 0%;
        & .closeBtn{
            left: -3rem;
            & i{
                transform: translate(-50%,-50%) rotate(180deg);
            }
        }
        & .right-section{
            transform: translate(50%,0);
            
        }
    }
}
.closeBtn{
    z-index: 2;
    height: 4rem;
    width: 1.5rem ;
    background-color: $color-gray-light-2;
    border-radius: 3px;
    position: absolute;
    left: 0rem;
    top: 23%;
    color: black;
    cursor: pointer;
    @include transition-2;
    & i{
        @include transition-2;
        @include center-1;
        transform: translate(-50%,-50%) rotate(0deg);
    }
}


.right-section{
    height: 100%;
    min-width: 19rem;
    padding-top: 1rem;
    margin-left: 0.8rem;
    overflow-y: auto;
    padding-left: 1.5rem;
    @include transition-1;
    opacity: 1;
}


.media{
    &-container{
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: 1.5rem;
    }
    &-wrapper{
        width: 100%;
        background-color: black;
        padding-top: 56.25%;
        position: relative;
    }
    &-content{
        background-color: $color-primary;
        display: flex;
        color: white;
        padding: 0.5rem;
        padding-bottom: 0.8rem;
        align-items: flex-start
    }
    &-thumb{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 3.5rem;
        margin-right: 0.5rem;
        & img{
            width: 75%;
            border-radius: 10rem;
        }
    }
    &-info{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-right: auto;
    }
    &-title{
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 0.2rem;
    }
    &-channel{
        font-family: "Averta Regular";
        font-size: 0.7rem;
    }



}

//Video quay
.lesson-title{
    display: flex;
    padding: 0.5rem 1.2rem;
    
    h2{
        font-size: 1.2rem;
        margin-right: 1rem;
    }
    .number{
        padding: 0.3rem 0.5rem;
        border-radius: 0.2rem;
        background-color: white;
        color: $color-primary;
    }
    .name{
        transform: translateY(0.3rem);
    }
}

.tool{
    &-container{
        margin-left: 1.3rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &-wrapper{
        width: 90%;
        max-width: 90rem;
    }
    &-nav{
        display: flex;
        margin-bottom: 1.3rem;
    }
    &-tab{
        margin-right: 2rem;
        color: $color-gray-dark;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        @include transition;
        &.active{
            color: $color-primary;
            border-bottom: 3px solid $color-primary;
        }
    }
    &-content{

    }
}

.prg{
    &-container{
        background-color: $color-primary;
        // @include card-shadow;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 0.8rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        
    }
    &-circle{
        position: relative;
        margin-right: 1rem;
    }
    &-round{
        width: 5rem;
    }
    &-trophy{
        position: absolute;
        top: 0.8rem;
        left: 0.7rem;
    }
    &-text{
        color: white;
        font-size: 0.9rem;
        margin-right: auto;
    }
    &-icon{
        display: flex;
        justify-content: center;
        margin-left: 0.5rem;
        & i{
            color: white;
        }
    }
}
.pl{
    &-container{
        background-color: white;
        @include card-shadow-1;
        border-radius: 1rem 0 0 1rem;
        overflow: hidden;
        & .collapsible{
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
        }
        & .collapsible-header{
            border-bottom: 1px solid $color-gray-dark;
        }

    }
    &-header{
        padding: 1.2rem 1rem;
        display: flex;
    }

}

</style>