<template>
        <router-view v-slot="{ Component }">
            <transition name="fade" mode="out-in">
            <component :is="Component" />
            </transition>
        </router-view>
</template>

<script>
    import {useStore} from 'vuex'
    import {onMounted,watchEffect,computed} from 'vue'
    export default {
        setup(props){
            const store = useStore();
            const userData = computed(()=> store.getters['user/getUserData']);
            watchEffect(()=>{
                if(userData.value !== null){
                    //Cập nhật lại classID, courseID tại đây vào userData
                    
                     
                    //load những thứ quan trọng để học khóa học cụ thể, lúc này classID, courseID đã đc cập nhật vào userData như là active rồi
                    store.dispatch('lessons/firstLoadLesson');
                    store.dispatch('lessons/firstLoadUnlock');
                    store.dispatch('course/firstLoadCourse');
                    store.dispatch('class/firstLoadClass');
                    store.dispatch('works/firstLoadWorks');
                    store.dispatch("user/loadStudentRecord",{
                        classID: store.getters['user/getClassID'],
                        studentID: store.getters['user/getCurrentUser'].uid
                    });
                }
            });
        return{}
        }
    }
</script>

<style lang="scss" scoped>
.page{
  padding: 1.5rem;
}

.fade-enter, .fade-leave-to{
  opacity: 0;
  transform: translateY(2em);
}

.fade-enter-active, .fade-leave-active{
  transition: all 0.6s cubic-bezier(.66,-0.95,.34,1.76);
}
</style>