<template>
    <div id="user">
        <SidenavUser />

        <router-view v-slot="{ Component }">
            <transition name="fade" mode="out-in">
            <component :is="Component" />
            </transition>
        </router-view>

        
    </div>

</template>

<script>
import SidenavUser from '@/components/SidenavUser'
import {useStore} from 'vuex'
import { computed, watchEffect } from 'vue'
import {useRouter} from 'vue-router'
export default {
  components:{
    SidenavUser,
  },
  setup(props) {
      //load lần đầu và setup listener để cập nhật vào store
      const store = useStore();
      const router = useRouter();
      // phải có user trước thì mới có tất cả các cái tiếp theo
      const userData = computed(()=> store.getters['user/getUserData']);
    return {}
  }

}
</script>
<style lang="scss" scoped>
#user{
    display: flex;
    width: 100vw;
    height: 100%;
}

.page{
  padding: 1.5rem;
}

.fade-enter, .fade-leave-to{
  opacity: 0;
  transform: translateY(2em);
}

.fade-enter-active, .fade-leave-active{
  transition: all 0.6s cubic-bezier(.66,-0.95,.34,1.76);
}
</style>
  