<template>
    <div class="work-card">
        
        <div class="file-card">
            <div class="file-thumb" @click="toggleModal(true)">
                    <div class="thumb-filter"></div>
                    <img class="thumb-img" :src="work.thumbnailUrl" alt="">
                    <div class="thumb-number">Bài {{work.lessonNumber}}</div>
                    <div class="thumb-length">{{work.workDuration}}</div>
                    <div class="thumb-play">
                        <i class="material-icons">play_circle</i>
                    </div>
            </div>
            <div class="file-content">
                <div class="file-ava" v-if="!work.avaURL">
                    <Image class="ava-img" :refUrl="work.avaRef" />
                </div>
                <div class="file-ava" v-else>
                    <img :src="work.avaURL" alt="">
                </div>
                <div class="file-info">
                    <h5 class="file-student">{{work.studentFullName || "Nghệ sỹ ẩn danh"}}</h5>
                    <p class="file-class">{{work.classID}} - {{dateStyle}}</p>
                </div>
                <div class="file-rate" v-if="work.score">
                    <p class="score">{{work.score}}</p>
                    <i class="material-icons">star</i>
                </div>
            </div>
        </div>
    </div>
    <VideoPlayer @closeModal="toggleModal" :showModal="showModal" :work="work" />
</template>

<script>
import { computed,ref } from 'vue'
import {formatDistanceToNow} from 'date-fns'
import VideoPlayer from '@/components/Work/VideoPlayer.vue'
export default { 
    props:['work'],
    components:{VideoPlayer},
    setup (props) {
        const dateStyle = computed(()=>{
            var time = props.work.createdAt;
            if(time && time != 'Just now'){
                time = (formatDistanceToNow(time.toDate()));
            }
            return time
        })

        //Handle modal player
        const showModal = ref(false);
        const toggleModal = (state)=>{
            showModal.value = state;
            console.log(showModal.value);
        }

        return {dateStyle,showModal,toggleModal}
    }
}
</script>

<style lang="scss" scoped>

.file{
        &-card{
        -webkit-backface-visibility: hidden;
        -webkit-transform: perspective(1000px);
        background-color: white;
        border-radius: 1rem;
        @include card-shadow-1;
        height: 12rem;
        width: 20rem;
        padding: 0 1rem 1rem 1rem;
        position: relative;
        display: flex;
        align-items: flex-end;
        @include transition;

        margin-right: 1rem;
        margin-bottom: 5rem;
        cursor: pointer;
        &:hover{
            @include hover-2
        }
        &:hover .thumb-filter{
            opacity: 20%;
        };
        &:hover .thumb-play {
            opacity: 100%;
        }
        &:hover .thumb-remove {
            opacity: 100%;
        }


    }
    &-thumb{
        width: 90%;
        position: absolute;
        @include center-1;
        top: 18%;
        left: 50%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;

        & .thumb{
            &-filter{
                background-color: black;
                opacity: 0%;
                width: 100%;
                height: 100%;
                position: absolute;
                @include transition;
                top: 0;
                left: 0;
                border-radius: 15px;
            }
            &-img{
                width: 100%;
                max-height: 155px;
                object-fit: cover;
            }
            &-number{
                position: absolute;
                top: 0;
                left: 0;
                background-color: $color-primary;
                padding: 2px 10px;
                border-radius: 10px 0 10px 0;
                color: white;
            }
            &-length{
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: black;
                padding: 2px 10px;
                border-radius: 10px 0 10px 0;
                color: white;

            }
            &-play{
                @include center-1;
                @include transition;
                opacity: 0%;
                color: white;
                & i{
                    font-size: 3rem;
                }
            }
            &-remove{
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 0 10px 0 10px;
                opacity: 0;
                @include transition;
                &:hover > i{
                    @include hover-1
                }
                & i{
                    @include transition;
                    color: white;
                }
            }
        }
    }
    &-content{
        display: flex;
        align-items: center;
        width: 100%;
    }
    &-ava{
        width: 2.3rem;
        height: 2.3rem;
        border-radius: 5px;
        background-color: $color-primary;
        margin-right: 1rem;
        & img{
            width: 100%;
            transform: scale(1.4) translate(0,-5px);
        }
    }
    &-info{
        margin-right: auto;
    }
    &-student{
        font-size: 1.2rem;
    }
    &-class{
        font-size: 0.8rem;
        color: $color-gray-dark;
    }
    &-rate{
        display: flex;
        align-items: center;
        color: $color-orange;
        & p{

        }
        & i{
            font-size: 1rem;
        }
    }
}
</style>