<template>
    <teleport to="#modal">
        <transition name="fadeModal" appear>
            <div
                v-if="showModal"
                class="modal-back"
                @click="closeModal"
            ></div>
        </transition>

        <transition name="slideModal" appear>
            <div v-if="showModal" class="modal-card card">

                <div class="login-form">
                        <form @submit.prevent="handleSubmit">
                                <div class="row wrapper-emal">
                                    <div class="input-field col s12">
                                        <input id="login-email" type="email" class="validate" v-model="email" required>
                                        <label class="active"  for="login-email">Email</label>
                                    </div>
                                </div>
                                <div class="row wrapper-password">
                                    <div class="input-field col s12">
                                        <input id="login-password" type="password" class="validate" v-model="password" required>
                                        <label class="active"  for="login-password">Password</label>
                                    </div>
                                </div>
                                <TransitionGroup tag="div" name="show" mode="out-in">
                                    <div key="1" class="wrapper-error"  v-if="errLogin">
                                            <i class="material-icons">info</i>
                                            <p>{{errLogin}}</p>
                                    </div>
                                    <div key="2" class="wrapper-error"  v-if="error">
                                            <i class="material-icons">info</i>
                                            <p>{{error}}</p>
                                    </div>
                                    <div key="3" class="row">
                                        <button class="waves-effect waves-light btn red darken-4 btn-large">Đăng nhập</button>
                                    </div>
                                    <div key="4" class="row center">
                                        <div class="no-account">
                                            <h6>Bạn chưa có tài khoản? Đăng kí tài khoản mới</h6> <h6 class="here" @click="changeSignup">tại đây</h6>
                                        </div>
                                    </div>
                                </TransitionGroup>
                        </form>
                    </div>
            </div>
        </transition>
    </teleport>
</template>

<script>
import {ref,onMounted} from 'vue'
import {useRouter} from 'vue-router'
import useLogin from '@/composable/useLogin'
import useLogout from '@/composable/useLogout'
import {useStore} from 'vuex'
import getUser from '@/composable/getUser'
import {useToast} from 'vue-toastification';


export default {
    emits: ['closeModal'],
    props: ["showModal"],
    setup (props,context) {
            
            const email = ref("");
            const password = ref("");
            const {user,isAdmin,isTeacher} = getUser();  // dặt sẵn biến và khởi tạo 1 hàm onAuth ở đây đã để login hay logout gì nó cũng sẽ load lại user và check admin

            const router = useRouter();
            const error =ref(null);
            const {login, error : errLogin} = useLogin();
            const {logout, error :errLogout} = useLogout();
            const store = useStore();
            const toast = useToast();

            const handleSubmit = async () => {
                store.dispatch('user/resetUser');
                error.value = null;
                errLogin.value = null; 

                const res = await login(email.value,password.value);  //khi login đổi user thì onAuthStateChange ở main ko chạy, nhưng chạy trong getUser
                if(!errLogin.value){

                    //check emailVerified ở đây
                    if(!res.user.emailVerified){
                        res.user.sendEmailVerification().then(()=>{
                            error.value = "Bạn kiểm tra email xác nhận tài khoản và đăng nhập lại nhé"
                            logout();
                        })
                    }else{ // nếu đã verified
                        //Nếu chưa bổ sung thông tin


                        await store.dispatch('user/updateUserData',{user: user.value, isAdmin : isAdmin.value, isTeacher: isTeacher.value});
                        //login thành công và ko ném ra bất cứ lỗi nào
                        if(!error.value){
                            if(isAdmin.value || isTeacher.value) {
                                router.push({name: 'ClassManage'});
                            }else if(store.getters['user/getUserData'].isNewUser){
                                closeModal();
                                toast.success("Đăng nhập thành công!");
                                router.push({name:'NewUser'});
                            }else{
                                closeModal();
                                toast.success("Đăng nhập thành công!");
                                router.push({name:'User'});
                            }
                        }
    
                    }

                }


            }

            const closeModal = ()=> {
                context.emit("closeModal");
            }
            return {handleSubmit,email,password,error,errLogin,closeModal}
        

    }
}
</script>

<style lang="scss" scoped>
//ANIMATION
.show-enter-from,
.show-leave-to{
    opacity: 0;
    transform: scale(0.6);
}
.show-enter-to,
.show-leave-from{
    opacity: 1;
    transform: scale(1);
}
.show-enter-active{
    @include transition-3;
}
.show-leave-active{
    @include transition-3;
    position: absolute;
}
.show-move{
    @include transition;
}


.modal-back {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 98;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .fadeModal-enter-from,
    .fadeModal-leave-to {
        opacity: 0;
    }

    .fadeModal-enter-active,
    .fadeModal-leave-active {
        transition: opacity 0.5s;
    }

    //////////////////// MODAL ////////////////////
    .modal-card {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        border-radius: 1rem;
        padding: 4rem 3rem;

        width: 100%;
        max-width: 40rem;
    }

    .slideModal-enter-from,
    .slideModal-leave-to {
        transform: translateX(-50%) translateY(100vw);
    }

    .slideModal-enter-active,
    .slideModal-leave-active {
        transition: transform 0.5s;

    }

    //LOGIN_ CARD
    .no-account{
        display: flex;
        justify-content: center;
        h6.here{
            font-family: "Averta Bold";
            color: $color-primary;
            margin-left: 0.5rem;
            text-decoration: underline;
            cursor: pointer;
        }
        margin-bottom: 10px;
    }
    button{
        width: 100%;
        font-family: "Averta Semi Bold";
        border-radius: 8px;
    }

    .wrapper{
        &-email{
            margin-top: 1rem;
        }
        &-password{

        }
        &-error{
            width: 100%;
            padding: 1rem;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: rgba(255, 0, 0, 0.195);
            border: 2px solid $color-primary;
            border-radius: 10px;
            color: $color-primary;
            margin-bottom: 2rem;
                & i{
                    width: 10%;
                }
                & p{
                    width: 90%;
                    
                }
        }

    }

    input{
        border-radius: 5px !important;
        padding-left: 1rem !important;
    }
    label{
        margin-bottom: 0.5rem !important;
    }
</style>