<template>
    <label class="check-container">
        <input type="checkbox" checked="checked">
        <span class="check-checkmark"></span>
    </label>
</template>

<script>
import { computed } from '@vue/runtime-core'
export default {
    props: ['check'],
    setup (props) {
        return {}
    }
}
</script>

<style lang="scss" scoped>
.check-container {
  display: block;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 12px;
  width: 1.8rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.check-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .check-checkmark {
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .check-checkmark {
  background-color: $color-primary !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .check-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .check-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white !important;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>