<template>
    <div class="course-detail" v-if="courseDetail">
        <section class="banner">
            <div class="section-body container row">
                <div class="banner-content col xl6 l12 m12">
                    <div class="subtitle">{{courseDetail.tag}}</div>
                    <div class="title">{{courseDetail.name}}</div>
                    <div class="body">
                       {{courseDetail.shortDescription}}
                    </div>
                    <div class="priceTag">
                        <p class="sale">{{formatPrice(courseDetail.salePrice)}}</p>
                        <p class="real">{{formatPrice(courseDetail.realPrice)}}</p>
                    </div>
                    <div class="btn-wrapper row">
                        <div class="col l5 m6 s12">
                            <span class="register a-btn-hover">Đăng kí học</span>
                        </div>
                        <div class="col l5 m6 s12">
                            <span class="ask a-btn-hover">Liên hệ tư vấn</span>
                        </div>
                        
                    </div>
                </div>
                <div class="banner-gif col xl6 l12 m12">
                    <lottie-player :src="courseDetail.thumbGifURL"  background="transparent"  speed="1"  style="width: 100%;"  loop  autoplay></lottie-player>
                </div>
                <div class="banner-bg">

                </div>
            </div>
        </section>


        <section class="overview">
            <div class="section-body container">
                <div class="upper row">
                    <div class="thumb col xl6 l12 m12 s12">
                        <img :src="courseDetail.thumbImageURL" alt="ảnh thumbnail">
                        <div class="button-wrapper">
                            <span class="button a-btn-hover">Xem video giới thiệu</span> 
                        </div>
                    </div>
                    <div class="content col xl6 l12 m12 s12">
                        <h1 class="title">Khoá học này là gì?</h1>
                        <div class="body">
                            {{courseDetail.longDescription}}
                        </div>
                    </div>
                </div>
                <div class="lower row">
                    <span class="tag col l3 m6 s6 ">
                        <p>Mức độ</p>
                        <h5>{{courseDetail.level}}</h5>
                    </span>
                    <span class="tag col l3 m6 s6 ">
                        <p>Hình thức</p>
                        <h5>{{courseDetail.type}}</h5>
                    </span>
                    <span class="tag col l3 m6 s6 ">
                        <p>Số buổi</p>
                        <h5>{{courseDetail.lessonCount}}</h5>
                    </span>
                    <span class="tag col l3 m6 s6 ">
                        <p>Phần mềm sử dụng</p>
                        <span class="icon-wrapper">
                            <img v-for="tool in courseDetail.tools" :key="tool" :src="`../../../assets/png/icon-${tool}.png`" :alt="tool">
                        </span>
                    </span>
                </div>
            </div>
        </section>
        
        <section class="author" v-if="teacherDetail">
            <div class="section-body container">
                <div class="title">
                    <h1>Về giảng viên</h1>
                </div>
                <div class="body row">
                    <div class="thumb col xl6 l12 m12 s12">
                        <img class="ava" src="https://res.cloudinary.com/umaster/image/upload/v1672559523/Assets/ava-trong.jpg" alt="phan đức trọng">
                        <img class="icon" src="https://res.cloudinary.com/umaster/image/upload/v1672560912/Assets/ava-teacher.png" alt="ava">
                    </div>
                    <div class="info col xl6 l12 m12 s12">
                        <h5>{{teacher.titleDescription}}</h5>
                        <p>{{teacher.shortDescription}}</p>
                        <div class="contact">
                            <a v-for="link in teacher.contact" :key="link.type" :href="link.url" target="_blank" :class="[`${link.type}`,'a-btn-hover']">
                                <img :src="`../../../assets/png/${link.type}.svg`" :alt="link.type">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="curriculum">
            <div class="section-body container">
                <div class="title-wrapper">
                    <h5 class="subtitle">Bài giảng</h5>
                    <h1 class="title">Tôi sẽ học những gì?</h1>
                </div>
                <div class="body">
                    <div class="lesson-card">
                        <div class="row">
                            <div class="lesson-content col xl6 l12 m12 s12">
                                <div class="lesson-number">BÀI #1</div>
                                <div class="lesson-title">Nhập môn Animation</div>
                                <div class="lesson-detail">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At eius, nisi maiores incidunt, ex non iusto culpa quis illo, voluptas ea modi? Corrupti est officiis labore, odit nobis eos cupiditate. Ex non iusto culpa quis illo, voluptas ea modi? Corrupti est officiis labore, odit nobis eos cupiditate !
                                
                                </div>
                            </div>
                            <div class="lesson-thumbnail col xl6 l12 m12 s12">
                                <video
                                    class="lesson-recordThumb"
                                    autoplay="autoplay"
                                    loop
                                    muted
                                    :key="1"
                                    >
                                        <source v-if="true"
                                        src="https://res.cloudinary.com/umaster/video/upload/v1630684550/LoopURL/b%C3%A0i_1_aazlbe.mp4"
                                        type="video/mp4"
                                        >
                                        <source v-else src="https://res.cloudinary.com/umaster/video/upload/v1630686044/LoopURL/in_t%C3%B4_gakfhb.mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="lesson-card">
                        <div class="row">
                            <div class="lesson-content col xl6 l12 m12 s12">
                                <div class="lesson-number">BÀI #2</div>
                                <div class="lesson-title">Nguyên lý nền tảng trong animation</div>
                                <div class="lesson-detail">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. At eius, nisi maiores incidunt, ex non iusto culpa quis illo, voluptas ea modi? Corrupti est officiis labore, odit nobis eos cupiditate. Ex non iusto culpa quis illo, volup !
                                
                                </div>
                            </div>
                            <div class="lesson-thumbnail col xl6 l12 m12 s12">
                                <video
                                    class="lesson-recordThumb"
                                    autoplay="autoplay"
                                    loop
                                    muted
                                    :key="2"
                                    >
                                        <source v-if="true"
                                        src="https://res.cloudinary.com/umaster/video/upload/v1630684546/LoopURL/b%C3%A0i_2_sggsqj.mp4"
                                        type="video/mp4"
                                        >
                                        <source v-else src="https://res.cloudinary.com/umaster/video/upload/v1630686044/LoopURL/in_t%C3%B4_gakfhb.mp4">
                                </video>
                            </div>
                        </div>
                    </div>



                    <div class="button-wrapper">
                        <span class="button-more a-btn-hover">Hiển thị tất cả giáo trình</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="showreel">
            <div class="section-body container">
                <div class="title-wrapper">
                    <h1 class="title">Bạn sẽ đạt được điều gì?</h1>
                </div>
                <div class="body">
                    <p>Hãy cùng ngắm nhìn những sản phẩm tiêu biểu của các học viên sau khi hoàn thành khoá học gồm 9 buổi này nhé!</p> 
                </div>
                <div class="playlist row">
                    <div class=" col xl4 l6 m6 s12">
                        <div class="video-container">
                            <iframe
                                class="video"
                                src="https://www.youtube.com/embed/t5oFkxdgUfI?rel=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                    <div class=" col xl4 l6 m6 s12">
                        <div class="video-container">
                            <iframe
                                class="video"
                                src="https://www.youtube.com/embed/SSkVxKl7Kts?rel=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                    <div class=" col xl4 l6 m6 s12">
                        <div class="video-container">
                            <iframe
                                class="video"
                                src="https://www.youtube.com/embed/PnpFGk9jKXs?rel=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                    <div class=" col xl4 l6 m6 s12">
                        <div class="video-container">
                            <iframe
                                class="video"
                                src="https://www.youtube.com/embed/LoDy6mB3gbE?rel=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                    <div class=" col xl4 l6 m6 s12">
                        <div class="video-container">
                            <iframe
                                class="video"
                                src="https://www.youtube.com/embed/_PSjksFWOX4?rel=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                    <div class=" col xl4 l6 m6 s12">
                        <div class="video-container">
                            <iframe
                                class="video"
                                src="https://www.youtube.com/embed/PQ_j7QWl7q4?rel=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                    <div class=" col xl4 l6 m6 s12">
                        <div class="video-container">
                            <iframe
                                class="video"
                                src="https://www.youtube.com/embed/CpIThBHM0gY?rel=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                    <div class=" col xl4 l6 m6 s12">
                        <div class="video-container">
                            <iframe
                                class="video"
                                src="https://www.youtube.com/embed/S3VEucRBlXo?rel=0"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                                allowfullscreen
                            ></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="cta">
            <div class="lottie-bg"></div>
            <div class="section-body container row">
                <div class="col xl5 l12 m12 s12">
                    <div class="course-card">
                        <div class="thumb">
                            <img src="https://res.cloudinary.com/umaster/image/upload/v1671874557/Assets/ae1-thumb-04.png" alt="Animation Chuyên Sâu">
                        </div>
                        <ul class="content">
                            <li>
                                <i class="material-icons">check_small</i>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
                            </li> 
                            <li>
                                <i class="material-icons">check_small</i>
                                <p>Vel sapiente est volupta luta perferendis recusandae eum! Qui!</p>
                            </li> 
                            <li>
                                <i class="material-icons">check_small</i>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cumque, voluptatibus earum </p>
                            </li> 
                            <li>
                                <i class="material-icons">check_small</i>
                                <p>vel sapiente est voluptatum eaque asperio itaque soluta perferendis recusandae eum! Qui!</p>
                            </li> 
                            <li>
                                <i class="material-icons">check_small</i>
                                <p>Aamet consectetur adipisicing elit. Adipisci cumque, voluptatibus earum </p>
                            </li> 
                            <li>
                                <i class="material-icons">check_small</i>
                                <p>vel sapiente est voluptatum eaque asperiores ut id vitae cum dolorem fuga itaque soluta </p>
                            </li> 
                            <li>
                                <i class="material-icons">check_small</i>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cumque, voluptatibus earum </p>
                            </li> 
                            <li>
                                <i class="material-icons">check_small</i>
                                <p>vel sapiente est voluptatum eaque asperiores ut id vitae cum dolorem fuga itaque soluta perferendis recusandae eum! Qui!</p>
                            </li> 
                        </ul>
                    </div>
                </div>
                <div class="col xl6 l12 m12 s12">
                    <div class="course-info">
                        <div class="subtitle">2D Animation</div>
                        <div class="title">
                            Animation chuyên sâu cùng Phan Đức Trọng
                        </div>
                        <div class="body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At nam sit dolore nemo reiciendis, vero repudiandae explicabo consectetur quasi quos temporibus ullam voluptate sunt! Magni doloribus aperiam vel dolorem unde?.
                            Lorem ipsum dolor sit amet consectetur adipisicing.
                        </div>

                        <div class="info row">
                            <div class="col s4">
                                <div class="pill">
                                    <p>Mức độ</p>
                                    <h5>Nâng cao</h5>
                                </div>
                            </div>
                            <div class="col s4">
                                <div class="pill">
                                    <p>Hình thức</p>
                                    <h5>Offline</h5>
                                </div>
                            </div>
                            <div class="col s4">
                                <div class="pill">
                                    <p>Số buổi</p>
                                    <h5>10</h5>
                                </div>
                            </div>
                        </div>

                        <div class="priceTag">
                            <p class="sale">₫ 2.500.000</p>
                            <p class="real">₫ 3.500.000</p>
                        </div>
                        <div class="register-btn a-btn-hover">Đăng kí khoá học</div>

                        <div class="refund">
                            <span class="icon">
                                <img src="@/assets/png/cashback1.svg" alt="">
                            </span>
                            <div class="content">
                                <h5>Cam kết 100% hoàn tiền</h5>
                                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam repellendus excepturi esse dolore sequi soluta at id perspiciatis officia. </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="blogs">
            <div class="title-wrapper">
                <h1 class="title">Kiến thức liên quan</h1>
                <p class="subtitle">Bạn có thể tham khảo các bài viết phân tích chuyên sâu có cùng chủ đề với khoá học này</p>
            </div>
            <div class="blog-list">
                <div class="blog-wrapper"></div>
            </div>
        </section> -->

        <section class="footer">
            <div class="back-button a-btn-hover">
                <i class="material-icons">arrow_back</i>
                <p>Quay trở lại</p> 
            </div>
        </section>
    </div>
</template>

<script>
import {ref, computed, watchEffect, onMounted, onUnmounted} from 'vue'
import {useStore} from 'vuex'
import {useRouter} from 'vue-router'
import lottie from 'lottie-web'

export default {
    props: ['id'],
    setup (props) {
            const store = useStore();
            const router = useRouter();

            //LOAD ANIMTION LOTTIE
            let pageAnim;
            let bgAnim;
            const loadLottie = () => {
                bgAnim = lottie.loadAnimation({
                    name:"bg",
                    container: document.querySelector(".lottie-bg"), // the dom element that will contain the animation
                    renderer: 'svg',
                    loop: true,
                    autoplay: true,
                    path: '/assets/anim/login-background.json' // the path to the animation json
                });
                bgAnim.setSpeed(0.2)
            }

            const destroyLottie = ()=> {
                lottie.destroy();
            }

            onMounted(()=>{
                loadLottie();
            })

            onUnmounted(()=>{
                destroyLottie();
            })


            //LOAD course về bằng props id truyền vào
            const courseDetail = ref(null);
            const teacherDetail = ref(null);
        
            watchEffect(async()=>{
                const courseId = props.id;
                courseDetail.value = null;
                courseDetail.value = await store.dispatch('user/loadCourse',{
                    courseId : courseId
                })
                if(courseDetail.value){
                    loadLottie();
                    teacherDetail.value = await store.dispatch('user/loadTeacher',{
                        teacherId: courseDetail.value.teacherID
                    })
                }
               if (!courseDetail.value){
                    router.push({name: 'NotFound'});
                    return
               }
               
            })

            //HAM PHU
            const formatPrice = (price) => {
                const unit = "₫ "
                const string =  price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                return unit + string;
            }
            
            

        return {courseDetail,formatPrice,teacherDetail}
    }
}
</script>

<style lang="scss" scoped>
.course-detail{
    width: 100%;
    overflow-y: auto;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section-body{
    padding: 4rem 0;
    padding-top: 6rem;
}

section.banner{
    margin-top: 2rem;
    .section-body{
        
    }
    
    &-content{

    }
    .subtitle{
        font-size: 1rem;
        @include gradient-text-1;
    }
    .title{
        font-size: 3rem;
        width: 70%;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    .body{
        font-family: "Averta Regular";
        margin-bottom: 2rem;
    }
    .priceTag{
        display: flex;
        margin-bottom: 2rem;
        .sale{
            font-size: 1.8rem;
            white-space: nowrap;
        }
        .real{
            position: relative;
            margin-left: 0.5rem;
            white-space: nowrap;
            transform: translateY(5px);
            color: $color-primary;
            &::after{
                content: "";
                white-space: nowrap;
                position: absolute;
                width: 100%;
                top: 0.7rem;
                left: 0;
                height: 2px;
                background-color: $color-primary;
            }
            
        }
    }
    .btn-wrapper{
        & span{
            border-radius: 10rem;
            width: 100%;
            height: 3rem;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }
        .col{
            padding: 0rem !important;
            padding-right: 0.5rem !important;
        }
        .register{
            
            background: linear-gradient(to right, #9999FF, #C1272D);
            color: white;
        }
        .ask{
            border: 1px solid black;
        }
    }

    &-gif{
        & > * {
            width: 100%;
        }
    }
    &-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        

    }
}


section.overview{
    // background-color: $color-gray-light-2;
    background-color: $color-secondary;
    .upper{
        margin-bottom: 2rem;
        .thumb{
            position: relative;
            align-items: center;
            margin-bottom: 2rem;
            img{
                width: 100%;
                border-radius: 1rem;
                @include white-shadow-1;
                z-index: 1;
                
            }
            .button-wrapper{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 2rem;
            }
            .button{
                opacity: 1;
                color: white;
                z-index: 2;
                padding: 0.7rem 1.2rem;
                color: white;
                border: 2px solid white;
                @include card-shadow-3;   
                border-radius: 10rem;
                &:hover{
                background-color: white;
                color: $color-primary;
                }

            }
        }
        .content{
            padding: 0 3rem;
            color: white;
            .title{
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            .body{  
                font-family: "Averta Regular";
            }
        }
    }

    .lower{
        .tag{
            border-top: 2px solid white;
            padding-top: 1rem !important;
            padding-bottom: 1.5rem !important;
        }
        p{
            color: $color-gray-light-1;
            font-size: 0.8rem;
            font-family: "Averta Regular";
            margin-bottom: 0.5rem;
        }
        h5{
            color: white;
            font-size: 1.5rem;
        }
        .icon-wrapper{
            display: flex;
            img{
                border-radius: 0.5rem;
                width: 2rem;
                height: 2rem;
                margin-right: 0.5em;
            }
        }
    }

}

section.author{
    .section-body{
        padding-left: 2% ;
        padding-right: 2%;
        
    }
    .title{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 4rem;
        h1{
            font-size: 2rem;
        }
    }
    .body{
        .thumb{
            position: relative;
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
            .ava{
                width: 70%;
                object-fit: cover;
                border-radius: 20rem;

            }
            .icon{
                width: 15%;
                border-radius: 10rem;
                position: absolute;
                bottom: 5%;
                right: 20%;

            }
        }
    }
    .info{
            margin-top: 1rem;
        h5{
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
        p{
            font-size: 1rem;
            font-family: "Averta Regular";
            margin-bottom: 2rem;
        }
        .contact{
            display: flex;
            a{
                margin-right: 0.8rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10rem;
                border: 2px solid black;
                img{
                    width: 1.2rem;
                    height: 1.2rem;
                }
                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
}

section.curriculum{
    background-color: $color-secondary;
    .subtitle{
        font-size: 1rem;
        @include gradient-text-1;
        letter-spacing: 2px;
    }
    .title-wrapper{
        display: flex;
        justify-items: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .title{
        font-size: 2.5rem;
        margin-bottom: 5rem;
        color: white;
    }
    .body{

    }
    .lesson{
        &-card{ 
            margin-bottom: 8rem;
        }
        &-content{
            color:white;
        }
        &-number{
            font-size: 0.8rem;
            letter-spacing: 2px;
            background: linear-gradient(to right, #9999FF, #C1272D);
            color: white;
            display: inline;
            padding: 0.5rem 1rem;
            border-radius: 10rem;
        }
        &-title{
            margin-top: 1rem;
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
        }
        &-detail{   
            font-family: "Averta Regular";
        }
        &-thumbnail{
            padding-top: 3.2rem;
            padding-left: 2rem;
        }
        &-recordThumb{
            width: 100%;
            @include white-shadow-1;
            border-radius: 1rem;

        }
    }
    .button{
        &-wrapper{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &-more{
            padding: 0.7rem 1.2rem;
            border: 2px solid white;
            border-radius: 10rem;
            color: white;
            &:hover{
                background-color: white;
                color: $color-primary;
            }
        }
    }
}

section.showreel{
    .title-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .body{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        p{
            width: 60%;
            text-align: center;
            font-family: "Averta Regular";
        }
    }
    .playlist{
        
    }
    .video-container{
        position: relative; 
        padding-bottom: 56.25%;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }
    .video{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
    }

}

section.cta{
    position: relative;
    overflow: hidden;

    .lottie-bg{
        position: absolute;
        @include center-1;
        width: 100%;

    }
    background-color: $color-secondary;
    .course-card{
        position: relative;
        z-index: 1;
        width: 100%;
        background-color: white;
        border-radius: 1.5rem;
        @include card-shadow-1;
        margin-bottom: 3rem;
        .thumb{
            width: 100%;
            padding: 0.5rem;
            img{
                width: 100%;
                border-radius: 1.5rem;
                
            }
        }
        .content{
            padding: 2rem 2.5rem;
            li{
                display: flex;
                margin-bottom: 0.57rem;
                i{
                    width: 3rem;
                    color: $color-green;
                }
                p{  
                    font-family: "Averta Regular";
                }
            }
        }

    }
    .course-info{
        width: 100%;
        padding: 0 2rem;
        position: relative;
        z-index: 2;
        .subtitle{
            @include gradient-text-1;
        }
        .title{ 
            font-size: 2.8rem;
            color: white;
            line-height: 1.2;
            margin-bottom: 3rem;
        }
        .body{
            color: white;
            font-family: "Averta Regular";
            margin-bottom: 3rem;

        }
        .info{
            color: white;
            padding: 0.5rem;
            div{
                padding: 0.5rem;
                
            }

            .pill{
                width: 100%;
                height: 100%;
                border: 1.5px solid white;
                padding: 1rem;
                border-radius: 0.5rem;
                
            }
            p{
                color: $color-gray-dark;
                font-family: "Averta Regular";
                font-size: 0.9rem;
            }
            h5{ 
                font-size: 1.2rem;
            }
        }
        .priceTag{
            display: flex;
            margin-bottom: 2rem;
            
            .sale{
                @include gradient-text-1;
                margin-right: 0.5rem;
                font-size: 2rem;


            }
            .real{
                position: relative;
                margin-left: 0.5rem;
                white-space: nowrap;
                transform: translateY(5px);
                color: white;
                &::after{
                    content: "";
                    white-space: nowrap;
                    position: absolute;
                    width: 100%;
                    top: 0.7rem;
                    left: 0;
                    height: 2px;
                    background-color: white;
                }
            }
        }
        .register-btn{
            border-radius: 10rem;
            background: linear-gradient(to right, #9999FF, #C1272D);
            color: white;
            display: inline;
            padding: 0.7rem 1.2rem;
            border-radius: 10rem;
            font-size: 1.2rem;
            margin-bottom: 3rem;
        }
        .refund{
            margin-top: 4rem;
            display: flex;
            background-color: rgba(0, 0, 0, 0.106);
            padding: 1.5rem;
            border-radius: 1rem;
            
            .icon{
                margin-right: 1.5rem;
                img{
                    width: 4rem;
                    height: 4rem;

                }
            }
            .content{
                color: white;
                h5{
                    margin-bottom: 0.5rem;
                    font-size: 1rem;
                }
                p{
                    font-family: "Averta Regular";
                }
            }
        }
    }
}

section.footer{
    padding: 2rem 0;
    background-color: #510003;
    .back-button{
        padding: 1rem;
        display: flex;
        color: white;
        font-size: 1.2rem;
        i{
            margin-right: 1rem;
        }

    }
}
</style>