<template>
    <div class="home">
        <section class="banner">
            <div class="content-container container row">
                <div class="title-wrapper col xl8 l7 m6 s11 offset-s1">
                    <div class="title">
                        <div class="name">UMASTER ACADEMY</div>
                        <div class="sub">Trường đào tạo Animation hàng đầu Việt Nam</div>
                    </div>
                </div>
                <div class="lottie-container col xl4 l5 m6 s12">
                    <div class="lottie-bunny"></div>
                </div>
            </div>
            <div class="background"></div>
        </section>
        <section class="body">

            <div class="container" v-if="userData">
                <section class="section-continue">
                    <div class="title-container">
                        <div class="title">Danh sách tiếp tục học</div>
                    </div>
                    <div class="list">
                        <ContinueCard/>
                    </div>
                </section>
            </div>

            <div class="container">
                <section class="section-intro">
                    <div class="title-container">
                        <h1 class="title">Chào mừng các bạn đến với Umaster Academy !</h1>
                    </div>
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/c1QhkEYb4BM?rel=0&loop=1" title="Umaster Academy Commercial" frameborder="0" allow=" autoplay; clipboard-write; encrypted-media"></iframe>
                    </div>
                    <p>Animation là một mảnh đất màu mỡ và đầy tiềm năng phát triển cơ hội công việc trong hiện tại và tương lai. Truyền thông bằng Animation luôn mang đến một hiệu quả khác biệt và ấn tượng bằng thông điệp rõ ràng, cảm xúc và lôi cuốn thông qua các thước phim Animation sống động và màu sắc. UMaster tổ chức khóa học ANIMATION CHUYÊN SÂU với mục đích đào tạo ra những nhân sự chất lượng cho ngành Animation tại Việt Nam và ngoài ra là có thể chọn ra từ lớp học những gương mặt ưu tú để tuyển dụng vào đội ngũ nhân sự của công ty.</p>
                </section>
            </div>

            <div class="container">
                <section class="section-course">
                    <img class="bunny-1" src="@/assets/png/bunny-1.png" alt="thỏ quảng cáo">
                    <CourseList :title="'Danh sách khoá học'"/>
                </section>
            </div>

            <div class="container">
                <section class="section-course">
                    <img class="bunny-2" src="@/assets/png/bunny-2.png" alt="thỏ quảng cáo">
                    <CourseList :title="'Dành cho các bạn mới bắt đầu'"/>
                </section>
            </div>

        </section>
        <section class="footer">

        </section>

    </div>
</template>

<script>
    import lottie from 'lottie-web'
    import CourseList from '@/components/Guest/CourseList.vue'
    import ContinueCard from '@/components/Guest/ContinueCard.vue'
    import { ref, computed, onMounted, onUnmounted } from 'vue'
    import {useStore} from 'vuex'
    export default {
        components:{CourseList,ContinueCard},
        setup(){
            onMounted(()=>{
                loadLottie();
            })
            onUnmounted(()=>{
                destroyLottie();
            })

            let pageAnim;
            let bgAnim;
            const loadLottie = () => {
                pageAnim = lottie.loadAnimation({
                    name:"bunny",
                    container: document.querySelector(".lottie-bunny"), // the dom element that will contain the animation
                    renderer: 'svg',
                    loop: true,
                    autoplay: true,
                    path: '/assets/anim/login-page.json' // the path to the animation json
                });
            }


            const destroyLottie = ()=> {
                lottie.destroy();
                }

            const store = useStore();
            const userData = computed(()=> store.getters['user/getUserData']);

            return {useStore,userData}
        }
    }
</script>

<style lang="scss" scoped>
//ANIMATION

//COMMERCIAL
    .bunny{
        &-1{
            position: absolute;
            bottom: 72%;
            left: 10%;
            width: 30%;
            z-index: -1;
        }
        &-2{
            position: absolute;
            bottom: 70%;
            right: 6%;
            width: 20%;
            z-index: -1;
        }
    }
// ROOT
    .home{
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }


// SECTION
    .banner{
        width: 100%;
        position: relative;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        margin-bottom: 6rem;

        .content-container{
            position: relative;
            z-index: 2;
            height: 100%;
        }

        .title-wrapper{
            display: flex;
            height: 100%;
            padding: 8rem 0 4rem 0;           
        }

        .lottie-container{
            padding: 7% 0;
            position: relative;
            height: 20rem;
        }

        .lottie-bunny{
            height: 100%;
            position: absolute;
            transform-origin: center center;
            top: 0%;
            right: 20%;
            transform: scale(1.6);
            max-width: 20rem;
            pointer-events: none;
            z-index: 2;
        } 

        .title{
            color: white;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .name{
                font-size: 2.5rem;
                font-family: "Averta Bold";
                text-align: center;
            }
            .sub{
                font-size: 1.15rem;
                font-family: "Averta Regular";
                text-align: center;
            }
        }

        .background{
            position: absolute;
            pointer-events: none;
            @include center-1;
            width: 100%;
            height: 100%;
            background-image: url("https://res.cloudinary.com/umaster/image/upload/v1671865982/Assets/mac1.jpg" );
            background-position: center;
            background-size: cover;
            background-repeat:no-repeat; 
            opacity: 0.6;
            @include card-shadow;
            
            .img{
                width: 100%;
                height: 100%;
                position: absolute;
                @include center-1;
                opacity: 0.4;
            }
        }
        
        
    }

    .body{
        width: 100%;
    }

    .title-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        .title{
            font-size: 2rem;
            text-align: center;
        }
    }   


// BODY SECTION
    .section{
        &-continue{
            margin-bottom: 4rem;
            .list{

            }
            .continue-card{
                width: 20rem;
                img{
                    width: 100%;
                    border-radius: 1rem;
                }
            }

        }

        &-intro{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 8rem;

            p{
                text-align: center;
                // margin-bottom: 2rem;
            }
            .video{
                width: 100%;
                padding-top: 56.25%;
                border-radius: 2rem;
                margin-bottom: 4rem;
                position: relative;

                iframe{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 1.5rem;
                }
            }
        }
        &-course{
            margin-bottom: 8rem;
            position: relative;
        }
    }


</style>