<template>
    <router-link 
        v-if="unlockObject[number]" 
        :to="{name: 'LessonUser', params:{number}}">
            <div class="lesson-card">
                <!-- <span :class="[{active : currentWorksLength},'lesson-icon']">
                    <i v-if="currentWorksLength" class="material-icons">check</i>
                    <i v-else class="material-icons">close</i>
                </span> -->
                <!-- <Image class="lesson-thumb" :refUrl="unlockObject[number].thumbnailRef"/> -->
                <img :src="unlockObject[number].thumbnailURL" alt="ảnh bài" class="lesson-thumb">
                <div class="lesson-info">
                    <p class="lesson-title">Bài {{number}}</p>
                    <h5  class="lesson-name">{{unlockObject[number].name}}</h5>
                    <div class="lesson-check">
                        <span class="lesson-tags">
                            <p>BT1.1</p>
                            <i class="material-icons">close</i>
                        </span>
                        <span class="lesson-tags">
                            <p>BT1.2</p>
                            <i class="material-icons">close</i>
                        </span>
                    </div>
                </div>
            </div>
    </router-link>

    <div class="lesson-card lock" v-else>
        <span class="lesson-icon"><i class="material-icons">lock</i></span>
            <h5>Mở khoá sau ...</h5>
    </div>
</template>

<script>
    import {useStore} from 'vuex'
    import {ref, computed} from 'vue'
    export default {
        props:['number','filterList','unlockObject'],
        setup(props) {
            // lấy works của bài này tại vuex, nếu length > 0 thì là đã hoàn thành 
            const store = useStore();
            const currentWorks = computed(()=> store.getters['works/getWorks'](props.number) || []);
            const currentWorksLength = computed(()=> currentWorks.value.length);
    
            return {currentWorksLength}

        }
    }
</script>

<style lang="scss" scoped>
.lesson{
    &-container{
        width: 82%;
        
    }
    &-card{
        display: flex;
        align-items: center;
        width: 100%;
        height: 9rem;
        min-width: 23rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        background-color: white;
        @include card-shadow;
        margin-bottom: 1.2rem;
        border-radius: 1rem;
        position: relative;
        @include transition;
        &:hover{
            transform: scale(1.05);
        }
    }
    &-icon{
        position:absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 1.2rem;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        @include transition;
        background-color: $color-orange;
        color: white;
        & i{
            font-size: 1rem;
        }
        &.active{
            background-color: $color-green;
        }
    }
    &-thumb{
        height: 85%;
        margin-right: 1rem;
        
    }
    &-info{

    }
    &-title{
        color: $color-gray-dark;
    }
    &-name{
        font-size: 1.3rem;
        color: black;
        margin-bottom: 1rem;
    }
    &-check{
        display: flex;
    }
    &-tags{
        display: flex;
        background-color: $color-orange;
        padding: 2px 7px;
        border-radius: 2rem;
        color: white;
        margin-right: 0.5rem;
        &.active{
            
        }
        & p{

        }
        & i{

        }
    }
}
.lesson-card.lock{
    background-color: $color-orange;
    cursor: not-allowed;
    justify-content: center;
    color: white;
    & .lesson-icon{
        background-color: transparent;
    }
}
.router-link-active .lesson-card{
    transform: scale(1.1);
    border: 2px solid $color-primary;
    &:hover{
        transform: scale(1.1);
    }
}
</style>