<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
          
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          
            <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-agile@1.0.11/dist/VueAgile.css"> -->


            <link rel="icon" href="<%= BASE_URL %>favicon.ico">
            <title>Umaster Academy</title>
      </head>
      <body>
            <div id="app"></div>
            <div id="modal"></div>
            <!-- <div id="back"></div> -->
            <!-- lottie -->
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

            <!-- Compiled and minified JavaScript -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

            <!-- widget -->
            <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script> 
      </body>
</html>
