<template>

    <div :class="[{'open': open, 'large': !isLearning},'Sidenav']">   
            <!-- nhấtđịnh phải đúng tên của component thì nó mới hiện cơ -->
            <div class="logo-container">
                <TransitionGroup tag="a" name="fade" href="https://umaster.vn/" target="_blank" mode="in-out">
                    <img :key="1" class="logo" src="@/assets/png/UAcademy.png" target="_blank" alt="">
                    <span :key="2" class="title" v-if="open">
                        <p>UMASTER ACADEMY</p>
                    </span>
                </TransitionGroup>
            </div>
            <div class="expand-container" @click="toggleCollap">
                <a class='expand-collapse-icon' ref="collapsibleIcon" href='#'></a>
            </div>
            <div :class="[{'open': open},'main-container']">

            <!-- NÚT CHI TIẾT KHOÁ VÀ BACK HOME -->
                    <TransitionGroup tag="div" name="slideRight" class="learning-ani" mode="out-in">
                            <router-link :key="1" :to="{name : 'CourseDetail', params: {id: 'ae-1'} }" class="a-btn-hover">
                                <TransitionGroup tag="div" name="fade" class="course-container"  mode="in-out" v-if="isLearning">
                                    <img :key="1" src="@/assets/png/ae.png" alt="ae.png">
                                    <div :key="2" class="course-body" v-if="open">
                                        <p>Animation Chuyên Sâu</p>
                                        <span>
                                            <i class="material-icons">navigate_next</i>
                                        </span>
                                    </div>
                                </TransitionGroup>
                            </router-link>


                            <TransitionGroup :key="2" tag="div" name="fade" :class="[{'open': open},'back-container']" mode="in-out" @click="backHome" v-if="isLearning" >
                                <i :key="1" class="material-icons">arrow_back</i>
                                <div :key="2" v-if="open">
                                    <p>Về trang chủ</p>
                                </div>
                            </TransitionGroup>
                    </TransitionGroup>

                <!-- LIST CÁC ROUTER  -->
                <TransitionGroup :class="[{'large': !isLearning},'router-ani']" tag="div" name="switch2" mode="out-in">
                    <!-- SET CHO GIAO DIỆN HỌC -->
                    <ul :class="[{'open': open},'router-container']" v-if="isLearning && isSignedIn">
                        <li class="link">
                            <router-link :to="{name: 'Dashboard'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon"  width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path  fill="#CCCCCC" d="M8.64269 36.3003C7.69198 36.3003 6.87782 35.9621 6.20022 35.2856C5.52377 34.608 5.18555 33.7939 5.18555 32.8432V8.64318C5.18555 7.69246 5.52377 6.87831 6.20022 6.20071C6.87782 5.52426 7.69198 5.18604 8.64269 5.18604H19.0141V36.3003H8.64269ZM22.4713 36.3003V20.7432H36.2998V32.8432C36.2998 33.7939 35.9616 34.608 35.2852 35.2856C34.6076 35.9621 33.7934 36.3003 32.8427 36.3003H22.4713ZM22.4713 17.286V5.18604H32.8427C33.7934 5.18604 34.6076 5.52426 35.2852 6.20071C35.9616 6.87831 36.2998 7.69246 36.2998 8.64318V17.286H22.4713Z" />
                                    </svg>
                                    <p :key="2" v-if="open" class="router-title">Bài giảng</p>
                                </TransitionGroup>
                            </router-link>
                        </li>
                        <li class="link">
                            <router-link :to="{name: 'Laboratory'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon"  width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.5087 20.8095L26.8852 16.7377C27.3718 16.4304 27.615 15.9951 27.615 15.4317C27.615 14.8683 27.3718 14.433 26.8852 14.1257L20.5087 10.0539C19.9965 9.69542 19.4715 9.66981 18.9338 9.97711C18.396 10.2844 18.1271 10.7326 18.1271 11.3216V19.5419C18.1271 20.1309 18.396 20.579 18.9338 20.8863C19.4715 21.1936 19.9965 21.168 20.5087 20.8095ZM12.7493 27.7238C11.9042 27.7238 11.1811 27.4231 10.5798 26.8218C9.97746 26.2195 9.67631 25.4958 9.67631 24.6508V6.21266C9.67631 5.36758 9.97746 4.64389 10.5798 4.04158C11.1811 3.44029 11.9042 3.13965 12.7493 3.13965H31.1874C32.0325 3.13965 32.7562 3.44029 33.3585 4.04158C33.9598 4.64389 34.2604 5.36758 34.2604 6.21266V24.6508C34.2604 25.4958 33.9598 26.2195 33.3585 26.8218C32.7562 27.4231 32.0325 27.7238 31.1874 27.7238H12.7493ZM6.60329 33.8698C5.75821 33.8698 5.03503 33.5692 4.43374 32.9679C3.83143 32.3656 3.53027 31.6419 3.53027 30.7968V10.8222C3.53027 10.3868 3.67778 10.0217 3.97279 9.72666C4.26677 9.43267 4.63144 9.28568 5.06678 9.28568C5.50213 9.28568 5.8673 9.43267 6.16231 9.72666C6.4563 10.0217 6.60329 10.3868 6.60329 10.8222V30.7968H26.5779C27.0132 30.7968 27.3779 30.9443 27.6719 31.2393C27.9669 31.5333 28.1144 31.898 28.1144 32.3333C28.1144 32.7686 27.9669 33.1333 27.6719 33.4273C27.3779 33.7223 27.0132 33.8698 26.5779 33.8698H6.60329Z" fill="#CCCCCC"/>
                                    </svg>
                                    <p :key="2" v-if="open"  class="router-title">Nâng cao</p>
                                </TransitionGroup>
                            </router-link>
                        </li>
                        <li class="link">
                            <router-link :to="{name: 'Classroom'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M33.0267 9.28033V5.5H11.0267V9.28033H3.69336V14.6667C3.69336 19.2958 7.15653 23.0963 11.6207 23.7087C12.2601 25.5838 13.3943 27.2514 14.9032 28.5351C16.4122 29.8188 18.24 30.671 20.1934 31.0017V33C20.1934 33.9725 19.8071 34.9051 19.1194 35.5927C18.4318 36.2804 17.4992 36.6667 16.5267 36.6667H14.6934V40.3333H29.36V36.6667H27.5267C26.5542 36.6667 25.6216 36.2804 24.934 35.5927C24.2463 34.9051 23.86 33.9725 23.86 33V31.0017C25.8134 30.671 27.6412 29.8188 29.1501 28.5351C30.6591 27.2514 31.7933 25.5838 32.4327 23.7087C36.8969 23.0963 40.36 19.2958 40.36 14.6667V9.28033H33.0267ZM7.36003 14.6667V12.947H11.0267V19.8513C9.95509 19.4713 9.02737 18.769 8.37086 17.8407C7.71436 16.9124 7.36126 15.8036 7.36003 14.6667ZM36.6934 14.6667C36.692 15.8038 36.3388 16.9127 35.6824 17.8413C35.0259 18.7698 34.0983 19.4726 33.0267 19.8532V12.947H36.6934V14.6667Z" fill="#CCCCCC"/>
                                    </svg>
                                    <p  :key="2" v-if="open"  class="router-title">Lớp học</p>
                                </TransitionGroup>
                            </router-link>
                        </li>
                        <li class="link">
                            <router-link :to="{name: 'Chatroom'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1"  class="router-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.5002 4.625C26.9793 4.625 33.9168 10.1442 33.9168 16.9583C33.9168 23.7725 26.9793 29.2917 18.5002 29.2917C16.5885 29.2917 14.7539 29.0142 13.0581 28.5208C8.55641 32.375 3.0835 32.375 3.0835 32.375C6.67558 28.7829 7.246 26.3625 7.32308 25.4375C4.70225 23.2329 3.0835 20.2421 3.0835 16.9583C3.0835 10.1442 10.021 4.625 18.5002 4.625Z" fill="#CCCCCC"/>
                                    </svg>
                                    <p :key="2" v-if="open" class="router-title">Phòng Chat</p>
                                </TransitionGroup>
                            </router-link>
                        </li>
                        <li class="link">
                            <router-link :to="{name: 'ResourceUser'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.3999 4.7998H37.5999V8.7998H2.3999V4.7998ZM4.7999 10.3998V36.7998H35.1999V10.3998H4.7999ZM25.5999 17.5998H13.5999V15.1998H25.5999V17.5998Z" fill="#CCCCCC"/>
                                    </svg>
                                    <p :key="2" v-if="open"  class="router-title">Tài nguyên</p>
                                </TransitionGroup>
                            </router-link>
                        </li>
                    </ul>

                    <!-- SET CHO GIAO DIỆN GUEST -->
                    <ul :class="[{'open': open, 'large': !isLearning},'router-container']" v-if="!isLearning">
                        <li class="link">
                            <router-link :to="{name: 'Home'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#CCCCCC" d="M17.5 33.2498V24.4998H24.5V33.2498C24.5 34.2123 25.2875 34.9998 26.25 34.9998H31.5C32.4625 34.9998 33.25 34.2123 33.25 33.2498V20.9998H36.225C37.03 20.9998 37.415 20.0023 36.8025 19.4773L22.1725 6.29977C21.5075 5.70477 20.4925 5.70477 19.8275 6.29977L5.19755 19.4773C4.60255 20.0023 4.97005 20.9998 5.77505 20.9998H8.75005V33.2498C8.75005 34.2123 9.53755 34.9998 10.5 34.9998H15.75C16.7125 34.9998 17.5 34.2123 17.5 33.2498Z"/>
                                    </svg>
                                    <p :key="2" v-if="open" class="router-title">Trang chủ</p>
                                </TransitionGroup>
                            </router-link>
                        </li>

                        <!--  
                        <li class="link">
                            <router-link :to="{name: 'AllCourse'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.4688 10.5C12.4688 9.97786 12.6762 9.4771 13.0454 9.10788C13.4146 8.73867 13.9154 8.53125 14.4375 8.53125H35.4375C35.9596 8.53125 36.4604 8.73867 36.8296 9.10788C37.1988 9.4771 37.4062 9.97786 37.4062 10.5C37.4062 11.0221 37.1988 11.5229 36.8296 11.8921C36.4604 12.2613 35.9596 12.4687 35.4375 12.4688H14.4375C13.9154 12.4687 13.4146 12.2613 13.0454 11.8921C12.6762 11.5229 12.4688 11.0221 12.4688 10.5ZM35.4375 19.0312H14.4375C13.9154 19.0312 13.4146 19.2387 13.0454 19.6079C12.6762 19.9771 12.4688 20.4779 12.4688 21C12.4688 21.5221 12.6762 22.0229 13.0454 22.3921C13.4146 22.7613 13.9154 22.9688 14.4375 22.9688H35.4375C35.9596 22.9688 36.4604 22.7613 36.8296 22.3921C37.1988 22.0229 37.4062 21.5221 37.4062 21C37.4062 20.4779 37.1988 19.9771 36.8296 19.6079C36.4604 19.2387 35.9596 19.0312 35.4375 19.0312ZM35.4375 29.5312H14.4375C13.9154 29.5312 13.4146 29.7387 13.0454 30.1079C12.6762 30.4771 12.4688 30.9779 12.4688 31.5C12.4688 32.0221 12.6762 32.5229 13.0454 32.8921C13.4146 33.2613 13.9154 33.4688 14.4375 33.4688H35.4375C35.9596 33.4688 36.4604 33.2613 36.8296 32.8921C37.1988 32.5229 37.4062 32.0221 37.4062 31.5C37.4062 30.9779 37.1988 30.4771 36.8296 30.1079C36.4604 29.7387 35.9596 29.5312 35.4375 29.5312ZM7.21875 18.375C6.69958 18.375 6.19206 18.529 5.76038 18.8174C5.3287 19.1058 4.99225 19.5158 4.79357 19.9955C4.59489 20.4751 4.5429 21.0029 4.64419 21.5121C4.74548 22.0213 4.99548 22.489 5.3626 22.8562C5.72971 23.2233 6.19744 23.4733 6.70664 23.5746C7.21584 23.6758 7.74364 23.6239 8.2233 23.4252C8.70295 23.2265 9.11292 22.8901 9.40136 22.4584C9.6898 22.0267 9.84375 21.5192 9.84375 21C9.84375 20.3038 9.56719 19.6361 9.07491 19.1438C8.58262 18.6516 7.91494 18.375 7.21875 18.375ZM7.21875 7.875C6.69958 7.875 6.19206 8.02895 5.76038 8.31739C5.3287 8.60583 4.99225 9.0158 4.79357 9.49546C4.59489 9.97511 4.5429 10.5029 4.64419 11.0121C4.74548 11.5213 4.99548 11.989 5.3626 12.3562C5.72971 12.7233 6.19744 12.9733 6.70664 13.0746C7.21584 13.1758 7.74364 13.1239 8.2233 12.9252C8.70295 12.7265 9.11292 12.3901 9.40136 11.9584C9.6898 11.5267 9.84375 11.0192 9.84375 10.5C9.84375 9.80381 9.56719 9.13613 9.07491 8.64384C8.58262 8.15156 7.91494 7.875 7.21875 7.875V7.875ZM7.21875 28.875C6.69958 28.875 6.19206 29.029 5.76038 29.3174C5.3287 29.6058 4.99225 30.0158 4.79357 30.4955C4.59489 30.9751 4.5429 31.5029 4.64419 32.0121C4.74548 32.5213 4.99548 32.989 5.3626 33.3562C5.72971 33.7233 6.19744 33.9733 6.70664 34.0746C7.21584 34.1758 7.74364 34.1239 8.2233 33.9252C8.70295 33.7265 9.11292 33.3901 9.40136 32.9584C9.6898 32.5267 9.84375 32.0192 9.84375 31.5C9.84375 30.8038 9.56719 30.1361 9.07491 29.6438C8.58262 29.1516 7.91494 28.875 7.21875 28.875Z" fill="#CCCCCC"/>
                                    </svg>
                                    <p :key="2" v-if="open" class="router-title">Tất cả khoá học</p>
                                </TransitionGroup>
                            </router-link>
                        </li>
                        -->
                        
                        <li class="link"  v-if="userData">
                           <router-link :to="{name: 'MyCourse'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                         <path fill="#CCCCCC" d="M15.75 12.25V26.25L28 19.25L15.75 12.25ZM36.75 5.25H5.25C3.325 5.25 1.75 6.825 1.75 8.75V29.75C1.75 31.675 3.325 33.25 5.25 33.25H14V36.75H28V33.25H36.75C38.675 33.25 40.25 31.675 40.25 29.75V8.75C40.25 6.825 38.675 5.25 36.75 5.25ZM36.75 29.75H5.25V8.75H36.75V29.75Z"/>
                                    </svg>
                                    <p :key="2" v-if="open" class="router-title">Khoá học của tôi</p>
                                </TransitionGroup>
                            </router-link>
                        </li>
                        
                        <li class="link">
                           <router-link :to="{name: 'Gallery'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.95833 37.625C7.97292 37.625 7.12904 37.2744 6.42671 36.5733C5.72557 35.871 5.375 35.0271 5.375 34.0417V8.95833C5.375 7.97292 5.72557 7.12904 6.42671 6.42671C7.12904 5.72557 7.97292 5.375 8.95833 5.375H34.0417C35.0271 5.375 35.871 5.72557 36.5733 6.42671C37.2744 7.12904 37.625 7.97292 37.625 8.95833V34.0417C37.625 35.0271 37.2744 35.871 36.5733 36.5733C35.871 37.2744 35.0271 37.625 34.0417 37.625H8.95833ZM10.75 30.4583H32.25L25.5312 21.5L20.1562 28.6667L16.125 23.2917L10.75 30.4583Z" fill="#CCCCCC"/>
                                    </svg>
                                    <p :key="2" v-if="open" class="router-title">Kho sản phẩm</p>
                                </TransitionGroup>
                            </router-link>
                        </li>
                        <li class="link">
                            <router-link :to="{name: 'Blog'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M36.75 3.5C10.5 3.5 7 28 5.25 38.5H8.7465C9.912 32.6673 12.8293 29.4595 17.5 28.875C24.5 28 29.75 21.875 31.5 16.625L28.875 14.875L30.625 13.125C32.375 11.375 34.132 8.75 36.75 3.5Z" fill="#CCCCCC"/>
                                    </svg>
                                    <p :key="2" v-if="open" class="router-title">Blog kiến thức</p>
                                </TransitionGroup>
                            </router-link>
                        </li>
                        <li class="link">
                           <router-link :to="{name: 'Advisory'}">
                                <TransitionGroup tag="div" name="fade" mode="in-out">
                                    <svg :key="1" class="router-icon" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.7916 21.5835H20.0801C20.5169 21.5835 20.8767 21.4355 21.1593 21.1395C21.4419 20.8445 21.5833 20.4786 21.5833 20.0418C21.5833 19.605 21.4358 19.2386 21.1408 18.9426C20.8448 18.6476 20.4784 18.5002 20.0416 18.5002H10.753C10.3162 18.5002 9.95652 18.6476 9.67388 18.9426C9.39124 19.2386 9.24992 19.605 9.24992 20.0418C9.24992 20.4786 9.39741 20.8445 9.69238 21.1395C9.98838 21.4355 10.3548 21.5835 10.7916 21.5835ZM10.7916 16.9585H26.2468C26.6836 16.9585 27.0433 16.8105 27.326 16.5145C27.6086 16.2195 27.7499 15.8536 27.7499 15.4168C27.7499 14.98 27.6019 14.6136 27.3059 14.3176C27.0109 14.0226 26.6451 13.8752 26.2083 13.8752H10.753C10.3162 13.8752 9.95652 14.0226 9.67388 14.3176C9.39124 14.6136 9.24992 14.98 9.24992 15.4168C9.24992 15.8536 9.39741 16.2195 9.69238 16.5145C9.98838 16.8105 10.3548 16.9585 10.7916 16.9585ZM10.7916 12.3335H26.2468C26.6836 12.3335 27.0433 12.186 27.326 11.891C27.6086 11.595 27.7499 11.2286 27.7499 10.7918C27.7499 10.355 27.6019 9.98862 27.3059 9.69262C27.0109 9.39765 26.6451 9.25016 26.2083 9.25016H10.753C10.3162 9.25016 9.95652 9.39765 9.67388 9.69262C9.39124 9.98862 9.24992 10.355 9.24992 10.7918C9.24992 11.2286 9.39741 11.595 9.69238 11.891C9.98838 12.186 10.3548 12.3335 10.7916 12.3335ZM3.08325 30.1783V6.16683C3.08325 5.31891 3.38542 4.59279 3.98975 3.98845C4.59306 3.38515 5.31867 3.0835 6.16659 3.0835H30.8333C31.6812 3.0835 32.4073 3.38515 33.0116 3.98845C33.6149 4.59279 33.9166 5.31891 33.9166 6.16683V24.6668C33.9166 25.5147 33.6149 26.2409 33.0116 26.8452C32.4073 27.4485 31.6812 27.7502 30.8333 27.7502H9.24992L5.70409 31.296C5.21589 31.7842 4.65678 31.8931 4.02675 31.6228C3.39775 31.3536 3.08325 30.872 3.08325 30.1783Z" fill="#CCCCCC"/>
                                    </svg>
                                    <p :key="2" v-if="open" class="router-title">Tư vấn liên hệ</p>
                                </TransitionGroup>
                            </router-link> 
                        </li>
                    </ul>
                </TransitionGroup>
                
                <!-- HỘP NGƯỜI DÙNG -->

                <div :class="[{'open': open},'user-container']">
                    <div class="lottie" data-file="laptop"></div>
                    <TransitionGroup tag="div" name="switch" class="user-mode" mode="out-in" v-if="userData">
                        <TransitionGroup v-if="!isSetting && userData" tag="div" name="fade" mode="in-out" class="user-info" @click="toggleSetting">
                            <div :key="1" class="user-ava"><Image class="user-img" :refUrl="userData.avaRef"/></div>
                            <div :key="2" v-if="open" class="user-wrapper">
                                <div class="user-nickname">{{userData.fullname}}</div>
                                <div class="user-content">{{formatEmail(userData.email)}}</div>
                            </div>
                        </TransitionGroup>
                        <div class="user-setting" v-if="isSetting">
                            <TransitionGroup tag="span" name="fade" mode="out-in" class="user-btn a-spacing-ver-xs" @click="toggleSetting">
                                <i :key="1" class="material-icons">close</i>
                                <p :key="2" v-if="open">Đóng</p>
                            </TransitionGroup>
                            <TransitionGroup tag="span" name="fade" mode="out-in" class="user-btn a-spacing-ver-xs logout" @click="logingOut">
                                <i :key="1" class="material-icons left">power_settings_new</i>
                                <p :key="2" v-if="open">Đăng xuất</p>
                            </TransitionGroup>
                            <TransitionGroup tag="span" name="fade" mode="out-in" class="user-btn a-spacing-ver-xs setting" @click="logingOut">
                                <i :key="1" class="material-icons left">settings</i>
                                <p :key="2" v-if="open">Cài đặt</p>
                            </TransitionGroup>
                        </div>
                    </TransitionGroup>

                    <div name="switch" class="user-mode" mode="out-in" v-else>
                        <div class="user-setting signin">
                            <TransitionGroup tag="span" name="fade" mode="out-in" class="user-btn signin a-btn-hover" @click="openModal">
                                <i :key="1" class="material-icons left">power_settings_new</i>
                                <p class="signin" :key="2" v-if="open">Đăng Nhập Đăng Kí</p>
                            </TransitionGroup>
                        </div>
                    </div>
                </div>
                <div  :class="[{'open': open},'attribute-container']">
                    <a href="https://www.facebook.com/profile.php?id=100007780805626" target="_blank">@PhanDucTrong2022</a>
                </div>
            </div>


    </div>
    
    <div :class="[{'open': open},'redball-container']">
        <RedBall :mode="redBallMode"/>
    </div>

    <AuthModal @closeModal="closeModal" :showModal="showModal" />



</template>

<script>
import RedBall from '@/components/RedBall'
import AuthModal from '@/components/Auth/AuthModal.vue'
import lottie from 'lottie-web'
import {onMounted, ref, watch, watchEffect,computed, onUnmounted} from 'vue'
import {projectAuth} from '@/firebase/config'
import useLogout from '@/composable/useLogout'
import {useRouter} from 'vue-router'
import { useStore } from 'vuex'
import _, { isSet } from 'lodash'
import { useToast } from "vue-toastification";

 
export default {
    components: {
        RedBall,AuthModal
    },
    setup() {
    //Chuyển style cho red-ball bằng cách 
    //click vào các router-link thì trigger đổi số mode truyền vào cho <RedBall/>
        const store = useStore();
        const redBallMode = ref(1);
        const currentRoute = computed(()=>store.state.route.name);
        const activeCourse = computed(()=> store.getters['course/getCurrentCourse']);

        watch(currentRoute,(to,from)=>{            
            switch(to){
                case 'DashBoard':
                case'LessonUser':
                    redBallMode.value = 1;
                    break;
                
                case 'Slide':
                case 'Laboratory':
                    redBallMode.value = 2;
                    break;
                
                case 'ResourceUser':
                case 'FoldersUser':
                case 'Resource':
                case'Folders':
                case 'CreateFile':
                case 'UpdateFile':
                    redBallMode.value = 3;
                    break;
                
                case 'Classroom':
                    redBallMode.value = 4;
                    break;
                
                case 'ClassManage':
                    redBallMode.value = 5;
                    break;
                
                case 'Courses':
                case 'Lessons':
                case'CreateCourse':
                case 'CreateLesson':
                case 'UpdateCourse':
                case 'UpdateLesson':
                    redBallMode.value = 6;
                    break;
                
                case 'Teachers':
                case'CreateTeacher':
                case 'UpdateTeacher':{
                    redBallMode.value = 7;
                    break;
                }
                default:
                    redBallMode.value = 0;
                    break;
            }
        })

    // ANIMATION CON THỎ

        const loadLottie = () => {
            lottie.loadAnimation({
                container: document.querySelector(".lottie"), // the dom element that will contain the animation
                renderer: 'svg',
                loop: true,
                autoplay: true,
                path: '/assets/anim/bunny-laptop.json' // the path to the animation json
            });
        }
        const destroyLottie = ()=> {
            lottie.destroy();
        }
   
        onMounted(()=>{
            loadLottie();
        })
            
        onUnmounted(()=>{
            destroyLottie();
        }) 


    // logout and listen to change to push to login

        const {logout, error} = useLogout()
        const userData = computed(()=> store.getters['user/getUserData']);

    //load router tỚi slide

        const router = useRouter();
        const logingOut = async()=>{
           await logout();
            if(!error.value){
                store.dispatch['user/resetUser'];
                store.dispatch['works/resetWorks']
                store.dispatch['lessons/resetLesson']
                store.dispatch['courses/resetCourse']
                store.dispatch['class/resetClass']
                store.dispatch['studentWorks/resetStudentWorks']
                store.dispatch['admin/resetAdmin']
                router.push({name: "Home"});
                toast.success("Đăng xuất thành công!")

            }
        }

        const toast = useToast();
        const clearToast = ()=>{
            toast.clear();
        }

    //Hàm phụ
    const formatEmail = (email)=> {
        if(email){
            const index = email.indexOf('@');
            if(index > -1) return email.slice(0,index)
            else return email;
        }
    }

    //Đóng mở side nav
    const collapsibleIcon = ref(null);
    const open = ref(false);
    const toggleCollap = ()=> {
        collapsibleIcon.value.classList.toggle('collapsed');
        open.value = !open.value;
    }


    //Bật tắt setting 
    const isSetting = ref(false);
    const setting = ()=>{
        console.log("setting");
    }
    const toggleSetting = ()=>{
        isSetting.value = !isSetting.value
    }


    //Về trang home
    const backHome = ()=>{
        router.push({name: "Home"});
    }


    //XEM SỰ BIẾN ĐỔI CỦA ROUTE và SIGNIN ĐỂ BẬT TẮT GIAO DIỆN TRONG SIDE NAV
        const isLearning = ref(false);
        const isSignedIn = ref(false);
        watchEffect(()=>{
            const to = currentRoute.value;
            switch(to){
                case 'Home':
                case 'CourseDetail':
                case 'VnpayReturn':
                case 'Advisory':
                case 'Blog':
                case 'Gallery':
                case 'Intro':
                case 'MyCourse':
                case 'Courses':
                case 'AllCourse':
                case 'Learning':
                    isLearning.value = false;
                    break;
                
                default: 
                    isLearning.value = true;
                    break;
            }
        })

        watchEffect(() => {
            const newVal = userData.value;
            switch(newVal){
                case 'null': 
                    isSignedIn.value = false;
                    break;
                
                default: 
                    isSignedIn.value = true;
            }
        })




        //HANDLE ĐÓNG MỞ MODAL ĐĂNG NHẬP
        const showModal = ref(false);

        const closeModal = () => {
            showModal.value = false;
        }
        const openModal = () => {
            showModal.value = true;
        }

        return {redBallMode,logingOut,userData,clearToast,activeCourse,
        formatEmail,collapsibleIcon,toggleCollap,open,toggleSetting,setting,isSetting,
        backHome,
        isLearning,isSignedIn,
        closeModal, showModal,openModal}
    }
}
</script>

<style lang="scss" scoped>

//Animation
.fade-enter-from,
.fade-leave-to{
    opacity: 0;
    transform: scale(0.6);
}
.fade-enter-to,
.fade-leave-from{
    opacity: 1;
    transform: scale(1);

}
.fade-enter-active{
    @include transition-3;
}
.fade-leave-active{
    @include transition-3;
    position: absolute;
}
.fade-move{
    @include transition-3;
}


//SWITCH animation
.switch-enter-from{
    opacity: 0;
    transform: translateX(1rem);
}
.switch-leave-to{
    opacity: 0;
    transform: translateX(-1rem);
}
.switch-enter-to,
.switch-leave-from{
    opacity: 1;
    transform: translateX(0rem);

}
.switch-enter-active{
    @include transition;
}
.switch-leave-active{
    @include transition;
    position: absolute;
}
.switch-move{
    @include transition;
}

//SWITCH2 animation
.switch2-enter-from{
    opacity: 0;
    transform: translateX(20rem);
}
.switch2-leave-to{
    opacity: 0;
    transform: translateX(20rem);
}
.switch2-enter-to,
.switch2-leave-from{
    opacity: 1;
    transform: translateX(0rem);

}
.switch2-enter-active{
    @include transition;
}
.switch2-leave-active{
    @include transition;
    position: absolute;
}
.switch2-move{
    @include transition;
}

//SlideRight Animation
.slideRight-enter-from,
.slideRight-leave-to{
    opacity: 0;
    transform: translateX(10rem);
}
.slideRight-enter-to,
.slideRight-leave-from{
    opacity: 1;
    transform: translateX(0);

}
.slideRight-enter-active{
    @include transition-3;
}
.slideRight-leave-active{
    @include transition-3;
    position: absolute;
}
.slideRight-move{
    @include transition-3;
}

.Sidenav{
    display:flex;
    flex-direction: column;
    background-color: $color-primary;
    align-items: center;
    justify-content: center;
    width: 6rem;
    @include nav-drop;
    position: relative;
    z-index: 0;
    @include transition-3;

    //Open state
    &.open{
        width: 18rem;
        &.large{
            width: 22rem !important;
        }
    }
}
.redball-container{
    width: 120%;
    height: 100%;
    @include center-1;
    position: absolute;
    @include transition-3;
    pointer-events: none;
    z-index: -100;
    &.open{
        width: 100%;
    }
}

.logo-container{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    & a{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include transition;
        &:hover{
            transform: scale(1.05);
        }
        
        & img{
            width: 3.5rem;
        }
        & span{
            color: white;
            margin-left: 1rem;
            & p{
                font-size: 1.2rem;
                line-height: 1.5rem;
                width: 6rem;
            }
        }
    }
}
.expand-container{
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem;
    @include transition;
    border-radius: 0.5rem;
    &:hover{
        background-color:#9b0b19;
        @include btn-shadow-1;
    }
}

.main-container{
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 0.5rem 2rem 0.5rem;   
    height: 100%;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0 ;
    position: relative;
    z-index: 0;
    @include transition-3;
    overflow: hidden;
    &.open{
        padding: 1.5rem 1.5rem 2rem 1.5rem; 
    }

}

.course-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: $color-primary;
    color: white;
    border-radius: 1rem;
    @include btn-shadow-1;
    @include transition;
    cursor: pointer;
    max-height: 5rem;
    margin-bottom: 1.5rem;
    &:hover{
        transform: scale(1.05);
    }
    img{
        width: 3rem;
        height: 3rem;
    }
    .course-body{
        display: flex;
        align-items: center;
        width: 100%;
    }
    p{
        margin-left: 1rem;
        font-size: 1rem;
        width: 6rem;
    }
    span{
        display: flex;
        height: 100%;
        align-items: center;
        margin-left: auto;
        i{

        }

    }
}

.back-container{
    display: flex;
    padding: 1rem;
    border-radius: 0.8rem;
    position: relative;
    @include btn-shadow-1;
    @include transition-3;
    cursor: pointer;
    width: 75%;

    &:hover{
        transform: scale(1.05);
        color: $color-primary;
    }
    align-items: center;
    i{

    }
    div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    p{
        white-space: nowrap;
    }
    //open state
    &.open{
        padding: 1.5rem;
        width: 100%;
    }
    
}

.learning-ani{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.router-ani{
    position: absolute;
    width: 100%;
    @include center-1;
    top: 48%;
    padding: 0;
    display: flex;
    justify-content: center;
    &.large{
        top: 40%;
    }
}

.router-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    font-size: 1.3rem;
    width: 50%;
    @include transition-3;
    top: 48%;
    &.open{
        width: 70%;
        &.large{
            width: 80% !important;
        }
    }
}
.link {
    padding: 0.5rem; 
    margin-bottom: 0.5rem;
    a{  
        div{
            display: flex;
        }
        &,
        &:link,
        &:visited{
            color: $color-gray-light-1;
            @include transition;
        }
        
        &:hover{
            color: $color-gray-dark;
            & path{
                fill: $color-gray-dark;
            }
        }
    }
}
.router{
    &-icon{
    width: 2rem;
    height: 2rem;
      & path{
        @include transition;
      }
    }
    &-title{
        margin-left: 1rem; 
        font-size: 1.2rem;
        display: inline;
        white-space: nowrap;
    }

}


.link a.router-link-active{
    color: $color-primary;
    position: relative;
    font-size: 1.5rem;
    & path{
        fill: $color-primary;
    }
}


.user-container{
    margin-top: auto;
    margin-bottom: 2rem;
    @include card-shadow;
    width: 90%;
    min-height: 0rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: relative;
    background-color: $color-white;
    @include transition-3;
    cursor: pointer;
    &:hover{
        .lottie{
            top: 10%;
            opacity: 0;
        }
    }
    &.open{
        padding: 1.5rem 0rem;
        border-radius: 1rem;
        min-height: 9rem;
        &:hover{
            .lottie{
                top: -2.25rem;
                opacity: 1;
            }
        }
    }
}


.lottie{
    position: absolute;
    @include transition-1;
    opacity: 0;
    width: 9rem;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.5);
    z-index: -2; 
}

//user-info
.user{
    &-mode{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 100%;
        padding: 0.2rem;
        
    }
    &-info,&-setting{
        width: 100%;
        max-width: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.signin{
            max-width: 11rem;
        }
    }
    &-btn{
        width: 100%;
        padding: 0.9rem;
        border-radius: 8px;
        background-color: white;
        color: black;
        cursor: pointer;
        @include transition-3;
        @include btn-shadow-1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        height: 3rem;
        &:hover{
            transform: scale(1.05);
        }
        &.logout{
            color: white;
            background-color: $color-primary;
        }
        &.setting{
            color: white;
            background-color: $color-gray-dark;
        }
        & p{
            position: absolute;
            @include center-1;
            left: 60%;
            white-space: nowrap;
            font-size: 1rem;
        }

        //Dành riêng cho nút sign in 
        &.signin{
            height: 5rem;
            p{
                white-space: normal;
                width: 6rem !important;
            }
            &:hover{
                color: $color-primary;
            }
        }

    }
    &-ava{
        position:relative;
        overflow: hidden;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: 0.3rem 0;
    }
    &-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-nickname{
        font-family: "Averta Bold";
        font-size: 1rem;
        text-align: center;
        line-height: 1.5rem;
        margin-top: 0.5rem;
        white-space: nowrap;
    }
    &-content{
        color: $color-gray-light-1;
        font-display: "Averta Regular";
        font-size: 0.8rem;
        white-space: nowrap;
    }
}


.attribute-container{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    @include transition-3;

    & a{
        &,
        &:link,
        &:focus{
            color: $color-gray-light-1
        }
    }
    &.open{
        opacity: 1;
    }
    
    
}

//Collapible icon
.expand-collapse-icon {
  font-size: 1.5rem;
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
}

.expand-collapse-icon::before, .expand-collapse-icon::after {
  content: "";
  position: absolute;
  width: 1em;
  height: .16em;
  top: calc( (1em / 2 ) - .08em );
  background-color: white;
  transition: 0.3s ease-in-out all;
  border-radius: 0.03em;
}

.expand-collapse-icon::after {
  transform: rotate(90deg);
}

.collapsed.expand-collapse-icon::after {
  transform: rotate(180deg);
}


.collapsed.expand-collapse-icon::before {
  transform: rotate(90deg) scale(0);
}





</style>

