<template>
    <div class="course-card">
        <div class="course-content">
            <div class="thumb">
                <img src="https://res.cloudinary.com/umaster/image/upload/v1671874557/Assets/ae1-thumb-04.png" alt="Animation chuyên sâu">
            </div>
            <div class="content">
                <h5 class="genre">Animation</h5>
                <p class="title">Animation chuyên sâu</p>
                <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="footer">
                <div class="type">
                    <span>Offline</span>
                </div>
                <!-- <div class="status">
                    <span>Mới ra mắt !</span>
                </div> -->
                <div class="apps">
                    <span class="app">
                        <img src="@/assets/png/icon-ae.png" alt="ae">
                    </span>
                    <span class="app">
                        <img src="@/assets/png/icon-ai.png" alt="ai">
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['course'],
    setup (props) {
        

        return {}
    }
}
</script>



<style lang="scss" scoped>

.course-card{
    @include card-shadow-1;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0.7rem;
    // width: 20rem;
    backface-visibility: hidden;
    margin-right: 1.5rem;
    cursor: pointer;
    
}
.course-content{
    width: 100%;
}
.thumb{
    img{
        width: 100%;
        border-radius: 0.5rem;
    }
}
.content{
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    .genre{
        font-size: 0.9rem;
        background: linear-gradient(to right, #9999FF, #C1272D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        white-space: nowrap;
    }
    .title{
        font-size: 1.2rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }
    .content{
        font-size: 0.9rem;
        font-family: "Averta Regular";
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2rem;
        height: calc(1.2rem * 5);
        padding: 0;
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 0.4rem 0rem 1rem; 
    .type{
        span{
            background-color: $color-blue;
            color: white;
            padding: 0.5rem 0.8rem;
            border-radius: 0.4rem;
        }
    }
    .status{
        margin-right: auto;
        span{
            color: $color-green;
            font-size: 1rem;
            padding: 0.5rem 0.8rem;
        }
    }
    .apps{
        display: flex;
        & > * {
            &:not(:first-child){
                margin-left: 0.5rem;
            }
        }
    }
    .app{

        img{
            width: 2.5rem;
        }
    }
}
</style>