<template>
    <teleport to="#modal">
        <transition name="fadeModal" appear>
            <div
                v-if="showModal"
                class="modal-back"
                @click="closeModal"
            ></div>
        </transition>

        <transition name="slideModal" appear>
            <div v-if="showModal" class="modal-card card relative-position">
                <LoadingOverlay v-if="isLoading"/>
                <div class="q-ml-sm">
                    <h5 class="text-center text-h4">Mua khóa học online</h5>
                    <h6 class="text-center text-uppercase text-primary">{{ classi.courseName }} {{ classi.courseID }} / Lớp {{ classi.classID }}</h6>
                    <div class="q-py-md">
                        <div class="q-mb-lg">
                            <p class="text-h6 text-blue">Thông tin thanh toán</p>
                        </div>
                        
                            <div class="row" style="margin-left: -10px;">
                                <div class="input-field col s12">
                                    <input id="register-name" type="text" class="validate" v-model="name" required>
                                    <label class="active"  for="register-name">Họ và tên</label>
                                </div>
                            </div>
                            <div class="row" style="margin-left: -10px;">
                                <div class="input-field col s12">
                                    <input id="register-phone" type="text" class="validate" v-model="phone" required>
                                    <label class="active"  for="register-phone">Số điện thoại</label>
                                </div>
                            </div>
                            <div>
                            <div class="row" style="margin-left: -10px;">
                                <div class="input-field col s12">
                                    <input id="register-email" type="email" disabled class="validate" v-model="email" required>
                                    <label class="active"  for="register-email">Email được kích hoạt khóa học</label>
                                </div>
                            </div>
                        </div>
                        <div class="full-width">
                            <div class="row">
                                <p>Giá gốc :</p>
                                <q-space></q-space>
                                <p>{{formatPrice(publish.realPriceOn) }}</p>
                            </div>
                            <div class="row justify-between" v-if="canSale">
                                <p>Giá khuyến mãi :</p>
                                <q-space></q-space>
                                <p>{{ formatPrice(publish.salePriceOn) }}</p>
                            </div>
                        </div>
                        <div class="q-my-lg">
                            <div class="row">
                                <input style="width: 70%;" type="text" placeholder="Mã giảm giá" v-model="coupon" @change="reset">
                                <q-btn  color="blue" label="Áp dụng" style="font-family: 'Averta Semi Bold'; width: 30%; height: 1.2rem;" @click="applyCoupon"></q-btn>
                            </div>
                            <p class="text-green" v-if="percent">Áp dụng mã giảm {{ percent }}% thành công</p>
                            <p class="text-red" v-if="applyErr">Mã không hợp lệ</p>
                        </div>
                        <div class="column items-center justify-center">
                            <p class="text-h6">Tổng tiền :</p>
                            <p class="text-h4 text-weight-bold">{{ formatPrice(calculatePrice) }}</p>
                    </div>
                <div class="row">
                    <q-btn style="font-family: 'Averta Semi Bold'" class="full-width q-mt-md" color="blue" label="Thanh toán qua cổng VN-PAY" @click="handleSubmit"></q-btn>
                </div>
            </div>
                </div>
            </div>
        </transition>
    </teleport>
</template>

<script>
import {ref,onMounted, computed} from 'vue'
import {useRouter} from 'vue-router'
import {useStore} from 'vuex'
import {useToast} from 'vue-toastification';
import LoadingOverlay from '@/components/Base/LoadingOverlay.vue'
import { useStorage } from '@vueuse/core'

export default {
    emits: ['closeModal'],
    components: {
        LoadingOverlay
    },
    props: {
        showModal: {
            type: Boolean,
            required: true
        },
        classi: {
            type: Object,
            required: true
        },
        publish: {
            type: Object,
            required: true
        },
        thumbImageURL: {
            type: String,
            defaults: ""
        }
    },
    setup (props,context) {

        const store = useStore();
        const userData = ref(store.getters['user/getUserData']);

        const email = ref(userData.value ? userData.value.email :"");
        const name = ref(userData.value ? userData.value.name || userData.value.fullname : "");
        const phone = ref(userData.value && userData.value.phone ? userData.value.phone : "");
        const coupon = ref("");
        const promotionCode = ref(null);
        const percent = ref(0);
        const applyErr = ref(false);

        const resetCoupon = ()=> {
            promotionCode.value = null;
            percent.value = 0;
            applyErr.value = false;
        }

        const canSale = computed(() => {
            const today = new Date();
            const expire = new Date(props.publish.timeEndOn);
            const diffTime = expire - today;
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 

            if(diffDays > 0 && props.publish.hasPromotionOn) return true;
            else return false;
        })

        const applyCoupon = () => {
            resetCoupon();
            store.dispatch('order/checkCoupon',{code: coupon.value.toUpperCase().trim(), courseId: props.classi.courseID}).then(res => {
                console.log(res);
                if(res) {
                    promotionCode.value = res;
                    percent.value = res.discount;
                }else{
                    applyErr.value = true;
                }
            })
        }

        const handleSubmit = () => {
            //Lưu dữ liệu vào localStorage
            const orderData = {
                classID: props.classi.classID,
                courseID: props.classi.courseID,
                courseName: props.classi.courseName,
                studentName: name.value,
                studentID: userData.value.id,
                classFormat: "online",
                avaRef: props.classi.avaRef,
                email: email.value,
                phone: phone.value,
                promotionCodeID: promotionCode.value ? promotionCode.value.id : "",
                thumbImageURL: props.classi.thumbImageURL,
            }

            store.dispatch("order/createPaymentUrl",{
                price: calculatePrice.value,
                info: `${name} - ${phone} - ${email} mua khóa học ${props.classi.courseName} ${props.classi.courseID} - Lớp ${props.classi.classID}  `,
                orderData: orderData
            })
        }


        //Nếu có hasPromotionOn thì giá salePriceOn, không thì giá realPriceOn
        //Nếu có promotionCode thì giảm giá theo percent, không thì ko giảm
        const calculatePrice = computed(() => {
            let price;
            if(canSale.value) price = props.publish.salePriceOn;
            else price = props.publish.realPriceOn;

            if(promotionCode.value && percent.value > 0){
                price = price - price * percent.value / 100;
            }
            return price;
        })

        const isLoading = ref(false);

        //LUẬT ĐÊ SUBMIT
        const noEmpty = ref([
            val => (val && val.length > 0) || 'Bạn không được bỏ trống trường'
        ])
        const phoneRules = ref([
            val => (val && val.length > 0) || 'Bạn không được bỏ trống trường',
            val => (val && val.length >= 10) || 'Số điện thoại phải có ít nhất 10 số',
            val => (val && val.length <= 11) || 'Số điện thoại không được quá 11 số',
            val => (val && val[0] == 0) || 'Số điện thoại phải bắt đầu bằng số 0'
        ])
        const formatPrice = (price) => {
            const unit = " ₫"
            const string =  price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            return string + unit;
        }
        const closeModal = ()=> {
            context.emit("closeModal");
        }
        return {handleSubmit,closeModal,email,name,phone,isLoading,noEmpty,phoneRules,
                coupon,applyCoupon,percent,resetCoupon,calculatePrice,formatPrice,canSale,applyErr}
        

    }
}
</script>

<style lang="scss" scoped>
//ANIMATION
.show-enter-from,
.show-leave-to{
    opacity: 0;
    transform: scale(0.6);
}
.show-enter-to,
.show-leave-from{
    opacity: 1;
    transform: scale(1);
}
.show-enter-active{
    @include transition-3;
}
.show-leave-active{
    @include transition-3;
    position: absolute;
}
.show-move{
    @include transition;
}


.modal-back {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 98;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .fadeModal-enter-from,
    .fadeModal-leave-to {
        opacity: 0;
    }

    .fadeModal-enter-active,
    .fadeModal-leave-active {
        transition: opacity 0.5s;
    }

    //////////////////// MODAL ////////////////////
    .modal-card {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        border-radius: 1rem;
        padding: 4rem 3rem;
        overflow: hidden;
        width: 100%;
        max-width: 40rem;
    }

    .slideModal-enter-from,
    .slideModal-leave-to {
        transform: translateX(-50%) translateY(100vw);
    }

    .slideModal-enter-active,
    .slideModal-leave-active {
        transition: transform 0.5s;

    }
wrapper-error{
        width: 100%;
        padding: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255, 0, 0, 0.195);
        border: 2px solid $color-primary;
        border-radius: 10px;
        color: $color-primary;
        margin-bottom: 2rem;
            & i{
                width: 10%;
            }
            & p{
                width: 90%;
                
            }
    }


input{
    border-radius: 0 !important;
}
label{
    margin-bottom: 2rem !important;
}
</style>