<template>
    <teleport to="#modal">
        <transition name="fadeModal" appear>
            <div
                v-if="showModal"
                class="modal-back"
                @click="closeModal"
            ></div>
        </transition>

        <transition name="slideModal" appear>
            <div v-if="showModal" class="modal-card card relative-position">
                <LoadingOverlay v-if="isLoading"/>
                <div class="">
                        <h5 class="text-center">Đăng ký lớp offline {{ classi.id }}</h5>
                        <div class="q-py-md q-pb-xl text-center">
                            <p  style="font-family: 'Averta Regular' !important">Bạn hãy nhập chính xác thông tin cá nhân ở dưới để trung tâm có thể liên hệ với bạn trong vòng 1-2 ngày làm việc để xác nhận đăng kí nhé !</p>
                            <br>
                            <p class="text-italic">Lưu ý: Email đăng ký ở dưới sẽ được dùng làm tài khoản học tập tại hệ thống</p>
                             </div>
                        <q-form @submit.prevent="handleSubmit">
                            <div class="row">
                                <div class="input-field col s12">
                                        <input id="register-name" type="text" class="validate" v-model="name" required>
                                        <label class="active"  for="register-name">Họ và tên</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="register-email" type="email" class="validate" v-model="email" required>
                                        <label class="active"  for="register-email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="register-phone" type="text" class="validate" v-model="phone" required>
                                        <label class="active"  for="register-phone">Số điện thoại</label>
                                    </div>
                                </div>
                                <div>
                                    
                                </div>
                                <TransitionGroup tag="div" name="show" mode="out-in">
                                    <div key="1" class="wrapper-error"  v-if="error">
                                            <i class="material-icons">info</i>
                                            <p>{{error}}</p>
                                    </div>
                                    <div key="2" class="row">
                                        <q-btn type="submit" style="font-family: 'Averta Semi Bold'" class="full-width q-mt-md" color="primary" label="Đăng ky lớp offline"></q-btn>
                                    </div>
                                </TransitionGroup>

                        </q-form>
                    </div>
            </div>
        </transition>
    </teleport>
</template>

<script>
import {ref,onMounted} from 'vue'
import {useRouter} from 'vue-router'
import {useStore} from 'vuex'
import {useToast} from 'vue-toastification';
import LoadingOverlay from '@/components/Base/LoadingOverlay.vue'


export default {
    emits: ['closeModal'],
    components: {
        LoadingOverlay
    },
    props: {
        showModal: {
            type: Boolean,
            required: true
        },
        classi: {
            type: Object,
            required: true
        }
    },
    setup (props,context) {


        const store = useStore();
        const userData = ref(store.getters['user/getUserData']);

        const email = ref(userData.value ? userData.value.email :"");
        const name = ref(userData.value ? userData.value.name || userData.value.fullname : "");
        const phone = ref(userData.value && userData.value.phone ? userData.value.phone : "");
        const error = ref(null);
        
        const isLoading = ref(false);
        const handleSubmit = () => {
            if(!email.value) {
                error.value = "Email không được để trống";
                return;
            }
            if(!name.value) {
                error.value = "Họ và tên không được để trống";
                return;
            }
            // Check các lỗi về số điện thoại, có trên 9 số và không chứa kí tự đặc biệt, có số 0 ở đầu
            if(!phone.value) {
                error.value = "Số điện thoại không được để trống";
                return;
            }
            if(phone.value.length < 9) {
                error.value = "Số điện thoại không hợp lệ";
                return;
            }
            if(phone.value[0] == "0") {
                error.value = "Số điện thoại phải có 0 ở đầu";
                return;
            }
            if(phone.value.match(/^[0-9]+$/) == null) {
                error.value = "Số điện thoại không được chứa kí tụ khác số";
                return;
            }

            isLoading.value = true;
            console.log("submit");
            store.dispatch('user/registerClass',{
                classi: props.classi,
                email: email.value,
                name: name.value,
                phone: phone.value

            }).then(res => {
                isLoading.value = false;
                context.emit("closeModal");
            }).catch(err => {
                isLoading.value = false;
            })
        }

        const closeModal = ()=> {
            context.emit("closeModal");
        }
        return {handleSubmit,closeModal,email,name,phone,isLoading}
        

    }
}
</script>

<style lang="scss" scoped>
//ANIMATION
.show-enter-from,
.show-leave-to{
    opacity: 0;
    transform: scale(0.6);
}
.show-enter-to,
.show-leave-from{
    opacity: 1;
    transform: scale(1);
}
.show-enter-active{
    @include transition-3;
}
.show-leave-active{
    @include transition-3;
    position: absolute;
}
.show-move{
    @include transition;
}


.modal-back {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 98;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .fadeModal-enter-from,
    .fadeModal-leave-to {
        opacity: 0;
    }

    .fadeModal-enter-active,
    .fadeModal-leave-active {
        transition: opacity 0.5s;
    }

    //////////////////// MODAL ////////////////////
    .modal-card {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        border-radius: 1rem;
        padding: 4rem 3rem;
        overflow: hidden;
        width: 100%;
        max-width: 40rem;
    }

    .slideModal-enter-from,
    .slideModal-leave-to {
        transform: translateX(-50%) translateY(100vw);
    }

    .slideModal-enter-active,
    .slideModal-leave-active {
        transition: transform 0.5s;

    }
wrapper-error{
        width: 100%;
        padding: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(255, 0, 0, 0.195);
        border: 2px solid $color-primary;
        border-radius: 10px;
        color: $color-primary;
        margin-bottom: 2rem;
            & i{
                width: 10%;
            }
            & p{
                width: 90%;
                
            }
    }


input{
    border-radius: 0 !important;
}
label{
    margin-bottom: 2rem !important;
}
</style>