<template>
    <!-- <div class="skeleton continue-card a-btn-hover">

    </div> -->
    <div class="continue-card a-btn-hover" v-if="continueData" @click="continueLearning">
        <div class="card-container row">
            <div class="left-section col xl4 l4 m12 s12">
                <!-- <img class="thumbnail" :src="continueData.thumbnail" :alt="continueData.name"> -->
                <div class="thumb" :style="`background-image: url(${continueData.thumbnail})`"></div>
            </div>
            <div class="right-section col xl8 l8 m12 s12">
                <div class="content">
                    <div class="title">
                        <h5 class="tag">{{continueData.tag}}</h5>
                        <h2 class="name">{{continueData.courseName}}</h2>
                    </div>
                    <div class="body" v-if="continueData.lessonNumber">
                        <h4 class="lesson">Bài {{continueData.lessonNumber}}. {{continueData.lessonName}}</h4>
                    </div>
                    <div class="footer" v-if="continueData.lessonNumber">
                        <a>
                            <p>Tiếp tục học</p>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                    <div class="footer" v-else>
                        <a>
                            <p>Khóa học hiện tại đang bị khoá</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {onMounted, watchEffect,ref} from 'vue'
import {useStore} from 'vuex'
import {useRouter} from 'vue-router'
export default {
    setup () {
        const store = useStore();
        const continueData = ref(null);
        const router = useRouter();

        const continueLearning = () => {
            console.log("Nhary");
            //Bình thường cần thay đổi activeCourse và activeClass trong userData khớp với thẻ course (có check payment)
            router.push({name: "Dashboard"});
        }


        onMounted(async()=>{
            continueData.value = await store.dispatch('user/loadContinueData');
        })
        return {continueData,continueLearning} 
    }
}
</script>

<style lang="scss" scoped>
.continue-card{
    width: 100% !important;
    border-radius: 1rem;
    @include card-shadow-1;
    overflow: hidden;
    
    backface-visibility: hidden;
    
}
.card-container{
    width: 100%;
    margin-bottom: 0 !important;
    .left-section{
        height: 15rem;
        overflow: hidden;
        position: relative;
        padding: 0 !important;
        .thumb{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .right-section{
        padding: 2rem 1.5rem 2rem 1.5rem ;
    }
}

.content{
    margin-left: 1rem;
    .title{
        .tag{
            font-size: 1.2rem;
            background: linear-gradient(to right, #9999FF, #C1272D);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            white-space: nowrap;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
        }
        .name{
            font-size: 2.2rem;
            line-height: 1.2;
            margin-bottom: 0.3rem;

        }
    }
    .body{
        margin-bottom: 2rem;
        .lesson{
            font-size: 1.5rem;
            font-family: "Averta Regular";
        }
    }
    .footer{
        a{
            display: flex;

        }
    }
}
</style>