<template>
    <div class="course-list">
        <div class="title">
            <p>{{title}}</p>
        </div>
        <div class="body">
            <div class="btn-wrapper">
                <span @click="prev" ref="prevBtn"><i class="material-icons">chevron_left</i></span>
                <span @click="next" ref="nextBtn"><i class="material-icons">chevron_right</i></span>

            </div>
            <div class="list-wrapper">
                <div class="list-items" ref="listItems">
                        <CourseCard
                        v-for="(course, index) in 7"
                        :key="index"
                        :course="course" 
                        @click="seeCourseDetail('ae-1')"/>
                </div>
            </div>
        </div>
        <div class="footer">
            <a class="btn-more">
                <p>Xem tất cả</p>
                <i class="material-icons">arrow_right</i>
            </a>
        </div>
    </div>
</template>

<script>
import CourseCard from '@/components/Guest/CourseCard.vue'
import {ref, watchEffect} from 'vue'
import {useRouter} from 'vue-router'
export default {
    props: ['courses','title'],
    components: {CourseCard},
    setup (props) {
        const listItems = ref(null);
        const indexItem = ref(0);
        const prevBtn = ref(null);
        const nextBtn = ref(null);
        const countItems = ref(3);

        const router = useRouter();

        const next = ()=> {
            indexItem.value < countItems.value ? indexItem.value ++ : null;
        }
        const prev = ()=> {
            indexItem.value >0 ? indexItem.value -- : null;
        }

        // Animation slider
        watchEffect(()=>{
            const card = document.querySelector(".course-card");
            const number = indexItem.value
            if(card){
                console.log(card.clientWidth);
                const offset = (Number(card.clientWidth) + 1.5*16) * number;
                listItems.value.style.transform = `translate(-${offset}px,0)`
            }
        })

        // opacity for btn
        watchEffect(()=>{
            if(prevBtn.value && nextBtn.value){
                if(indexItem.value== 0){ 
                    prevBtn.value.classList.add("off");
                }else{
                    prevBtn.value.classList.remove("off");
                }
    
                if(indexItem.value == countItems.value){
                    nextBtn.value.classList.add("off");
                }else{
                    nextBtn.value.classList.remove("off");
                }
            }
        })


        // event click vào card để sang trang xem chi tiết
        const seeCourseDetail = (id)=>{
            router.push({name: "CourseDetail", params: {id}})
        }

        return {prev,next,listItems,prevBtn,nextBtn, seeCourseDetail}
    }
}
</script>

<style lang="scss" scoped>
.course-list{
    width: 100%;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    p{
        font-size: 2rem;
    }
}
.body {
  display: flex;
  align-items: center;
  position: relative;
}

.btn-wrapper{
    position: absolute;
    @include center-1;
    width: 120%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    span{
        width: 4rem;
        height: 4rem;
        border-radius: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include transition;
        cursor: pointer;
        opacity: 1;
        pointer-events: all;

        &:hover{
            @include btn-shadow-1;
            i{
                color: $color-primary;
            }
        }
        i{  
            @include transition;
            font-size: 2rem;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        &.off{
            opacity: 0;
            pointer-events: none;
        }
    }
}

.list-wrapper{
    width: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 2rem;
}

.list-items {
    display: flex;
    padding: 1.5rem;
    width: inherit;
    flex-wrap: nowrap;
    @include transition-3;
    //will-change: transform;
    backface-visibility: hidden;
    & > * {
        min-width: calc(96%/3);
    }
    
}

section.blogs{
    .title-wrapper{
        width: 100%;
        justify-content: center;
    }
    .title{
        font-size: 2rem;
    }
    .subtitle{
        font-family: "Averta Regular";
        font-size: 1rem;
    }
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    .btn-more{
        display: flex;
        color: black;
        cursor: pointer;
        @include transition;
        &:hover{
            color: $color-primary;
        }

    }
}

</style>