<template>
    <Transition name="fade" mode="out-in">
        <div class="ending-screen" v-if="state && activeVideoId">
            <div class="body">
                <div class="title-wrapper" @click="handleNext">
                    <h6 class="next">Video kế tiếp</h6>
                    <h3 v-if="videoTitle" class="title">{{videoTitle}}</h3>
                </div>
                <div class="progress-wrapper">
                    <div class="count-down a-btn-hover">
                        <span class="playBtn"><i class="material-icons">play_arrow</i></span>
                        <CircleProgress class="progess" :percent="percent" :size="100" :border-width="8" :fill-color="'white'" :empty-color="'#a7a7a7'" :border-bg-width="6"/>
                    </div>
                    <div  class="cancel a-btn-hover" @click="cancelNext">
                        <h6>Hủy</h6>
                    </div>
                </div>
            </div>
            <div class="bg"></div>
        </div>
    </Transition>
</template>

<script>
import {computed, onMounted, ref, watchEffect} from 'vue'
import {useStore} from 'vuex'
import "vue3-circle-progress/dist/circle-progress.css";
import CircleProgress from "vue3-circle-progress";

export default {
    props: ['state'],
    emits: ['closeEnding'],
    components: {CircleProgress},
    setup (props,context) {
        const store = useStore();     
        const activeVideoId = computed(()=>store.getters['user/getActiveVideoId']);
        const activeLessonId = computed(()=>store.getters['user/getActiveLessonId']);
        const firstLoadVideo = computed(()=> store.getters['user/getFirstLoadNext']);

        const percent = ref(100);
        const limit = 3000;
        const interval = ref(null);



        const gap = computed(()=> Math.round(limit / 100));
        watchEffect(()=>{
            let state = props.state;
            if(state){ // đc bật lên thì chạy đếm ngược và hết thì next video
                percent.value = 100;
                _loadNextVideo();
                _checkDoneVideo();
                interval.value = setInterval(()=>{
                    if(percent.value > 0){
                        percent.value -= 1;
                    }else{ // Đếm xong thì reset về và handle next
                        clearInterval(interval.value);
                        interval.value = null;
                        setTimeout(()=>{
                            handleNext();
                        },300)
                    }
                },gap.value)
            }
        })
           
        //Nếu là video đầu thì load next video trước, ko thì thôi
        const _loadNextVideo = ()=>{
            let vidId = activeVideoId.value;
            let lessonId = activeLessonId.value;
            if( !firstLoadVideo.value && vidId && lessonId){
                let res = store.dispatch("user/updateActiveVideo", {
                    videoId: vidId,
                    lessonId: lessonId,
                    sec: 0,
                    mode: 0
                });
                return;
            }
        }

        const _checkDoneVideo = async()=> {
            await store.dispatch('user/activateCompleteVideo', {
                videoId: activeVideoId.value,
                lessonNumber: store.getters['lessons/getLessonFromId'](activeLessonId.value).number
            })
        }

        const handleNext = () => {
            context.emit('closeEnding');
            //next
            store.dispatch("user/updateActiveVideo", {
                videoId: store.getters['user/getNextVideoId'],
                lessonId: store.getters['user/getNextLessonId'],
                sec: 0,
                mode: 1
            });
        }
        const cancelNext = () => {
            if(interval.value){
                clearInterval(interval.value);
                interval.value = null;
            }
            context.emit('closeEnding');
        }

        const videoTitle = computed(()=> store.getters['user/getNextVideoTitle']);

        return {percent,videoTitle,handleNext,cancelNext,activeVideoId}
    }
}
</script>

<style lang="scss" scoped>

//Animation
.fade-enter-from,
.fade-leave-to{
    opacity: 0;
}
.fade-enter-to,
.fade-leave-from{
    opacity: 1;
}
.fade-enter-active{
    @include transition;
}
.fade-leave-active{
    @include transition;
}


.ending-screen{
    width: 100%;
    height: 100%;
    position: absolute;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 1;
    border-radius: 1rem 1rem 0 0;
    color: white;
}

.body{
    position: relative;
    width: 100%;
    height: 100%;
}
.title-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 55%;
    margin-bottom: 1rem;

    .next{
        font-family: "Averta Regular";
        margin-bottom: 1rem;
    }
    .title{
        font-size: 1.5rem;
        width: 60%;
        text-align: center;
    }
}
.progress-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    @include center-1;
    top: 55%;
    .count-down{
        position: relative;
        margin-bottom: 1.5rem;
        .playBtn{
            @include center-1;
            top: 53%;
            i{
                font-size: 3rem;
            }
        }
    }
}


</style>