<template>
        
            <li v-if="isUnlock">
                <div class="collapsible-header les-nav">
                    <div :class="[{'done' : checkCompleteAll},'les-index']">
                        <p>{{lesson.number}}</p>
                    </div>
                    <div class="les-content">
                            <div class="les-info">
                                <p class="les-name">{{lesson.name}}</p>
                                <span class="les-btn">
                                    <i class="material-icons">expand_more</i>
                                </span>
                            </div>
                            <div class="les-prg">
                                <span class="les-bar">
                                        <LvProgressBar v-if="!checkCompleteAll" :value="curCompleteCount" :showValue="false" :color="'#AA0F1E'"/>
                                        <LvProgressBar v-else :value="curCompleteCount" :showValue="false" :color="'#59C1AD'"/>
                                </span>
                                <span class="les-count">{{curStudentRecord.length+1}}/{{curPlaylist.length}}</span>
                            </div>
                    </div>
                </div>
                <div class="collapsible-body vid-cards">

                    <div>
                        <div
                            :class="[{'active' : (activeVideoId == video.vidId)},'vid-card']"
                            v-for="(video,index) in curPlaylist"
                            :key="video.vidId"
                            :id="video.vidId"
                            ref="vidCards"   
                        >       

                            <div class="card-container" v-if="video.type == 'rec'" @click="loadVideoRecord">
                                <div class="vid-check first">
                                    <label>
                                        <input type="checkbox" class="filled-in" checked="checked" />
                                        <span></span>
                                    </label>
                                </div>
                                <div class="vid-body">
                                    <p class="vid-title">{{index + 1}}. Bài giảng trên lớp</p>
                                    <span v-if="curVideoRecord" class="vid-tag">Đã có vid</span>
                                    <span v-else class="vid-tag none">Chưa có vid</span>
                                </div>
                            </div>


                            <div class="card-container" v-else>
                                <div class="vid-check" >
                                    <label>
                                        <input type="checkbox" class="filled-in" :checked="curCompleteList[index]" />
                                        <span></span>
                                    </label>
                                </div>
                                <div
                                class="vid-body"
                                @click="loadVideo({vidId: video.vidId, lessonId: lesson.id})"> 
                                <!-- load video  -->
                                    <div class="vid-thumb" v-if="video.thumbnail.medium">
                                        <img :src="video.thumbnail.medium.url" alt="ảnh vid">
                                    </div>
                                    <div class="vid-info">
                                        <p class="vid-name">{{index+1}}. {{video.title}}</p>
                                        <div class="vid-channel">
                                            {{video.channelName}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </li>
            <li v-else>
                <div class="lock-card">
                    <div class="lock-index">
                        <p>{{lesson.number}}</p>
                    </div>
                    <div class="lock-content">
                        <p class="lock-text">Mở khoá sau ...</p>
                        <span class="lock-icon">
                            <svg width="16" height="20" viewBox="0 0 32 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 42C2.9 42 1.95867 41.6087 1.176 40.826C0.392 40.042 0 39.1 0 38V18C0 16.9 0.392 15.958 1.176 15.174C1.95867 14.3913 2.9 14 4 14H6V10C6 7.23333 6.97533 4.87467 8.926 2.924C10.8753 0.974666 13.2333 0 16 0C18.7667 0 21.1253 0.974666 23.076 2.924C25.0253 4.87467 26 7.23333 26 10V14H28C29.1 14 30.042 14.3913 30.826 15.174C31.6087 15.958 32 16.9 32 18V38C32 39.1 31.6087 40.042 30.826 40.826C30.042 41.6087 29.1 42 28 42H4ZM16 32C17.1 32 18.042 31.6087 18.826 30.826C19.6087 30.042 20 29.1 20 28C20 26.9 19.6087 25.958 18.826 25.174C18.042 24.3913 17.1 24 16 24C14.9 24 13.9587 24.3913 13.176 25.174C12.392 25.958 12 26.9 12 28C12 29.1 12.392 30.042 13.176 30.826C13.9587 31.6087 14.9 32 16 32ZM10 14H22V10C22 8.33333 21.4167 6.91667 20.25 5.75C19.0833 4.58333 17.6667 4 16 4C14.3333 4 12.9167 4.58333 11.75 5.75C10.5833 6.91667 10 8.33333 10 10V14Z" fill="white"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </li>

</template>

<script>
import { onMounted,computed,ref, watchEffect } from '@vue/runtime-core'
import getID from '@/composable/getPlaylistIDFromURL'
import {useToast} from 'vue-toastification' 
import _ from 'lodash'
import { useStore } from 'vuex'

export default {
    props: ['lesson','isUnlock','videoRecords','studentRecord', 'activeVideoId', 'activeLesson','activeVideo'],
    setup (props,context) {
            const store = useStore();
            const toast = useToast();
                        
            const instance = ref(null);     
            const vidCards = ref(null); 

            const loadCollapsible = ()=>{
                var elems = document.querySelectorAll('.collapsible');
                instance.value = M.Collapsible.init(elems);
            } 
            
            //Biến reactive theo props truyền vào
            const number = computed(()=> props.lesson.number);   //int
            const curVideoRecord = computed(()=> _.get(props.videoRecords, `${number.value}`));  //object: videoRecords[2] thì lấy ra videoId của bài số 2
            //const curStudentRecord = computed(()=> _.get(props.studentRecord, `lessonComplete[${number.value}]`) || []) //array
            const curStudentRecord = computed(()=> {
                const record = props.studentRecord;
                if(record && record.lessonComplete[number.value]){
                    return record.lessonComplete[number.value]
                } else return []
            })

            const curPlaylist = ref([]);   //array

            // Từ ds video curPlaylist và ds video học sinh học đc tính toán ra - số lượng hoàn thành - cái nào hoàn thành
            const curCompleteCount = computed(()=> {
                if(curStudentRecord.value){
                    Math.ceil((curStudentRecord.value.length + 1) / (curPlaylist.value.length) * 100)
                }else return 0;
            });
            const curCompleteList = computed(()=> 
                curPlaylist.value.map((vid) => {
                    if(curStudentRecord.value.includes(vid.vidId)){ 
                        return true
                    }else return false
                })
            )

            //CHECK HOÀN THÀNH TOÀN BỘ VIDEO CỦA BÀI
            const checkCompleteAll = computed(()=>{
                if(curStudentRecord.value && curStudentRecord.value.length + 1  == curPlaylist.value.length) return true;
                else return false
            })

            const loadComplete = ref(false)
            const activeEl = ref(null);

            ////// MỞ COLLAPSIBLE
            //khi có videoActive và lấy đc ds collapsible, thì tiến hành mở collapsible và lấy thẻ video đang active
            watchEffect(()=> {
                if(props.activeLesson && props.activeVideo && instance.value && vidCards.value ){
                    if(props.activeLesson.number == number.value){
                        instance.value[0].open(props.lesson.number - 1);
                        loadComplete.value = true;
                        
                        let index = vidCards.value.findIndex((el)=> el.id == props.activeVideoId);
                        activeEl.value = vidCards.value[index];   
                    }
                }
            })

            ////// CUỘN LIST
            //Khi mà có thẻ video active, thì thằng overflow bọc ngoài nó sẽ cuộn cho active card lên đầu và dịch cho ra giữa màn
            watchEffect(()=>{
                if(activeEl.value && loadComplete.value){
                    let rightSection = document.getElementById("right-section");
                    let page = document.querySelector(".page.labo");
                    setTimeout(()=>{ //delay cho mượt
                        rightSection.scroll({
                            top: activeEl.value.offsetTop - page.clientHeight*0.4,
                            left: 0,
                            behavior: 'smooth'
                        })
                    },200)
                }
            })

            /////// LOAD VIDEO KHI ĐC CLICK VÀO 
            const loadVideo = (data) => {
                let res = store.dispatch("user/updateActiveVideo", {
                    videoId: data.vidId,
                    lessonId: data.lessonId,
                    sec: 0,
                    mode: 1
                });

            }

            /////// LOAD VIDEORECORD CỦA BÀI HIỆN TẠI, VÌ NÓ ĐC CHÈN VÀO STATE.PLAYLIST RỒI NÊN COI NHƯ 1 VIDEO YT BÌNH THƯỜNG
            const loadVideoRecord = () => {
                //Có thể class có dữ liệu recordId nhưng playlist load ko về đc do vid quay bị xóa hoặc private
                if(curVideoRecord.value){
                    if(curPlaylist.value[0].vidId == curVideoRecord.value){
                        let data = {
                            vidId: curVideoRecord.value,
                            lessonId: props.lesson.id
                        }
                        loadVideo(data);
                    }else{
                        toast.info("Video bị ẩn. Bạn có thể liên hệ với giảng viên để mở")
                    }
                }else{
                    toast.info("Video quay lại trên lớp sẽ được upload sớm bạn nhé!")
                }
            }

            //LOAD TOÀN BỘ VIDEO CỦA BÀI HIỆN TẠI
            onMounted(async ()=>{
                //Check xem bài có unlock ko để mà load video về
                

                curPlaylist.value = await store.dispatch('lessons/loadPlaylist',{
                    playlistId: getID(props.lesson.playlistURL),
                    lessonId: props.lesson.id
                    
                })
                loadCollapsible();

            })
            

        return {curPlaylist,number,curVideoRecord,curStudentRecord,curCompleteCount,curCompleteList,instance,vidCards,checkCompleteAll,
                loadVideoRecord,loadVideo,
                }
    }
}
</script>

<style lang="scss" scoped>


.les{
    &-nav{
        background-color: #FFEFEF;
        width: 100%;
    }
    &-index{
        padding: 0 0.7rem 0 0.2rem;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        & p{
            font-size: 1.4rem;
            color: $color-primary;
        }
        &.done p{
            color: $color-green;
        }
    }
    &-content{
        width: 100%;
    }
    &-info{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 0.5rem;
    }
    &-name{
        min-width: 14rem;
        line-height: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        text-align: start;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        height: 2.6rem;
    }
    &-btn{
        margin-left: auto;
        display: flex;
        i{
            margin-right: 0 !important;
        }
    }
    &-prg{
        display: flex;
        width: 100%;
        align-items: center;
    }
    &-bar{
        width: 85%;
        transform: scaleY(0.2);
    }
    &-complete{
        color: $color-green;
        width: 85%;

    }
    &-count{
        font-size: 0.6rem;
        color: $color-gray-dark;
        margin-left: 0.9rem;
    }
    &-lock{

    }
}
.card-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 1rem;
    cursor: pointer;
}
.vid{
    &-cards{
        padding: 0 !important;
    }
    &-card{

        @include transition;
        &:hover{
            background-color: $color-gray-light-3;
        }
        &.active{
            background-color: #f2ad7959;
        }
    }
    &-check{
        position: relative;
        display: flex;
        align-items: flex-start;
        pointer-events: none;
        width: 1.8rem;
        & > * {
            position: absolute;
            z-index: 100;
            @include center-1;
            top: 60%;
        }
        &.first > *{
            top: 80%;
        }
    }
    &-body{
        display: flex;
        width: 100%;
        align-items: center;
    }
    &-title{
        font-size: 0.9rem;
    }
    &-tag{
        font-size: 0.6rem;
        margin-left: auto;
        color: white;
        background-color: #26a69a;
        padding: 0.2rem 0.8rem;
        border-radius: 1rem;
        &.none{
            background-color: $color-primary;
        }

    }
    &-thumb{
        margin-right: 0.7rem;
        width: 7rem;
        height: 4.5rem;
        & img{
            width: 7rem;
            height: 4.5rem;
            object-fit: cover;
            border-radius: 5px;
            overflow: hidden;
        }
    }
    &-info{

    }
    &-name{
        font-size: 0.9rem;
        line-height: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        text-align: start;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        height: 2.6rem;
    }
    &-channel{
        font-size: 0.8rem;
        color: $color-gray-dark;
        font-family: "Averta Regular";
    }

}
.lock{
    &-card{
        background-color: $color-orange;
        color: white;
        display: flex;
        align-items: center;
        height: 6rem;
        padding: 1rem;
    }
    &-index{
        padding: 0 0.7rem 0 0rem;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        & p{
            font-size: 1.4rem;
        }
    }
    &-content{
        display: flex;
        align-items: center;
        width: 100%;
    }
    &-text{
        margin-right: auto;
        min-width: 90%;

    }
    &-icon{

    }
}

</style>