<template>
    <div class="note-card">
        <div class="note-pill">
            <span @click="playAtSec" class="note-sec">{{timeFormat}}</span>
        </div>
        <div class="note-content">
            <div class="note-header">
                <p @click="playAtSec" class="note-title">{{note.videoTitle}}</p>
                <div class="note-edit" v-if="!isEditing">
                    <span @click="openEdit" class="icon-container"> <i class="material-icons">edit</i></span>
                    <span @click="deleteNote" class="icon-container"> <i class="material-icons">delete</i></span>
                </div>
            </div>
            <div class="note-body">
                <div v-if="!isEditing" class="note-info"><p>{{textContent}}</p></div>
                <div class="note-compose" v-else>
                      <div class="row">
                        <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="note-textarea materialize-textarea" v-model="textContent"></textarea>
                                        <label for="textarea1"></label>
                                    </div>
                                </div>
                        </form>
                    </div>

                    <div class="row">
                            <div class="col s1 offset-s10">
                                <button class="button-file waves-effect waves-light btn grey lighten-1" :disabled="disableBtn" @click.prevent="cancelEdit">Huỷ</button>
                            </div>
                            <div class="col s1">
                                <button class="button-file waves-effect waves-light btn red darken-4" :disabled="disableBtn" @click.prevent="saveEdit">Lưu</button>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { computed, ref } from 'vue'
import {useStore} from 'vuex'
import { values } from 'lodash';
export default {
    props: ['note'],
    setup (props) {
        const store = useStore();
        const timeFormat = computed(()=>
        {   
            let duration = Number(props.note.timeMark);
            // Hours, minutes and seconds
            var hrs = ~~(duration / 3600);
            var mins = ~~((duration % 3600) / 60);
            var secs = ~~duration % 60;

            // Output like "1:01" or "4:03:59" or "123:03:59"
            var ret = "";

            if (hrs > 0) {
                ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
            }

            ret += "" + mins + ":" + (secs < 10 ? "0" : "");
            ret += "" + secs;
            return ret;
        })
        const textContent = ref(props.note.content)


        const isEditing = ref(false);

        const openEdit = ()=>{
            isEditing.value = true;
        }

        const disableBtn = ref(false);

        const cancelEdit = ()=> {
            isEditing.value = false;
            textContent.value = props.note.content;
        }
        
        const saveEdit = async ()=> {
            disableBtn.value = true;
            if(textContent.value.trim().length == 0){
                cancelEdit();
                disableBtn.value = false;
                return;
            }
            const res = await store.dispatch('user/updateNote',{
                content: textContent.value,
                id: props.note.id
            })
            if(res){
                isEditing.value = false; 
                return;
            }
            disableBtn.value = false;
        }

        const deleteNote = async () => {
            disableBtn.value = true;
            const res = await store.dispatch('user/deleteNote',{
                id: props.note.id
            })
            if(res){
                isEditing.value = false;
                return;
            }
            disableBtn.value = false;
        }


        //Sự kiện khi bấm vài time của note, nếu vidoe đang chjay đúng của note thì cứ thế nhảy, không thì phải load video lên trước rồi mới nhảy
        const player = computed(()=> store.getters['player/getPlayer']);
        const playAtSec = () => {
            if(player.value){
                const activeVideoId = store.getters['user/getActiveLessonId'];
                if(props.note.videoID !== activeVideoId){
                    //Cứ chạy hàm này là tất cả biến active sẽ đc cập nhật và player tự load lại
                    store.dispatch("user/updateActiveVideo", {
                        videoId: props.note.videoID,
                        lessonId: props.note.lessonID,
                        sec: props.note.timeMark,
                        mode: 1,
                    }).then(()=> {
                        player.value.seekTo(props.note.timeMark,true);
                        return;
                    })

                } else{

                    player.value.seekTo(props.note.timeMark,true);
                    return;
                }
            }
        }
        return {timeFormat, isEditing,textContent, disableBtn,playAtSec,
                openEdit,cancelEdit,saveEdit,deleteNote}
    }
}
</script>

<style lang="scss" scoped>
.note{
    &-card{
        display: flex;
        width: 100%;
        margin-bottom: 2rem;
    }


    &-pill{
        cursor: pointer;
        margin-right: 1rem;
        
    }
    &-sec{
        padding: 0.3rem 0.7rem;
        border-radius: 10rem;
        background-color: $color-primary;
        color: white; 
    }

    &-content{
        width: 100%;

    }
    &-header{
        display: flex;

    }
    &-content{

    }
    &-title{
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
    &-edit{
        margin-left:  auto;
        display: flex;
        & span{
            width: 1rem;
            height: 1rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            &:hover{
                color: $color-primary;
            }
        }
        & i{

        }
    }

    &-body{

    }
    &-info{
        padding: 0.7rem 1rem;
        background-color: #edf2f7; 
        border-radius: 5px;
        & p{
            font-family: "Averta Regular";
        }
    }
    &-compose{

    }
    &-textarea{
        min-height: 3rem;
    }
}
.input-field{
    background-color: #edf2f7 !important; 
    border-radius: 8px ;
    
}
</style>