<template>
    <div class="info-container">
        <div class="info-header">
            <span class="time-pill">{{timeFormat}}</span>
            <p class="vid-title">{{title}}</p>
        </div>
        <div class="info-compose">
            <div class="row">
                <form class="col s12">
                        <div class="row" id="input-row">
                            <div class="input-field col s12">
                                <input id="title2" class="info-input materialize-textarea" v-model="titleContent" placeholder="Tiêu đề cho câu hỏi" required/>
                                <label for="title2"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea2" class="info-textarea materialize-textarea" v-model="bodyContent" placeholder="Nội dung câu hỏi" required></textarea>
                                <label for="textarea2"></label>
                            </div>
                        </div>
                </form>
            </div>

            <div class="row">
                    <div class="col s1 offset-s10">
                        <button class="button-file waves-effect waves-light btn grey lighten-1" :disabled="disableBtn" @click.prevent="cancelEdit">Huỷ</button>
                    </div>
                    <div class="col s1">
                        <button class="button-file waves-effect waves-light btn red darken-4" :disabled="disableBtn" @click.prevent="saveEdit">Lưu</button>
                    </div>
            </div>

        </div>
    </div>
</template>

<script>
    import { computed, ref } from 'vue'
    import {useStore} from 'vuex'
    import {useToast} from 'vue-toastification'
    import uniqid from 'uniqid';
    export default {
        props: ['timeFormat','time','title','videoId','lesson'],
        emits: ['doneCreateQA'],
        setup(props,context){

            const disableBtn = ref(false);
            const titleContent = ref("");
            const bodyContent = ref("");
            const userData = computed(() => store.getters['user/getUserData']);
            const userId = computed(()=> store.getters['user/getCurrentUser'].uid);
            const toast = useToast();
            const store = useStore();

            const cancelEdit = ()=> {
                context.emit('doneCreateQA')
            }
            
            const saveEdit = async ()=> {
                disableBtn.value = true;
                if(titleContent.value.trim().length == 0 || bodyContent.value.trim().length  == 0){
                    toast.error("Bạn phải điền đủ thông tin trước khi lưu")
                    disableBtn.value = false;
                    return;
                }
                const newQues = {
                    ask: {
                        avaURL: userData.value.avaURL ? userData.value.avaURL : null,
                        content: bodyContent.value,
                        title: titleContent.value
                    },
                    courseID: props.lesson.courseID,
                    isAnswer: false,
                    lessonID: props.lesson.id,
                    lessonNumber: props.lesson.number,
                    studentID: userId.value,
                    studentName: userData.value.fullname,
                    timeMark: props.time,
                    videoID: props.videoId,
                    videoTitle: props.title
                }
                const res = await store.dispatch('lessons/createQuestion',{
                    newQues
                })
    
                if(res){
                    context.emit('doneCreateQA')
                    return;
                }
                disableBtn.value = false;
            }



            return {cancelEdit,saveEdit,disableBtn,userData, titleContent, bodyContent}
        }
    }
</script>

<style lang="scss" scoped>
#input-row{
    margin-bottom: 0rem !important;
}
.info{
    &-container{
        margin-bottom: 2rem;
        width: 100%;
    }
    &-header{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        .time-pill{
            margin-right: 0.5rem;
            background-color: $color-primary;
            color: white;
            border-radius: 10rem;
            padding: 0.1rem 0.6rem;
            cursor: pointer;
            font-size: 0.9rem;
        }
        .vid-title{
            font-size: 0.9rem;
            color: $color-primary;

        }
    }
    &-title{
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
    }
    &-content{
        font-family: "Averta Regular";
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }
    &-des{
        font-family: "Averta Regular";
        font-size: 1rem;
        margin-bottom: 0.2rem;
        color: $color-gray-dark;
    }
    &-compose{

    }
    &-input{
        
    }
    &-textarea{

    }
}
.input-field{
    background-color: #edf2f7 !important; 
    border-radius: 8px ;
    font-family: "Averta Bold";
}

</style>