<template>
    <div class="content-container">
            <VideoGuide
                v-if="activeTab == 'guide'"
                :guide
                ="guide" />
            <VideoDescription
                v-if="activeTab == 'description'"
                :videoId="activeVideoId"
                :curVideo="activeVideo"
                />
            <VideoNote
            v-if="activeTab == 'note'"
            :curVideo="activeVideo"
            :curLesson="activeLesson"
            />
            <VideoQA
            v-if="activeTab == 'question'"
            :curVideo="activeVideo"
            :curLesson="activeLesson" 
            />
    </div>
</template>

<script>
import VideoGuide from "@/components/Labo/VideoGuide.vue"
import VideoDescription from "@/components/Labo/VideoDescription.vue"
import VideoNote from "@/components/Labo/VideoNote.vue"
import VideoQA from "@/components/Labo/VideoQA.vue"
import {useStore} from 'vuex'
import { computed, watchEffect } from 'vue'
export default {
    components: {VideoGuide,VideoDescription,VideoNote,VideoQA },
    props: ['activeVideo', 'activeVideoId', 'activeTab','activeLesson'],
    setup (props) {
        const store = useStore();
        const guide = computed(()=>store.getters['lessons/getGuide'](props.activeVideoId));
        const description = computed(()=>store.getters['lessons/getDescription'](props.activeVideoId));

        const qa = computed(()=> store.getters['lessons/getQA'](props.activeVideoId));

        watchEffect(()=>{
            if(props.activeVideoId){
                store.dispatch('lessons/loadVideosDetail',{
                    videoId: props.activeVideoId
                });
            }
        })
        
        return {guide,description,qa}
    }
}
</script>

<style lang="scss" scoped>
.content{
    &-container{
        width: 100%;
        
    }
    &-wrapper{
        
    }
}

</style>