<template>
    <div>
        <div class="QA-container">

            <div class="QA-create" @click="createQA" v-if="!isCreateQA">
                <p class="QA-create-text"> Tạo câu hỏi mới ở thời điểm </p>
                <p class="QA-create-text bold"> {{timeFormat}}</p>
                <span class="QA-create-btn">
                    <i class="material-icons">add</i>
                </span>
            </div>
            <div class="QA-make" v-else>
                <QuestionCreate
                  :timeFormat="timeFormat"
                  :time="currentTime"
                  :title="computedTitle" 
                  :videoId="curVideo.vidId"
                  :lesson="curLesson"
                  @doneCreateQA = "doneCreateQA"/>
            </div>

            <div class="a-spacing-ver-sm"></div>

            <div class="QA-filter">    
                <LvDropdown
                    optionLabel="key"
                    optionValue="value"
                    v-model="videoFilter"
                    :options="[
                        {
                            'key':'Tất cả video',
                            'value':'all'
                        },
                        {
                            'key':'Video hiện tại',
                            'value':'cur'
                        }
                    ]"
                />            
                <LvDropdown
                    optionLabel="key"
                    optionValue="value"
                    v-model="ownerFilter"
                    :options="[
                        {
                            'key': 'Tất cả mọi người',
                            'value':'all'
                        },
                        {
                            'key':'Của tôi',
                            'value':'me'
                        }
                    ]"
                />     
                <LvDropdown
                    optionLabel="key"
                    optionValue="value"
                    v-model="timeFilter"
                    :options="[
                        {
                            'key': 'Tạo gần nhất',
                            'value':'recent'
                        },
                        {
                            'key':'Thời gian tăng dần',
                            'value':'time'
                        }
                    ]"
                />              
            </div>
            <div v-if="filQuesList" class="QA-count">{{computedCount}}</div>
            <div class="QA-list" v-if="filQuesList">
                <QuestionCard
                  v-for="(ques) in filQuesList"
                  :ques="ques"
                  :isEditable="!ques.isAnswer"
                  :key="ques.timeMark" />
            </div>

        </div>
    </div>
</template>

<script>
import { ref,computed, watchEffect } from 'vue'
import {useStore} from 'vuex'
import LvDropdown from 'lightvue/dropdown';
import QuestionCard from "@/components/Labo/QuestionCard.vue"
import QuestionCreate from "@/components/Labo/QuestionCreate.vue"
import _ from 'lodash'


export default {
    components:{QuestionCard,QuestionCreate,LvDropdown},
    props: ['curVideo','curLesson'],
    setup (props) {
        const store = useStore();

        const videoFilter = ref("cur")
        const ownerFilter = ref('all');
        const timeFilter = ref('recent');

        const lessons = computed(()=> _.orderBy(store.getters['lessons/getList'], ['number'],['asc']) || []);
        const studentId = computed(()=> store.getters['user/getCurrentUser'].uid);
        const curQuesList = computed(()=> store.getters['lessons/getQuestionList'](props.curVideo.vidId , videoFilter.value));

        //CHỨC NĂNG FILTER


        //Load list ques mới khi mà đổi video hoặc filter khác
        watchEffect(async()=>{  
            let vidId = props.curVideo.vidId;
            let vidFil = videoFilter.value;
            if(vidFil == 'cur'){
                await store.dispatch('lessons/loadQuestionVideo',{
                    videoId : vidId
                })
            }else{
                await store.dispatch('lessons/loadQuestionAll',{
                    courseID: props.curLesson.courseID
                })
            }
            

        })

        // Computed theo 3 filter
        const filQuesList = computed (()=> {
            let ques = curQuesList.value;
            let ownFil = ownerFilter.value;
            let timeFil = timeFilter.value;

            if(ownFil == 'me'){
                ques = ques.filter(q => q.studentID == studentId.value);
            }
            if(timeFil == 'time'){
                ques = _.orderBy(ques, ['timeMark'], ['desc']);
            } 
            return ques
        })

        //Hàm format


        const computedTitle = computed(()=>{
            if(props.curVideo && props.curLesson){
                return `Bài ${props.curLesson.number}.${props.curVideo.position + 2}: ${props.curVideo.title}`
            }else return ""
        })

        const computedCount = computed(()=>{
            if(filQuesList.value.length > 0){
                return `${filQuesList.value.length} câu hỏi tất cả`
            } else return "Không có câu hỏi nào"
        })


        //Format time hiện tại

        const player = computed(()=> store.getters['player/getPlayer']);
        const currentTime = computed(()=> store.getters['player/getCurrentTime'] || 0);
        const duration = computed(()=> store.getters['player/getDuration']);
        const timeFormat = computed(()=>
        {   
            let duration = currentTime.value;
            // Hours, minutes and seconds
            var hrs = ~~(duration / 3600);
            var mins = ~~((duration % 3600) / 60);
            var secs = ~~duration % 60;

            // Output like "1:01" or "4:03:59" or "123:03:59"
            var ret = "";

            if (hrs > 0) {
                ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
            }

            ret += "" + mins + ":" + (secs < 10 ? "0" : "");
            ret += "" + secs;
            return ret;
        })

        //Hàm tạo
        const isCreateQA = ref(false);
        const createQA = ()=> {
            player.value.pauseVideo();
            isCreateQA.value = true;
        }
        const doneCreateQA = ()=>{
            player.value.playVideo();
            isCreateQA.value = false;
        }

        
        
        return {ownerFilter,timeFilter,timeFormat,filQuesList,videoFilter,computedTitle,computedCount,currentTime,
                createQA,isCreateQA,doneCreateQA,studentId}
    }
}
</script>

<style lang="scss" scoped>
.lv-dropdown {
    width: 10rem;
    font-family: "Averta Bold"!important;
    color: black !important;
}
.QA{
    &-container{
        width: 100%;
        margin-bottom: 3rem;
    }

    &-create{
        display: flex;
        width: 100;
        background-color: #edf2f7;
        padding: 0.6rem 0.8rem;
        align-items: center;
        border-radius: 5px;
        border: 2px solid transparent;
        cursor: pointer;
        @include transition;
        &:hover{
            border: 2px solid $color-primary;
        }

        &-text{
            font-family: "Averta Regular";
            font-size: 1rem;
            &.bold{
                margin-left: 0.4rem;
                font-family: "Averta Bold";
            }
        }
        &-btn{
            margin-left: auto;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 10rem;
            background-color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            & i{
                color: white
            }
        }
    }

    &-filter{
        display: flex;
        &>*{
            margin-right:1rem;
        }
    }
    &-count{
        font-size: 1rem;
        color: black;
        margin-top: 2rem;
        font-family: "Averta Regular";
    }
    &-list{
        margin-top: 3rem;
    }
}
</style>