<template>
  <div class="video-container">

            <div class="button right-btn a-btn-hover">
                <span class="text right"><p>{{nextVideoTitle}}</p></span>
                <span class="icon" @click="nextVideo"><i class="material-icons">chevron_right</i></span>
            </div>
            <div class="button left-btn a-btn-hover">
                <span class="icon" @click="prevVideo"><i class="material-icons">chevron_left</i></span>
                <span class="text left"><p>{{prevVideoTitle}}</p></span>
            </div>


        <EndingScreen :state="endingScreen" @closeEnding="toggleEndingScreen(false)"/>
        <div class="video-placeholder">
        <div class="video-placeholder-cover">Placeholder</div>
        </div>
    </div>
</template>

<script>
import EndingScreen from '@/components/Labo/EndingScreen.vue'
import {computed, onMounted, ref, watchEffect} from 'vue'
import {useStore} from 'vuex'
export default {
    props: {'vidId': String},
    components: {EndingScreen},
    setup(){

        const store = useStore();     
        const activeVideoId = computed(()=>store.getters['user/getActiveVideoId']);
        const activeLessonId = computed(()=>store.getters['user/getActiveLessonId']);
        const firstLoadVideo = computed(()=> store.getters['user/getFirstLoadNextPrev']);
        const nextVideoTitle = computed(()=> store.getters['user/getNextVideoTitle'] || 'Video tiếp theo');
        const prevVideoTitle = computed(()=> store.getters['user/getPrevVideoTitle'] || 'Video trước đó');

        const nextVideo = async() => {

            //Nếu là video đầu thì load video next sau rồi mới next
            let vidId = activeVideoId.value;
            let lessonId = activeLessonId.value;
            if( !firstLoadVideo.value && vidId && lessonId){
                let res = store.dispatch("user/updateActiveVideo", {
                    videoId: vidId,
                    lessonId: lessonId,
                    sec: 0,
                    mode: 0
                });
            }

            //next
            await store.dispatch("user/updateActiveVideo", {
                videoId: store.getters['user/getNextVideoId'],
                lessonId: store.getters['user/getNextLessonId'],
                sec: 0,
                mode: 1
            });

        }

        const prevVideo = async() => {
            //Nếu là video đầu thì load video next sau rồi mới next
            let vidId = activeVideoId.value;
            let lessonId = activeLessonId.value;
            if( !firstLoadVideo.value && vidId && lessonId){
                let res = store.dispatch("user/updateActiveVideo", {
                    videoId: vidId,
                    lessonId: lessonId,
                    sec: 0,
                    mode: 0
                });
            }

            //next
            await store.dispatch("user/updateActiveVideo", {
                videoId: store.getters['user/getPrevVideoId'],
                lessonId: store.getters['user/getPrevLessonId'],
                sec: 0,
                mode: 1
            });
        }

            return{ nextVideo,prevVideo,nextVideoTitle,prevVideoTitle}
    },
    data(){
        return { 
        'videoId': this.vidId || null,
        'lessonId': this.lessonId || null,
        'youtubeCallbackName': 'onYouTubeIframeAPIReady',
        'youtubeExistsFlag':   '$isYoutubeFrameAPIReady',
        'YTPLayer': null,
        endingScreen : false,
        store: useStore(),
        }
    },

    computed: {
        youtubeVideoID(){
        if(this.videoId.indexOf(':/') !== -1)
        {
            const catcher = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/ ]{11})/i;
            const res = catcher.exec(this.videoId);
            if(res && res[1]){
            return res[1];
            }
        }
        
        return this.videoId;
        }
    },

    mounted(){
        if(!this.hasYoutubeFrameAPI()){
        this.injectYoutubeFrameAPI();
        }
        this.whenYoutubeAPIReady().then(
        ()    => {

            const player = this.$el.querySelector('.video-placeholder');
            player.id = 'player-' 
            + Math.floor(Math.random()*1024) 
            + Date.now() 
            + Math.floor(Math.random()*1024);
            this.playerId = player.id;

            this.YTPLayer = new YT.Player(player.id, {
                height: '360',
                width: '640',
                videoId: this.youtubeVideoID,
                playerVars:{
                    autoplay: 1,
                    iv_load_policy:3,
                    rel: 0,
                    
                },
                events: {'onStateChange': this.onPlayerStateChange}
            });      
        },
        error => console.error(error)
        );
    },
    methods: {

        whenYoutubeAPIReady(){
            const existsFlag = this.youtubeExistsFlag;
            return new Promise(function(resolve, reject){
                let elapsed = 0;
                let intervalHandle;
                let checker = function(){
                elapsed += 48;
                if(!!window[existsFlag]){
                    clearTimeout(intervalHandle);
                    resolve();
                }
                else{
                    if(elapsed <= 15000){
                    intervalHandle = setTimeout(checker, 48);
                    }
                    else{
                    reject("timeout");
                    }
                }
                }; 
                
                setTimeout(checker,48);
            });
        },
        hasYoutubeFrameAPI(){
            if(!this.hasYTFrame)
            {
                this.hasYTFrame = !!(document.getElementsByClassName('.yt-frame-api').length);
            }
            return this.hasYTFrame;
        },
        injectYoutubeFrameAPI(){
            const youtubeExistsFlag   = this.youtubeExistsFlag;
            const youtubeCallbackName = this.youtubeCallbackName;
            
            window[this.youtubeCallbackName] = window[this.youtubeCallbackName] || function() {
                window[youtubeExistsFlag] = true;
                window[youtubeCallbackName] = null;
                delete window[youtubeCallbackName];
            }
            
            var tag       = document.createElement('script');
            var first     = document.getElementsByTagName('script')[0];
            tag.src       = "https://www.youtube.com/iframe_api";
            tag.className = "yt-frame-api";
            first.parentNode.insertBefore(tag, first);      
        },

        //Lắng nghe sự thay đổi của thời gian trong player để chạy hàm
        listenTimeChange(){
            //lấy window emit sự kiện
            var iframeWindow = this.YTPLayer.getIframe().contentWindow;
            var lastTimeUpdate = 0;

            window.addEventListener("message",(event) =>{
                //Bắt event mỗi khi URL đc nạp mới vào player
                if(event.source == iframeWindow){
                    var data = JSON.parse(event.data);
                    //infoDelivery là event đc YT dùng để truyền nhận bất cứ data gì với player như thời gian hay chất lượng phát, tốc độ,...
                    if(data.event == "infoDelivery" && 
                        data.info &&
                        data.info.currentTime
                    ){
                        var time = Math.floor(data.info.currentTime);
                        var duration = Math.floor(this.YTPLayer.getDuration())
                        if(time !== lastTimeUpdate){
                            lastTimeUpdate = time;
                            this.$emit('updateTime',time,duration);
                        }
                    }
                }
            })
        },

        onPlayerStateChange(event){
            // 0: hết, 1: play, 2: pause
                if(event.data == 0){
                    this.toggleEndingScreen(true)
                }
        },
        toggleEndingScreen(state){
            this.endingScreen = state;
        }

    },
    //Khi mà player đc tạo thì bắt đầu gán vào các biến player ở store
    watch: {
        YTPLayer : {
            handler(newPlayer){
                this.$emit('setNewPlayer', newPlayer);
                this.listenTimeChange()
            }
        }
    },

}
</script>

<style lang="scss" scoped>

.video-container,
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  
}
.video-container{
    &:hover{
        .left-btn{
            left: 1rem;
        }
        .right-btn{
            right: 1rem;
        }
    }
}

.button{
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
    align-items: center;
    &.left-btn{
        left: -20%;
    }
    &.right-btn{
        right: -20%;
    }
    &:hover{
        .text{
            opacity: 1;
        }
    }

    .icon{
        color: white;
        padding: 1rem 0.2rem;
        background-color: rgba($color: #000000, $alpha: 0.7);
        border-radius: 5px;
        i{
            transform: translateY(4px);
        }
    }
    .text{
        background-color: rgba($color: #000000, $alpha: 0.7);
        position: absolute;
        top: -12%;
        width: 20rem;
        height: 4rem;
        margin: 0.5rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
        @include transition;
        &.left{
            left: 2rem;
        }
        &.right{
            right: 2rem;
        }

        p{
            font-size: 0.9rem;
            line-height: 1.3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            text-align: start;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            padding: 0rem 1rem;
        }


    }
}

</style>