<template>
  <div id="umasterapp">
    <router-view></router-view>
  </div>

</template>

<script>
export default {
  name: "App",
  components:{

  },
  data(){
    return{
      setup(){
        //Global setup

      }

    }
  }
}
</script>
<style lang="scss">
#umasterapp{
  width: 100vw;
}

body{
  overflow: hidden;

}

.overflowList{
    &::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: #ffffff00;
    }
    &::-webkit-scrollbar{
        width: 12px;
        background-color:#ffffff00;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #ffffff00;
    }
}
#app{
  font-family: 'Averta Semi Bold';
  color: $color-black;  
  display: flex;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  overflow: hidden;

}




.error-message{
  color: $color-primary;
}

//global-style

.a-btn-hover{
  @include transition;
  backface-visibility: hidden;
  will-change: transform;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  &:hover{
    transform: scale(1.05);
  }
  &:active{
    transform: scale(0.95);
  }
  
}

.a-full-size{
  width: 100%;
  height: 100%;
}

.a-height-view{
  height: 100vh;
}

.a-height-fill{
  height: 100%;
}

.loading-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

//layout
.a-layout{
  &-flex{
    display: flex;
  }
  &-flex-ver{
    display: flex;
    flex-direction: column;
  }
}

//spacing
.a-spacing-ver{
  &-xs{
    margin-bottom: 0.5rem ;
  }
  &-sm{
    margin-bottom: 1rem;
  }
  &-md{
    margin-bottom: 1.5rem;
  }
  &-lg{
    margin-bottom: 2rem;
  }
}
.a-spacing-hor{
  &-xs{
    margin-right: 0.5rem ;
  }
  &-sm{
    margin-right: 1rem;
  }
  &-md{
    margin-right: 1.5rem;
  }
  &-lg{
    margin-right: 2rem;
  }
}


//color
.a-color{
  &-gray{
    color: $color-gray-dark
  }
  &-orange{
    color: $color-gray-dark
  }
  &-white{
    color: white;
  }
  &-black{
    color: black;
  }
  &-active{
    color: green;
  }
  &-red{
    color: $color-primary;
  }
}


//typo


//util
.a-util-bullet-header{
  width: 2px;
  height: 4px;
  background-color: inherit;

}

////////////////////////////////Edior JS
 
[contenteditable] {
  outline: 0px solid transparent;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text);
  color: $color-gray-light-1
}
.ce-block__content{
  max-width: 600px;
}

.ce-block i{
    font-style: normal !important;
}
.codex-editor__redactor{
    padding-bottom: 0 !important;
}
.ce-block__content, .ce-toolbar__content { max-width:calc(80%) !important; } .cdx-block { max-width: 100% !important; }
.text-deadline{
  margin-right: 2rem;
}
.lesson-homework{
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.hw{
    &-youtube{
      margin: 2rem 0;
      & > * {
        &.active{
          opacity: 1;
          display: flex;
        }
        opacity: 0;
        display: none;
      }
      .content{
        input{

        }
      }
      .video-container{
        border-radius: 1rem;
        position: relative;
        .delete{
          .btn-delete{
          }
        }
        .iframe{
          border-radius: 1rem;
          @include card-shadow; 
        }
      }
      
    }
    
    &-image{
      margin: 2rem 0 2rem 0;
      width: 100%;
       position: relative;
      .container-image{
          position: relative;
          & > * {
            &.active{
              display: flex !important;
            }
            display: none !important;
          }
      }

      .content{
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-gray-light-2;
        border-radius: 1rem;
        .text{
          margin-bottom: 2rem;

        }
        .upload{
          margin-bottom: 1rem;
        }
      }
      .result{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .img-wrapper{
          position: relative;
          .delete{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 1rem;
            background-color: rgba(0, 0, 0, 0.3);
            @include transition;
            &:hover{
              opacity: 1;
            }
            span{
              width: 3rem;
              height: 3rem;
              @include flex-center;
              border-radius: 0.5rem;
              background-color: white;
              float: right;
              margin: 1rem 1rem 0 0;
              i{
                font-size: 2rem;
              }
            }
          }
        }

        .img-result{
          max-width: 100%;
          max-height: 50rem;
          border-radius: 1rem;
          @include btn-shadow-1;
        }
      }
      
    }

    &-picker{
      display: flex;
      margin-bottom: 1rem;
    }
    &-option{
      margin-right: 1rem;
      padding: 5px 8px;
      border-radius: 5px;
      background-color: white;
      @include btn-shadow-1;
      display: flex;
      @include transition;
      cursor: pointer;  
      &.active{
        background-color: $color-primary;
        color: white;
      }   
    }
    &-text {
      font-size: 1rem !important;
    }

    &-quantity{
      display: flex;
      margin-bottom: 2rem;
      margin-top: 2rem;
      & > * {
        margin-right: 0.5rem;
      }
      span{
        width: 3rem;
        height: 3rem;
        padding-top: 0.4rem;
        text-align: center;
        font-size: 1.5rem;
        @include transition;
        @include btn-shadow-1;
        border-radius: 0.5rem;
      }
      div{
        padding: 0rem 2rem;
        font-size: 2rem;
        color: $color-primary;
      }
    }

    &-complete{
      width: 100%;
      display: flex;
      .tag{
        padding: 5px 8px;
        border-radius: 20px;
        color: white;
        &.incomplete{
          background-color: $color-primary;
        }
        &.complete{
          background-color: $color-green;
        }
      }
    }

    &-seperator{
      margin-top: 2rem;
      margin-bottom: 3rem;
      border-top: 3px dashed $color-gray-light-1;
      height: 3px;
      width: 100%;
      max-width: 1000px;
    }


    &-container{
        width: 90%;
        max-width: 60rem;
        margin-bottom: 5rem;
    }
    &-wrapper{
        width: 100%;
    }
    &-heading-1{
        display: flex;
        color: $color-primary;
        margin-bottom: 1rem;
        &.deadline{
        }
        & .icon{
            margin-right: 0.5rem;
            font-style: normal !important;
        }
        & .heading{

        }
    }

    &-heading-2{
      display: flex;
      color: $color-blue;
      font-size: 1.4rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      & h5{
        margin-right: 0.5rem;
        font-size: 1.2rem;
      }
    }
    &-list{
        & .list{
            list-style-type: disc;
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
        & .item{
            font-size: 1.2rem;
            display: flex;
            & > *{
              &:first-child{
                margin-right: 0.5rem;
              }
            }
        }
    }

    &-input{
      display: none;
    }

    &-res{
        display: flex;
        background-color: $color-primary;
        padding: 2rem 0rem 2rem 2rem;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
        min-height: 18rem;
        width: 100%;
        max-width: 1000px;
        & .res-left{
            width: 75%;
            & .thumb{
                &-container{
                    width: 100%;
                    height: 100%;
                    position: relative;

                    &.ready{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background-color: $color-gray-light-2;
                        border-radius: 1.1rem;
                        overflow: hidden;
                        // display: none;
                    }
                    &.success{
                        //display: none;

                        position: relative;
                    }
                }
    
                &-title{
                    margin-bottom: 1rem;
                }
                &-btn{
                    padding: 0.5rem 1rem;
                    background-color: $color-blue;
                    color: white;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    text-decoration: none !important;
                    font-style: normal !important;
                    @include transition;
                    &:hover{
                        @include hover-1
                    }
                }
                &-input{
                  display: none;
                }
                &-img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    outline: white solid 8px;
                    border-radius: 1.1rem;
                }
                &-banner{
                    position: absolute;
                    top: 0rem;
                    left: 0;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.452);
                    border-radius: 1.1rem 1.1rem 0 0;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 3rem;
                    padding: 0 1.5rem;
                    
                }
                &-name{
                    margin-right: 2rem;
                }
                &-size{
                    margin-right: auto;
                }
                &-delete{
                    cursor: pointer;

                }
            }

        }


        & .res-right{
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            border-radius: 1.1rem;
            margin: 0.3rem;

            & .res-img{
                width: 70%;
                margin-bottom: 1rem;
                opacity: 1;
                & img{
                    width: 100%;
                }
            }
            & .res-btn{
                display: flex;
                justify-content: center;
                padding: 5px 0rem;
                width: 60%;
                border-radius: 5px;
                background-color: white;
                color: $color-primary;
                cursor: pointer;
                text-decoration: none !important;
                
                @include transition;
                &:hover{
                    @include hover-1
                }
                & i {
                    width: 1.5rem;
                    font-style: normal !important;
                }
                & p{
                    
                }
                
            }
        }
    }
    &-heading-3{
        margin-bottom: 1rem;
        display: flex;

        & h5{
          font-size: 1.2rem;
        }
    }

    &-deadline{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        & p{
            font-size: 1.4rem;
            margin-right: 1rem;
        }
        .text-deadline{
          font-size: 1.5rem;
        }

    }
    &-files{
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        display: flex;
        padding: 3.8rem 1rem;
    }
}

ul.cdx-list--unordered{
  padding-left: 2rem !important;
  list-style-type: disc !important;
  margin-bottom: 1.5rem;
    .cdx-list__item{
      &::before{
        content: "⬥ ";

      }
    }

}

.file{ 
    &-wrapper{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
    &-input{
      display: none;
    }
    &-upload{
        padding: 3rem;
        background-color: $color-gray-light-1;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-right: 2rem;
        cursor: pointer;
        @include transition;
        &:hover{
            @include hover-1
        }

        & i{
            font-size: 4rem;
        }
    }
    &-list{
        display: flex;
        & > *{
            &:not(:last-child){
                margin-right: 2rem;
            }
        }
    }

    &-data{
      margin-top: 0.5rem;
      font-size: 0.7rem;
      color: white;
    }
    &-delete{
      color: white;
      cursor: pointer;
    }

}



/////////loader container


.loader-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  @include transition;
  top: 0;
  left: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  pointer-events: none;
  &.show{
    opacity: 1;
    pointer-events: visible;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    


//Animation
//Animation
.a-fade-enter-from,
.a-fade-leave-to{
    opacity: 0;

}
.a-fade-enter-to,
.a-fade-leave-from{
    opacity: 1;

}
.a-fade-enter-active{
    @include transition;
}
.a-fade-leave-active{
    @include transition;
}
</style>
  