<template>
    <div class="note-card">
        <div class="note-pill">
            <span class="note-sec">{{timeFormat}}</span>
        </div>
        <div class="note-content">
            <div class="note-header">
                <p class="note-title">{{title}}</p>
            </div>
            <div class="note-body">
                <div class="note-compose">
                      <div class="row">
                        <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="note-textarea materialize-textarea" v-model="textContent" required></textarea>
                                        <label for="textarea1"></label>
                                    </div>
                                </div>
                        </form>
                    </div>

                    <div class="row">
                            <div class="col s1 offset-s10">
                                <button class="button-file waves-effect waves-light btn grey lighten-1" @click.prevent="cancelEdit">Huỷ</button>
                            </div>
                            <div class="col s1">
                                <button class="button-file waves-effect waves-light btn red darken-4" @click.prevent="saveEdit">Lưu</button>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { computed, ref } from 'vue'
import {useStore} from 'vuex'
import uniqid from 'uniqid';
export default {
    props: ['time','title', 'videoId','lessonNumber','lessonId'],
    emits: ['doneCreateNote'],
    setup (props,context) {
        const store = useStore()
        const timeFormat = computed(()=>
        {  
            let duration = Number(props.time);
            // Hours, minutes and seconds
            var hrs = ~~(duration / 3600);
            var mins = ~~((duration % 3600) / 60);
            var secs = ~~duration % 60;

            // Output like "1:01" or "4:03:59" or "123:03:59"
            var ret = "";

            if (hrs > 0) {
                ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
            }

            ret += "" + mins + ":" + (secs < 10 ? "0" : "");
            ret += "" + secs;
            return ret;
        })

        const textContent = ref("");

        const cancelEdit = ()=> {
            textContent.value = "";
            context.emit('doneCreateNote');
        }
        
        const saveEdit = async ()=> {
            if(textContent.value.trim().length == 0){
                cancelEdit();
                return;
            }

            const res = await store.dispatch("user/createNote",{
                content : textContent.value,
                timeMark: Number(props.time),
                videoID: props.videoId,
                videoTitle: props.title,
                lessonNumber: props.lessonNumber,
                lessonID: props.lessonId,
                id: uniqid()
            })
            if(res){
                context.emit('doneCreateNote');
            }
        }

        return {timeFormat,textContent,
                cancelEdit,saveEdit}
    }
}
</script>

<style lang="scss" scoped>
.note{
    &-card{
        display: flex;
        width: 100%;
        margin-bottom: 2rem;
        
    }


    &-pill{
        cursor: pointer;
        margin-right: 1rem;
        
    }
    &-sec{
        padding: 0.3rem 0.7rem;
        border-radius: 10rem;
        background-color: $color-primary;
        color: white; 
    }

    &-content{
        width: 100%;


    }
    &-header{
        display: flex;

    }
    &-title{
        margin-bottom: 0.5rem;
    }
    &-edit{
        margin-left:  auto;
        display: flex;
        & span{
            width: 1rem;
            height: 1rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            &:hover{
                color: $color-primary;
            }
        }
        & i{

        }
    }

    &-body{

    }
    &-info{
        padding: 0.7rem 1rem;
        background-color: #edf2f7; 
        border-radius: 5px;
        & p{
            font-family: "Averta Regular";
        }
    }
    &-compose{

    }
    &-textarea{
        height: 3rem;
    }
}
.input-field{
    background-color: #edf2f7 !important; 
    border-radius: 8px ;
}
</style>