<template>
    <div class="question-card">
        <div class="ask-container">
            <div class="ava-container">
                <div class="ava-wrapper">
                    <img class="ava-photo" v-if="ques.ask.avaURL" :src="ques.ask.avaURL" alt="">
                    <span class="ava-dummy"></span>
                </div>
                <div class="ava-check">
                    <labe v-if="ques.isAnswer">
                        <input type="checkbox" class="filled-in" checked="checked" />
                        <span></span>
                    </labe>
                </div>
            </div>
            <div class="info-container">
                <div class="info-header">
                    <span @click="playAtSec" class="time-pill">{{timeFormat}}</span>
                    <p @click="playAtSec" class="vid-title">{{ques.videoTitle}}</p>
                    <div class="info-edit">
                        <span v-if="isEditable && !isEditing && !isAnswer" @click="openEdit" class="icon-container"> <i class="material-icons">edit</i></span>
                        <span v-if="isEditable && !isEditing" @click="deleteQuestion" class="icon-container"> <i class="material-icons">delete</i></span>
                    </div>
                </div>
                <div class="info-normal" v-if="!isEditing">
                    <div class="info-title">
                        {{ques.ask.title}}
                    </div>
                    <div class="info-content">
                        {{ques.ask.content}}
                    </div>
                    <div class="info-des">
                        {{ques.studentName}} - {{dateFormat(ques.createdAt)}}
                    </div>
                </div>
                <div class="info-compose" v-if="isEditable && isEditing">
                    <div class="row">
                        <form class="col s12">
                                <div class="row" id="input-row">
                                    <div class="input-field col s12">
                                        <input id="title1" class="info-input materialize-textarea" v-model="titleContent"/>
                                        <label for="title1"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="info-textarea materialize-textarea" v-model="bodyContent"></textarea>
                                        <label for="textarea1"></label>
                                    </div>
                                </div>
                        </form>
                    </div>

                    <div class="row">
                            <div class="col s1 offset-s10">
                                <button class="button-file waves-effect waves-light btn grey lighten-1" :disabled="disableBtn" @click.prevent="cancelEdit">Huỷ</button>
                            </div>
                            <div class="col s1">
                                <button class="button-file waves-effect waves-light btn red darken-4" :disabled="disableBtn" @click.prevent="saveEdit">Lưu</button>
                            </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="ans-container" v-if="ques.isAnswer">
            <div class="ava-container">
                <div class="ava-wrapper">
                    <img class="ava-photo" v-if="ques.isAnswer" :src="ques.ans.avaURL" alt="">
                    <span class="ava-dummy"></span>
                </div>
            </div>
            <div class="ans-info">
                <div class="ans-header">{{ques.ans.teacherName}} / Giảng viên</div>
                <div class="ans-date">{{dateFormat(ques.ans.createdAt)}}</div>
                <div class="ans-content">{{ques.ans.content}}</div>
            </div>
        </div>
    </div>

</template>

<script>
    import { computed, ref } from 'vue'
    import {useStore} from 'vuex'
    import {formatDistanceToNow} from 'date-fns'
    export default {
        props: ['ques', 'isEditable'],
        setup(props){

        const store = useStore();    
        const timeFormat = computed(()=>
        {   
            let duration = Number(props.ques.timeMark);
            // Hours, minutes and seconds
            var hrs = ~~(duration / 3600);
            var mins = ~~((duration % 3600) / 60);
            var secs = ~~duration % 60;

            // Output like "1:01" or "4:03:59" or "123:03:59"
            var ret = "";

            if (hrs > 0) {
                ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
            }

            ret += "" + mins + ":" + (secs < 10 ? "0" : "");
            ret += "" + secs;
            return ret;
        })
        const titleContent = ref(props.ques.ask.title)
        const bodyContent = ref(props.ques.ask.content)
        const dateFormat = (time) => {
            if (typeof time !== 'string'){
                return formatDistanceToNow(time.toDate());
            }else return time
        }


        const isEditing = ref(false);

        const openEdit = ()=>{
            if(props.ques.isAnswer){
                return;
            }
            isEditing.value = true;
        }

        const disableBtn = ref(false);

        const cancelEdit = ()=> {
            isEditing.value = false;
            titleContent.value = props.ques.ask.title;
            bodyContent.value = props.ques.ask.content;

        }
        
        const saveEdit = async ()=> {
            if(props.ques.isAnswer){
                return;
            }

            disableBtn.value = true;
            if(titleContent.value.trim().length == 0 || bodyContent.value.trim().length  == 0){
                cancelEdit();
                disableBtn.value = false;
                return;
            }
            let data = {...props.ques};
            data.ask.title = titleContent.value;
            data.ask.content = bodyContent.value;
            delete data.id;
            const res = await store.dispatch('lessons/updateQuestion',{
                videoId: data.videoID,
                quesId: props.ques.id,
                data: data,
            })
            if(res){
                isEditing.value = false; 
                return;
            }
            disableBtn.value = false;
        }

        const deleteQuestion = async () => {
            disableBtn.value = true;
            const res = await store.dispatch('lessons/deleteQuestion',{
                quesId: props.ques.id,
                videoId: props.ques.videoID
            })
            if(res){
                isEditing.value = false;
                return;
            }
            disableBtn.value = false;
        }


        //Sự kiện khi bấm vài time của note, nếu vidoe đang chjay đúng của note thì cứ thế nhảy, không thì phải load video lên trước rồi mới nhảy
        const player = computed(()=> store.getters['player/getPlayer']);
        const playAtSec = () => {
            if(player.value){
                const activeVideoId = store.getters['user/getActiveLessonId'];
                if(props.ques.videoID !== activeVideoId){
                    //Cứ chạy hàm này là tất cả biến active sẽ đc cập nhật và player tự load lại
                    store.dispatch("user/updateActiveVideo", {
                        videoId: props.ques.videoID,
                        lessonId: props.ques.lessonID,
                        sec: props.ques.timeMark,
                    }).then(()=> {
                        player.value.seekTo(props.ques.timeMark,true);
                        return;
                    })

                } else{

                    player.value.seekTo(props.ques.timeMark,true);
                    return;
                }
            }
        }
        return {timeFormat, isEditing,titleContent, bodyContent, disableBtn,playAtSec,dateFormat,
                openEdit,cancelEdit,saveEdit,deleteQuestion}
    }
        
    }
</script>

<style lang="scss" scoped>
#input-row{
    margin-bottom: 0rem !important;
}
.question-card{
    width: 100%;
    margin-bottom: 3rem;
}
.ask-container{
    display: flex;
    width: 100%;
}
.ans-container{ 
    display: flex;
    width: 100%;
    padding-left: 5%;

}
.ava{
    &-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1.5rem;
    }
    &-wrapper{
        width: 3rem;
        height: 3rem;
        border-radius: 10rem;
        background-color: $color-gray-light-2;
        position: relative;
        overflow: hidden;
    }
    &-photo{
        width: 80%;
        @include center-1;
        top: 60%;
    }
    &-dummy{
        width: 100%;
        height: 100%;

    }
    &-check{
        margin-top: 1rem;
        transform: translateX(7px) scale(1.2);
    }
}
.info{
    &-container{
        margin-bottom: 2rem;
        width: 100%;
    }
    &-header{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        .time-pill{
            margin-right: 0.5rem;
            background-color: $color-primary;
            color: white;
            border-radius: 10rem;
            padding: 0.1rem 0.6rem;
            cursor: pointer;
            font-size: 0.9rem;
        }
        .vid-title{
            font-size: 0.9rem;
            color: $color-primary;

        }
    }

    &-edit{
        margin-left: auto;
        span{
            cursor: pointer;
            &:hover{
                color: $color-primary;
            }
        }
    }

    &-normal{
        
    }
    &-title{
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
    }
    &-content{
        font-family: "Averta Regular";
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }
    &-des{
        font-family: "Averta Regular";
        font-size: 1rem;
        margin-bottom: 0.2rem;
        color: $color-gray-dark;
    }
    &-compose{

    }
    &-input{
        
    }
    &-textarea{

    }
}

.ans{
    &-header{
        font-size: 1.2rem;
        color: $color-primary
    }
    &-date{
        font-family: "Averta Regular";
        font-size: 1rem;
        margin-bottom: 0.2rem;
        color: $color-gray-dark;

    }
    &-content{
        font-family: "Averta Regular";
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }
}
.input-field{
    background-color: #edf2f7 !important; 
    border-radius: 8px ;
    
}
</style>