<template>
    <div class="video-description">
        <div class="des-block" v-if="videoDescription">
            <h5 class="des-title">Mô tả về video</h5>
            <div v-if="videoDescription" class="des-content" v-html="videoDescription"></div>
            <div v-else class="des-no">Không có dữ liệu</div>
        </div>
        <div class="des-block" v-if="channel">
            <h5 class="des-title">Mô tả về channel {{channel.name}}</h5>
            <div v-if="channel.description" v-html="channel.description" class="des-content"></div>
            <div v-else class="des-no">Không có dữ liệu</div>
        </div>
    </div>
</template>

<script>
import { computed,ref } from 'vue';
import {useStore} from 'vuex'
export default {
    props: {
        curVideo: {
            type: Object,
            default: () => {}
        },
        videoId: {
            type: String,
            default: ''
        }
    },
    setup (props) {
        const store = useStore();
        const videoDescription = computed(() => {
            if (props.curVideo && props.curVideo.description)
            return props.curVideo.description
            else return 'Không có mô tả về video'
        })
        const channel = computed(()=> store.getters["lessons/getChannel"](props.curVideo))

        return {videoDescription,channel}
    }
}
</script>

<style lang="scss" scoped>
.video-description{
    margin-top: 2rem;
}
.des{
    &-block{
        margin-bottom: 2rem;
    }
    &-title{
        margin-bottom: 2rem;
    }
    &-content{
        white-space: pre-wrap;
        font-family: "Averta Regular";
    }
    &-no{
        font-family: "Averta Regular";
        color: $color-gray-dark;
    }
}
</style>