<template>
        <div class="note-container">

            <div class="note-create" @click="createNote" v-if="!isCreateNote">
                <p class="note-create-text"> Tạo note mới ở thời điểm </p>
                <p class="note-create-text bold"> {{timeFormat}}</p>
                <span class="note-create-btn">
                    <i class="material-icons">add</i>
                </span>
            </div>
            <div class="note-make" v-else>
                <NoteCreate
                  :time="currentTime"
                  :title="computedTitle" 
                  :videoId="curVideo.vidId"
                  :lessonId="curLesson.id"
                  :lessonNumber="curLesson.number"
                  @doneCreateNote = "doneCreateNote"/>
            </div>

            <div class="a-spacing-ver-sm"></div>

            <div class="row">
                <div class="col-sm-4">
                    <q-select style="min-height: 0rem;" map-options emit-value filled v-model="lessonFilter" :options="lessonFilterOption" label="Lọc theo bài" />
                </div>
                <div class="col-sm-4">
                    <q-select
                      filled
                      map-options emit-value
                      v-model="videoFilter"
                      :options="[                        
                            {
                                label:'Tất cả video',
                                value:'all'
                            },
                            {
                                label:'Video hiện tại',
                                value:'cur'
                            }
                        ]"
                      label="Lọc theo video" />
                </div>
                <div class="col-sm-4">
                    <q-select
                      filled
                      map-options emit-value
                      v-model="timeFilter"
                      :options="[                       
                            {
                                label: 'Tạo gần nhất',
                                value:'recent'
                            },
                            {
                                label:'Thời gian tăng dần',
                                value:'time'
                            }
                        ]"
                      label="Sắp xếp thời gian" />
                </div>
                    
            </div>

            <div class="note-list" v-if="computedNotes">
                <NoteCard
                  v-for="(note) in computedNotes"
                  :note="note"
                  :key="note.timeMark" />
            </div>

        </div>
</template>

<script>
import { ref,computed } from 'vue'
import {useStore} from 'vuex'
import NoteCard from "@/components/Labo/NoteCard.vue"
import NoteCreate from "@/components/Labo/NoteCreate.vue"
import _ from 'lodash'


export default {
    components: {NoteCard,NoteCreate},
    props: {
        time: {
            type: Number,
            default: 0
        },
        curVideo: {
            type: Object,
            default: () => {}
        },
        curLesson: {
            type: Object,
            default: () => {}
        }
    },
    setup (props) {

       const store = useStore();
       const lessons = computed(()=> _.orderBy(store.getters['lessons/getList'], ['number'],['asc']) || []);
       const notes = computed(()=>store.getters['user/getAllNote']|| []);

        //CHỨC NĂNG FILTER
       const lessonFilter = ref("all");
       const videoFilter = ref('all');
       const timeFilter = ref('recent');

       const lessonFilterOption = computed(()=>{
            let resArr = lessons.value.map((les)=> {
                return {label: `Bài ${les.number}`,value: les.number}
            })
            resArr.splice(0,0,{label: "Tất cả bài", value: "all"});
            return resArr;
        });


        // Tuỳ vào lựa chọn hai cái filter mà trả ra note của toàn bộ/1 bài , theo thời gian tạo/ tg video
        const computedNotes = computed(()=> {
            let filterNotes = {...notes.value};
            const lesFil = lessonFilter.value;
            const vidFil = videoFilter.value;
            const timeFil = timeFilter.value;
            //Lọc bài
            filterNotes = lesFil == 'all' ? notes.value : store.getters['user/getLessonNote'](lesFil)

            //Lọc video
            if(vidFil !== "all"){
                let arr = []
                filterNotes.forEach(note => {
                    if(note.videoID == props.curVideo.vidId) arr.push(note);
                })
                console.log(arr);
                filterNotes = arr.length > 0 ? arr : filterNotes;   
            }

            //Lọc thời gian
            if(timeFil == "recent"){
                return filterNotes
            }else if(timeFil == "time"){
                return _.orderBy(filterNotes,'timeMark','desc');
            }
        }); 

        //CHỨC NĂNG TÍNH TOÁN CÁC DATA
        const computedTitle = computed(()=>{
            if(props.curVideo && props.curLesson){
                return `Bài ${props.curLesson.number}.${props.curVideo.position + 2}: ${props.curVideo.title}`
            }else return ""
        })

        const player = computed(()=> store.getters['player/getPlayer']);
        const currentTime = computed(()=> store.getters['player/getCurrentTime'] || 0);
        const duration = computed(()=> store.getters['player/getDuration']);
        const timeFormat = computed(()=>
        {   
            let duration = currentTime.value;
            // Hours, minutes and seconds
            var hrs = ~~(duration / 3600);
            var mins = ~~((duration % 3600) / 60);
            var secs = ~~duration % 60;

            // Output like "1:01" or "4:03:59" or "123:03:59"
            var ret = "";

            if (hrs > 0) {
                ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
            }

            ret += "" + mins + ":" + (secs < 10 ? "0" : "");
            ret += "" + secs;
            return ret;
        })


        //CHỨC NĂNG TẠO NOTE
        const isCreateNote = ref(false)
        const createNote = ()=> {
            player.value.pauseVideo();
            isCreateNote.value = true;
        }
        const doneCreateNote = ()=>{
            player.value.playVideo();
            isCreateNote.value = false
        }

        return {lessonFilter,lessonFilterOption,lessons,timeFilter,timeFormat, notes,computedNotes,computedTitle,videoFilter,
                player,currentTime,duration,
                isCreateNote,createNote,doneCreateNote,
                createNote}
    }
}
</script>

<style lang="scss" scoped>
.lv-dropdown {
    width: 10rem;
    font-family: "Averta Bold"!important;
    color: black !important;
}

.note{
    &-container{
        width: 100%;
    }

    &-create{
        display: flex;
        width: 100;
        background-color: #edf2f7;
        padding: 0.6rem 0.8rem;
        align-items: center;
        border-radius: 5px;
        border: 2px solid transparent;
        cursor: pointer;
        @include transition;
        &:hover{
            border: 2px solid $color-primary;
        }

        &-text{
            font-family: "Averta Regular";
            font-size: 1rem;
            &.bold{
                margin-left: 0.4rem;
                font-family: "Averta Bold";
            }
        }
        &-btn{
            margin-left: auto;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 10rem;
            background-color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            & i{
                color: white
            }
        }
    }

    &-filter{
        display: flex;
        &>*{
            margin-right:1rem;
        }
    }
    &-list{
        margin-top: 3rem;
    }
}
</style>