<template>
    <div class="guide">
        <p class="guideText" v-if="guide">{{guide}}</p>
        <p class="guideText none" v-else>Không có hướng dẫn gì về video này</p>
    </div>
</template>

<script>
import { computed, watchEffect, ref } from 'vue'
import { useStore } from 'vuex'

export default {
    props: ['guide'],
    setup (props) {
        const store = useStore();
        return {}
    }
}
</script>

<style lang="scss" scoped>

</style>