<template>
  <div class="video-container">

            <div class="button right-btn a-btn-hover">
                <span class="text right"><p>{{nextVideoTitle}}</p></span>
                <span class="icon" @click="nextVideo"><i class="material-icons">chevron_right</i></span>
            </div>
            <div class="button left-btn a-btn-hover">
                <span class="icon" @click="prevVideo"><i class="material-icons">chevron_left</i></span>
                <span class="text left"><p>{{prevVideoTitle}}</p></span>
            </div>

        <div class="video-control"  @mousemove="showVolumn = true" @mouseleave="showVolumn = false">
            <div class="control-wrapper">
                <q-slider
                    class="control-time"
                    v-model="currentTime"
                    :min="0"
                    :max="duration"
                    :step="1"
                    label
                    marker-labels="computedNote"
                    :label-value="computedCurrentTime"
                    color="positive"
                    track-color="grey-5"
                    @change="seekTo"
                />
                <div class="control-option row full-width relative-position">
                    <div class="left col-sm-4 q-pt-xs">
                        <p class="text-white">{{ computedTimeString }}</p>
                    </div>
                    <div class="center row q-gutter-sm">
                        <div class="speed">
                            <q-fab unelevated padding="4px" flat color="white" icon="slow_motion_video" :label="speed" direction="up">
                                <q-fab-action unelevated square color="blue-grey-10" text-color="white" @click="setSpeedVideo(0.5)" label="0.5"/>
                                <q-fab-action unelevated square color="blue-grey-10" text-color="white" @click="setSpeedVideo(0.75)" label="0.75"/>
                                <q-fab-action unelevated square color="blue-grey-10" text-color="white" @click="setSpeedVideo(1)" label="Chuẩn"/>
                                <q-fab-action unelevated square color="blue-grey-10" text-color="white" @click="setSpeedVideo(1.5)" label="1.5"/>
                                <q-fab-action unelevated square color="blue-grey-10" text-color="white" @click="setSpeedVideo(2)" label="2"/>
                            </q-fab>
                        </div>
                        <div class="play">
                            <q-icon @click="playVideo" class="cursor-pointer" size="md" color="white" v-if="!playState" name="play_arrow"></q-icon>
                            <q-icon @click="pauseVideo" class="cursor-pointer" size="md" color="white" v-else name="pause"></q-icon>
                        </div>
                        <div class="volume q-ml-lg row relative-position">
                            <q-icon @click="muteVideo" class="cursor-pointer" size="md" color="white" v-if="!muteState" name="volume_up"></q-icon>
                            <q-icon @click="unMuteVideo" class="cursor-pointer" size="md" color="white" v-else name="volume_off"></q-icon>
                            <div>
                                <q-slider
                                  v-if="showVolumn"
                                  track-size="10px"
                                  thumbSize="15px"
                                  step="10"
                                  track-color="white"
                                  color="positive"
                                  label
                                  class="volume-bar q-ml-md"
                                  v-model="volumn"
                                  @change="setVolumeVideo"
                                  :min="0"
                                  :max="100"
                                  style="width: 6rem;" />
                                  
                            </div>
                        </div>
                    </div>
                    <q-space></q-space>
                    <div class="right col-sm-4 q-gutter-md row justify-end">
                        <q-icon v-if="ccState" @click="turnOffCaption" class="cursor-pointer" size="md" color="white"  name="subtitles"></q-icon>
                        <q-icon v-else @click="turnOnCaption" class="cursor-pointer" size="md" color="white"  name="subtitles_off"></q-icon>
                        <q-icon @click="setFullScreen" class="cursor-pointer" size="md" color="white"  name="fullscreen"></q-icon>
                    </div>
                </div>
            </div>
        </div>
        <EndingScreen :state="endingScreen" @closeEnding="toggleEndingScreen(false)"/>
        <div class="video-placeholder block-control">
        <div class="video-placeholder-cover">Placeholder</div>
        </div>
    </div>
</template>

<script>
import EndingScreen from '@/components/Labo/EndingScreen.vue'
import {computed, onMounted, ref, watchEffect} from 'vue'
import {useStore} from 'vuex'
export default {
    props: {'vidId': String},
    components: {EndingScreen},
    setup(){

        const store = useStore();     
        const activeVideoId = computed(()=>store.getters['user/getActiveVideoId']);
        const activeLessonId = computed(()=>store.getters['user/getActiveLessonId']);
        const firstLoadVideo = computed(()=> store.getters['user/getFirstLoadNextPrev']);
        const nextVideoTitle = computed(()=> store.getters['user/getNextVideoTitle'] || 'Video tiếp theo');
        const prevVideoTitle = computed(()=> store.getters['user/getPrevVideoTitle'] || 'Video trước đó');

        const nextVideo = async() => {

            //Nếu là video đầu thì load video next sau rồi mới next
            let vidId = activeVideoId.value;
            let lessonId = activeLessonId.value;
            if( !firstLoadVideo.value && vidId && lessonId){
                let res = store.dispatch("user/updateActiveVideo", {
                    videoId: vidId,
                    lessonId: lessonId,
                    sec: 0,
                    mode: 0
                });
            }

            //next
            await store.dispatch("user/updateActiveVideo", {
                videoId: store.getters['user/getNextVideoId'],
                lessonId: store.getters['user/getNextLessonId'],
                sec: 0,
                mode: 1
            });

        }

        const prevVideo = async() => {
            //Nếu là video đầu thì load video next sau rồi mới next
            let vidId = activeVideoId.value;
            let lessonId = activeLessonId.value;
            if( !firstLoadVideo.value && vidId && lessonId){
                let res = store.dispatch("user/updateActiveVideo", {
                    videoId: vidId,
                    lessonId: lessonId,
                    sec: 0,
                    mode: 0
                });
            }

            //next
            await store.dispatch("user/updateActiveVideo", {
                videoId: store.getters['user/getPrevVideoId'],
                lessonId: store.getters['user/getPrevLessonId'],
                sec: 0,
                mode: 1
            });
        }   
        
        const notes = computed(()=>store.getters['user/getAllNote']|| []);
        const computedNote = computed(()=>{
            //filter ra video hiện tại và format theo marker-labels của q-slider
            if(notes.value && notes.value.length > 0){
                let arr = notes.value.filter(note => note.videoId == activeVideoId.value);
                return arr && arr.length > 0 ? arr.map(note => {
                    return {
                        value: note.time,
                        color: 'primary',
                        style: 'border-radius: 50%;',
                        label: note.content
                    }
                }) : [];
            }
        })

            return{ nextVideo,prevVideo,nextVideoTitle,prevVideoTitle}
    },
    data(){
        return { 
        'videoId': this.vidId || null,
        'lessonId': this.lessonId || null,
        'youtubeCallbackName': 'onYouTubeIframeAPIReady',
        'youtubeExistsFlag':   '$isYoutubeFrameAPIReady',
        'YTPLayer': null,
        endingScreen : false,
        store: useStore(),

        //control
        currentTime: 0,
        duration: 0,
        playState: true,
        muteState: false,
        speed: 1,
        volumn: 50,
        showVolumn: false,
        ccState: true,
        quality: 'auto',
        }
    },

    computed: {
        youtubeVideoID(){
        if(this.videoId.indexOf(':/') !== -1)
        {
            const catcher = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/ ]{11})/i;
            const res = catcher.exec(this.videoId);
            if(res && res[1]){
            return res[1];
            }
        }
        
        return this.videoId;
        },

        computedTimeString(){
            if(!this.duration){ return "00:00 / 00:00"}
            return this._convertSec(this.currentTime) + " / " + this._convertSec(this.duration);
        },
        computedCurrentTime(){
            return this._convertSec(this.currentTime);
        },

    },

    mounted(){
        if(!this.hasYoutubeFrameAPI()){
        this.injectYoutubeFrameAPI();
        }
        this.whenYoutubeAPIReady().then(
        ()    => {

            const player = this.$el.querySelector('.video-placeholder');
            player.id = 'player-' 
            + Math.floor(Math.random()*1024) 
            + Date.now() 
            + Math.floor(Math.random()*1024);
            this.playerId = player.id;

            this.YTPLayer = new YT.Player(player.id, {
                height: '360',
                width: '640',
                videoId: this.youtubeVideoID,
                playerVars:{
                    autoplay: 1,
                    iv_load_policy:3,
                    rel: 0,
                    controls: 0,
                    showinfo: 0,
                },
                events: {'onStateChange': this.onPlayerStateChange}
            });    
            

        },
        error => console.error(error)
        );
    },
    methods: {

        whenYoutubeAPIReady(){
            const existsFlag = this.youtubeExistsFlag;
            return new Promise(function(resolve, reject){
                let elapsed = 0;
                let intervalHandle;
                let checker = function(){
                elapsed += 48;
                if(!!window[existsFlag]){
                    clearTimeout(intervalHandle);
                    resolve();
                }
                else{
                    if(elapsed <= 15000){
                    intervalHandle = setTimeout(checker, 48);
                    }
                    else{
                    reject("timeout");
                    }
                }
                }; 
                
                setTimeout(checker,48);
            });
        },
        hasYoutubeFrameAPI(){
            if(!this.hasYTFrame)
            {
                this.hasYTFrame = !!(document.getElementsByClassName('.yt-frame-api').length);
            }
            return this.hasYTFrame;
        },
        injectYoutubeFrameAPI(){
            const youtubeExistsFlag   = this.youtubeExistsFlag;
            const youtubeCallbackName = this.youtubeCallbackName;
            
            window[this.youtubeCallbackName] = window[this.youtubeCallbackName] || function() {
                window[youtubeExistsFlag] = true;
                window[youtubeCallbackName] = null;
                delete window[youtubeCallbackName];
            }
            
            var tag       = document.createElement('script');
            var first     = document.getElementsByTagName('script')[0];
            tag.src       = "https://www.youtube.com/iframe_api";
            tag.className = "yt-frame-api";
            first.parentNode.insertBefore(tag, first);      
        },

        //Lắng nghe sự thay đổi của thời gian trong player để chạy hàm
        listenTimeChange(){
            //lấy window emit sự kiện
            var iframeWindow = this.YTPLayer.getIframe().contentWindow;
            var lastTimeUpdate = 0;

            window.addEventListener("message",(event) =>{
                //Bắt event mỗi khi URL đc nạp mới vào player
                if(event.source == iframeWindow){
                    var data = JSON.parse(event.data);
                    //infoDelivery là event đc YT dùng để truyền nhận bất cứ data gì với player như thời gian hay chất lượng phát, tốc độ,...
                    if(data.event == "infoDelivery" && 
                        data.info &&
                        data.info.currentTime
                    ){
                        var time = Math.floor(data.info.currentTime);
                        var duration = Math.floor(this.YTPLayer.getDuration())
                        if(time !== lastTimeUpdate){
                            lastTimeUpdate = time;
                            this.currentTime = time;
                            this.duration = duration;
                            this.$emit('updateTime',time,duration);
                        }
                    }
                }
            })
        },

        onPlayerStateChange(event){
            // 0: hết, 1: play, 2: pause
                if(event.data == 1){
                    this.playState = true;
                }
                else if(event.data == 2){
                    this.playState = false;
                }
                if(event.data == 0){
                    this.toggleEndingScreen(true)
                }
        },
        toggleEndingScreen(state){
            this.endingScreen = state;
        },


        /////// FUNCTION WITH CONTROL
        seekTo(value){
            this.YTPLayer.seekTo(value);
        },
        pauseVideo(){
            this.playState = false;
            this.YTPLayer.pauseVideo();
        },
        playVideo(){
            this.playState = true;
            this.YTPLayer.playVideo();
        },
        muteVideo(){
            this.muteState = true;
            this.YTPLayer.mute();
        },
        unMuteVideo(){
            this.muteState = false;
            this.YTPLayer.unMute();
        },
        setSpeedVideo(value){
            this.speed = value;
            this.YTPLayer.setPlaybackRate(value);
        },
        setVolumeVideo(value){
            this.volume = value;
            this.YTPLayer.setVolume(value);
        },
        turnOffCaption(){
            this.ccState = false;
            this.YTPLayer.unloadModule("captions");
        },
        turnOnCaption(){
            this.ccState = true;
            this.YTPLayer.loadModule("captions");
        },
        setFullScreen(){
            if (this.YTPLayer.getIframe().requestFullscreen) {
                this.YTPLayer.getIframe().requestFullscreen();
            } else if (this.YTPLayer.getIframe().mozRequestFullScreen) { // Firefox
                this.YTPLayer.getIframe().mozRequestFullScreen();
            } else if (this.YTPLayer.getIframe().webkitRequestFullscreen) { // Chrome, Safari, Opera
                this.YTPLayer.getIframe().webkitRequestFullscreen();
            } else if (this.YTPLayer.getIframe().msRequestFullscreen) { // IE/Edge
                this.YTPLayer.getIframe().msRequestFullscreen();
            }
        },
        _convertSec(seconds){
            var hours = Math.floor(seconds / 3600);
            var minutes = Math.floor((seconds % 3600) / 60);
            var remainingSeconds = seconds % 60;

            var formattedHours = hours === 0 ? '' : (hours < 10 ? "0" + hours : hours);
            var formattedMinutes = minutes < 10 ? "0" + minutes : minutes;
            var formattedSeconds = remainingSeconds < 10 ? "0" + remainingSeconds : remainingSeconds;

            if (formattedHours === '') {
                return formattedMinutes + ":" + formattedSeconds;
            } else {
                return formattedHours + ":" + formattedMinutes + ":" + formattedSeconds;
            }
        }
        

    },
    //Khi mà player đc tạo thì bắt đầu gán vào các biến player ở store
    watch: {
        YTPLayer : {
            handler(newPlayer){
                this.$emit('setNewPlayer', newPlayer);
                this.listenTimeChange()
            },
        }
    },

}
</script>

<style lang="scss" scoped>

.video-control{
    position: absolute;
    bottom: -4.3rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    @include transition;
    .control{
        &-wrapper{
            width: 100%;
            z-index: 2;
            padding:0 1rem;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: 1rem;
            pointer-events: all;
        }

        &-time{
            margin-top: auto;
        }
        &-option{
            height: 2.5rem;
            position: relative;
            .center{
                position: absolute;
                top: 50%;
                left: 50%;
                display: flex;
                transform: translate(-50%,-50%);
            }
            .volumn{
                position: relative;
            }
            .volume-bar{
                position: absolute;
                top: 0;
                left: 1.5rem;
            }
            
        }
    }
}


.video-container,
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  //pointer-events: none !important;
}
.video-container{
    &:hover{
        .left-btn{
            left: 1rem;
        }
        .right-btn{
            right: 1rem;
        }
        .video-control{
            bottom: 0rem;
        }
    }
}

.button{
    position: absolute;
    z-index: 3;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
    align-items: center;
    &.left-btn{
        left: -20%;
    }
    &.right-btn{
        right: -20%;
    }
    &:hover{
        .text{
            opacity: 1;
        }
    }

    .icon{
        color: white;
        padding: 1rem 0.2rem;
        background-color: rgba($color: #000000, $alpha: 0.7);
        border-radius: 5px;
        i{
            transform: translateY(4px);
        }
    }
    .text{
        background-color: rgba($color: #000000, $alpha: 0.7);
        position: absolute;
        top: -12%;
        width: 20rem;
        height: 4rem;
        margin: 0.5rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
        @include transition;
        &.left{
            left: 2rem;
        }
        &.right{
            right: 2rem;
        }

        p{
            font-size: 0.9rem;
            line-height: 1.3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            text-align: start;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            padding: 0rem 1rem;
        }


    }
}

</style>