<template>
    <div class="lesson-slide">
        <div class="slide" v-if="slideURL">
            <iframe
                class="slide-frame"
                :src=" slideURL + '/embed?start=false&loop=false&delayms=3000'"
                frameborder="0"
                allowfullscreen="true"
                mozallowfullscreen="true"
                webkitallowfullscreen="true">
            </iframe>
        </div>
        <NoData :data="'slide'" v-if="noData"/>
    </div>
</template>

<script>
import {computed, ref} from 'vue';
export default {
    props: ["lesson"],
    setup (props) {
        const noData = ref(false);

        const slideURL = computed(()=>{
            if(props.lesson.slideURL){
                noData.value = false
                return props.lesson.slideURL;
            }else {
                noData.value = true;
                return null;
            }
        })

        return {slideURL,noData}
    }
}
</script>

<style lang="scss" scoped>
.slide{
    width: 100%;
    margin-top: 3rem;
    padding-top: 56.25%;
    position: relative;
    &-frame{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
</style>