<template>
        <div class="hw-header" v-if="lesson.editorData">
            <div class="hw-banner">
                <img src="@/assets/png/homework-banner.png" alt="">
                <p>Bài {{lesson.number}}</p>
            </div>
        </div>
        <div class="lesson-homework">
                <div id="editorjs2"></div>
                <Transition name="fade" appear> 
                    <div class="upload-wrapper" v-if="lesson.editorData" :key="lesson.number">
                        <div class="hw-complete">
                            <div v-if="!computedComplete" class="tag incomplete">Chưa hoàn thành</div>
                            <div v-if="computedComplete" class="tag complete">Hoàn thành</div>
                        </div>

                        <div class="hw-files" :key="lesson" v-if="lesson.editorData">
                            <div class="file-wrapper">
                                <div class="file-upload" @click="upload">
                                    <i class="material-icons">add</i>
                                </div>
                                <div class="file-list" v-if="workList">
                                    <div :class="['work-container', {'pending': isDeleting}]" v-for="work in workList" :key="work.id">
                                        <Loading class="loading" v-if="isDeleting"/>
                                        <div class="overlay-icon a-btn-hover" @click="deleteWork(work)"><i class="material-icons icon">delete_forever</i></div>
                                        <WorkCard2 :work="work"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </Transition>  
        </div>
</template>

<script>
    import { computed, onMounted,onUnmounted,ref, watchEffect } from 'vue';
    import {useStore} from 'vuex';
    import {useRouter} from 'vue-router'
    import useHomework from '@/composable/useHomework';

    import EditorJS from '@editorjs/editorjs';
    import Paragraph from '@editorjs/paragraph'
    import BreakLine from 'editorjs-break-line'
    import List from '@editorjs/list'

    //Self Define
    import Heading1 from '@/components/EditorUser/Heading1.js'
    import Heading2 from '@/components/EditorUser/Heading2.js'
    import Heading3 from '@/components/EditorUser/Heading3.js'
    import Homework from '@/components/EditorUser/Homework.js'
    import Deadline from '@/components/EditorUser/Deadline.js'
    import Image from '@/components/EditorUser/Image.js'
    import Video from '@/components/EditorUser/Video.js'

    import WorkCard2 from '@/components/Work/WorkCard2'

    export default {
        props: ['lesson'],
        components: {WorkCard2},
        setup(props){
            const store = useStore();
            const editor = ref(null);
            const {uploadResult,uploadConfig,openWidget,deleteHomework,isComplete} = useHomework();

            const initEditor = (initData)=> {
                const editor = new EditorJS({
                    holder: 'editorjs2', //ID cua element Dom
                    autofocus: true,
                    defaultBlock: "paragraph",
                    readOnly: true,
                    data: initData,
                    tools:{
                        heading1:{
                            class: Heading1,
                            inlineToolbar: true,
                            config:{
                                editable: false,
                                placeholder: "Bài tập..."
                            }
                        },
                        image: {
                            class: Image,
                            inlineToolbar: true
                        },
                        video: {
                            class: Video,
                            inlineToolbar: true
                        },
                        list:{
                            class: List,
                            inlineToolbar: true,
                        },                    
                        heading2:{
                            class:Heading2,
                            inlineToolbar: true,
                            config:{
                                editable: false,
                                placeholder:"Tạo video Animation..."
                            }
                        },
    
                        heading3:{
                            class:Heading3,
                            inlineToolbar: true,
                            config:{
                                placeholder: "Nhập tiêu đề..."
                            }
                        },
                        homework:{
                            class: Homework,
                            inlineToolbar: true,
                
                        },
                        deadline:{
                            class: Deadline,
                            inlineToolbar: true,
                            config: {
                                disable: true,
                            }
                        },
                        paragraph: {
                            class: Paragraph,
                            config: {
                                placeholder: "Buổi này chưa có bài tập rồi, bạn có thể mở rộng bằng video nâng cao nhé !"
                            }
                        },
                        breakLine: {
                            class: BreakLine,
                            inlineToolbar:false,
                            shortcut: 'CMD+SHIFT+ENTER',
                        },

                    },
                    onReady: function(){    
                    },
                    onChange: function(){
                    }
                    
                });
                window.editor = editor
            }    

            //Tính toán ra số lượng bài cần nộp để check hoàn thành + số bài đã nộp hiện tại tương ứng lesson số bn
            const countGoal = computed(()=>{
                props.lesson;
                if(!props.lesson.editorData) return null;
                let workData = props.lesson.editorData.blocks.find(block => block.type == "deadline");
                if(!workData) return null;
                if(workData.data.quantity){
                    return Number(workData.data.quantity);
                } else return 1
            }) 
            const countCurrent = computed(()=>{
                props.lesson;
                let list =  store.getters['works/getWorks'](props.lesson.number);
                if(!list) return 0
                else return list.length;
            })

            const computedComplete = computed(() => {
                let goal = countGoal.value;
                let cur = countCurrent.value;
                if(cur < goal) return false;
                else return true;
            })

            

            //Theo dõi prop thay đổi để load lại editor mới
            watchEffect(()=>{
                let data = props.lesson;
                if(window.editor){
                    window.editor.destroy();
                    initEditor(data.editorData|| {});
                }
            })

            onMounted(async ()=> {
                // if(window.editor){
                //     window.editor.destroy();
                // }
                window.editor = null
                editor.value = null;
                initEditor(props.lesson.editorData|| {});
                if(props.lesson.editorData){
                    const deadlineBlock = props.lesson.editorData.blocks.find(block => block.type == 'deadline');
                }
            })

            onUnmounted(async ()=> {
                window.editor.destroy();
                window.editor = null;
                editor.value = null;
            })




            
            const upload = ()=> {
                uploadConfig(props.lesson.number,countGoal.value,countCurrent.value);
                openWidget();
            }

            //xóa work (tất nhiên ko xóa đc trên cloudinary);
            // khi xóa class, xóa course, xóa student cũng phải xóa cái này
            const isDeleting = ref(false);
            const deleteWork = (work) =>{
                isDeleting.value = true;
                const check = confirm(`Bạn có muốn xoá bài tập ${work.workName}`);
                if(check){
                    deleteHomework(work,countGoal.value,countCurrent.value).then((result)=>{
                        isDeleting.value = false; 
                    })

                }else{
                    isDeleting.value = false; 
                }
            }
 


            // List các bài tập upload của bài số tương ứng để hiện v-for
            const workList = computed(()=> store.getters['works/getWorks'](props.lesson.number));
        
            

            return{editor,upload,workList,deleteWork,isDeleting,countGoal,countCurrent,computedComplete}
        }
        
    }
</script>

<style lang="scss" scoped>
//Animation
.fade-enter-from,
.fade-leave-to{
    opacity: 0;
}
.fade-enter-to,
.fade-leave-from{
    opacity: 1;

}
.fade-enter-active{
    transition: all 0.4s ease;
    transition-delay: 0.4s
}
.fade-leave-active{
    position: absolute
}
.fade-move{
    @include transition-3;
    transition-delay: 2s
}

    .pending{
        opacity: 0.5;
        pointer-events: none;
    }
    .lesson-homework{
        width: 100%;
        display: flex;
    }
    #editorjs2{
        height: 100%;
        width: 100%;
    }
    .hw-header{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    & .hw-banner{
        position: relative;
        display: inline-flex;
        & img{
            width: 25rem;
        }
        & p{
            position: absolute;
            color: white;
            right: 3.6rem;
            bottom: 2.2rem;
            text-align: center;

        }
    }
    }

    .work-container{
        position: relative;
    }
    .overlay-icon{
        position: absolute;
        z-index: 1;
        top: -2.5rem;
        right: 2.5rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 0.4rem;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .loading{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
    .upload-wrapper{
        width: 80%;
        position: relative;
    }
</style>