<template>
    <div class="lesson-detail" v-if="lesson">
    <div class="lesson-wrapper">
            <div class="lesson-video">
               <video
                  class="lesson-recordThumb"
                  autoplay="autoplay"
                  loop
                  muted
                  :key="lesson.loopURL"
                >
                    <source v-if="lesson.loopURL"
                      :src="lesson.loopURL"
                      type="video/mp4"
                    >
                    <source v-else src="https://res.cloudinary.com/umaster/video/upload/v1630686044/LoopURL/in_t%C3%B4_gakfhb.mp4">
                </video>
            </div>
            <div class="lesson-description">
                <div class="a-spacing-ver-lg"></div>

                <div class="lesson-intro a-layout-flex a-color-red">
                    <i class="material-icons a-spacing-hor-xs">double_arrow</i>
                    <h5 class="lesson-header a-color-red">Giới thiệu về bài {{lesson.number}}</h5>
                </div>
                <div class="a-spacing-ver-xs"></div>

                <p>{{computedDescription}}</p>

                <div class="a-spacing-ver-lg"></div>

                <div class="lesson-res-container">
                    <div class="lesson-res-wrapper">
                        <div class="lesson-intro a-layout-flex a-color-red">
                            <i class="material-icons a-spacing-hor-xs">double_arrow</i>
                            <h5 class="lesson-header a-color-red">Bài học mở rộng</h5>
                        </div>
                        <div class="a-spacing-ver-sm"></div>
                        <div class="lesson-res-box">
                            <div class="lesson-res-content">
                                <router-link :to="{name: 'PlaylistContent', params: {id: lesson.id}}" class="lesson-res-btn active">
                                    <i class="material-icons">play_arrow</i>
                                    <p>Xem ngay</p>
                                </router-link>
                                <div class="lesson-res-data">
                                    {{computedPlaylist}}
                                </div>
                            </div>
                            <div class="lesson-res-image left">
                                <img src="@/assets/png/lesson-playlist.svg" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="a-spacing-hor-lg"></div>

                    <div class="lesson-res-wrapper">
                        <div class="lesson-intro a-layout-flex a-color-red">
                            <i class="material-icons a-spacing-hor-xs">double_arrow</i>
                            <h5 class="lesson-header a-color-red">Tài nguyên sử dụng</h5>
                        </div>
                        <div class="a-spacing-ver-sm"></div>
                        <div class="lesson-res-box">

                            <!-- Nếu có resourceURL thì hiên -->
                            <div  v-if="lesson.resourceURL" class="lesson-res-content">
                                <a class="lesson-res-btn active" :href="computedResURL">
                                    <i class="material-icons">download_file</i>
                                    <p>Tải về</p>
                                </a>
                                <!-- <div class="lesson-res-data">
                                </div> -->
                            </div>

                            <!-- Nếu ko thì hiện ko có -->
                            <div v-else class="lesson-res-content">
                                <a class="lesson-res-btn">
                                    <i class="material-icons">download_file</i>
                                    <p>Không có file</p>
                                </a>
                            </div>

                            <div class="lesson-res-image right">
                                <img src="@/assets/png/lesson-folder.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="a-spacing-ver-lg end"></div>
    </div>
    </div>

</template>

<script>
    import {ref,computed, onMounted, watchEffect} from 'vue'
    import {downloadURL} from '@/composable/transformUrl'
    import {useStore} from 'vuex'
    export default {
        props:['lesson'],
        setup(props) {
            const store = useStore();
            const computedDescription = computed(()=>{
                //return props.lesson.description.substr(0,200)+ '...'
                return props.lesson.description;
            })
            const playlistCount = ref(0);
            const computedPlaylist = computed(()=> {
                return !playlistCount.value ? "Nhiều video" : `${playlistCount.value} video`
            })


            // Gen link download file tafi nguyeen
            const computedResURL = computed(()=> {
                return downloadURL(props.lesson.resourceURL) || null;
            })



            watchEffect(async() => {
                // Lọc lấy phần playlistID của trường playlistURL thôi 
                if(props.lesson){
                    const playlistURL = props.lesson.playlistURL;
                    let playlistId;
                    if(playlistURL.includes("youtube.com/playlist")){
                         playlistId = playlistURL.split("list=")[1]
                    }else playlistId = playlistURL; 
    
                    const playlist =  await store.dispatch("lessons/loadPlaylist", {
                        playlistId: playlistId, 
                        lessonId : props.lesson.id
                    })
                    playlistCount.value = playlist.length
                }
            })

            return{computedDescription,playlistCount,computedPlaylist,computedResURL};
        }
    }
</script>

<style lang="scss" scoped>
.lesson-detail{
    width: 100%;
    display: flex;
    justify-content: center;
}
.lesson-wrapper{
    width: 90%;
    max-width: 60rem;
}

.lesson{
    &-card{
        width: 100%;
        height: 120%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2rem;
        background-color: white;
        @include card-shadow;
        border-radius: 2rem;
        position: relative;
    }
    &-video{
        border-radius: 2rem;
        overflow: hidden;
        position: relative;
        margin-bottom: 1rem;
    }
    &-recordThumb{
        width: 100%;
        transform: scale(1.04);
        pointer-events: none;

    }
    &-noti{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        padding: 0.2rem 1rem 0.2rem 1rem;
        background-color: white;
        border-radius: 10rem;
        z-index: 2;
    }
    &-icon{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        font-size: 5rem;
        color: white;
        cursor: pointer;
    }
    &-description{
        padding: 0 0rem 0 0rem;
        font-size: 1.2rem;
    }
    &-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        @include transition;
        &:hover{
            transform: scale(1.02);
        }
    }

    //Hai o tai nguyen
    &-res{
        &-container{
            display: flex;
            
        }
        &-wrapper{
            flex-basis: 50%;
            flex-grow: 1;
        }
        &-box{
            display: flex;
            padding-left: 2rem;
            background-color: $color-primary;
            width: 100%;
            height: 6rem;
            justify-self: center;
            align-self: center;
            box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.3);
            border-radius: 1rem;
            position: relative;

            & :hover{
                cursor: pointer;
            }
            &:hover > .lesson-res-image{
                width: 10rem;
            }
        }
        &-content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-btn{
            
            display: flex;
            font-size: 1rem;
            background-color: white;
            padding: 5px 8px;
            border-radius: 0.4rem;
            color: $color-gray-light-1;
            margin-bottom: 0.5rem;
            transition: 0.2s ease-in-out;
            margin-right: 1rem;
            & i{
                width: 1.5rem;
                font-size: 1.2rem;
                transform: translate(-3px, 3px);
            }
            &.active{
                color: $color-primary;
                &:hover{
                    transform: scale(1.1);
                    color: $color-green;
                }
            }
            

        }
        &-data{
            font-size: 1rem;
            color: $color-gray-light-2;
        }
        &-image{
            width: 9rem;
            position: absolute;
            transition: 0.2s ease-in-out;
            & img{
                object-fit: cover;
            }
            &.left{
                right: 1%;
                bottom: 10%;
                
            }
            &.right{
                right: 1%;
                bottom: 10%;

            }

        
        }

    }
}
.end{
    height: 3rem;
}
</style>