<template>
    <div class="homework-editor a-full-size a-height-view " v-if="lesson">
        <div class="back-button" @click="back"><i class="small material-icons">arrow_back</i></div>
        <div class="header a-spacing-ver-lg">
            <h3 class="title center">Bài tập bài {{lesson.number}}</h3>
            <h5 class="title center">{{lesson.name}}</h5>
        </div>
        <div class="toolbar a-spacing-ver-md">
            <p class="title">Công cụ</p>
            <span class="insert-btn" @click="insertPresetGoal">
                <i class="material-icons">workspace_premium</i>
                <p>Mục tiêu</p>
            </span>
            <span class="insert-btn" @click="insertPresetHw">
                <i class="material-icons">web</i>
                <p>Bài tập</p>
            </span>
            <span class="insert-btn" @click="clearAll">
                <i class="material-icons">restart_alt</i>
                <p>Reset</p>
            </span>
            <span class="insert-btn save" @click="saveEditor">
                <i class="material-icons">save</i>
                <p>Lưu</p>
            </span>
        </div>
        <div class="homework-doc overflowList">

            <div id="editorjs"></div>

        </div>

    </div>
    <div class="homework-editor a-full-size loading-wrapper a-height-view" v-else>
        <Loading />
    </div>
</template>

<script>
import { computed, onMounted,ref } from 'vue';
import {useStore} from 'vuex';
import {useRouter} from 'vue-router'

import EditorJS from '@editorjs/editorjs';
import Paragraph from '@editorjs/paragraph'
import BreakLine from 'editorjs-break-line'
import List from '@editorjs/list'

//Self Define
import Heading1 from '@/components/EditorAdmin/Heading1.js'
import Heading2 from '@/components/EditorAdmin/Heading2.js'
import Heading3 from '@/components/EditorAdmin/Heading3.js'
import Homework from '@/components/EditorAdmin/Homework.js'
import Deadline from '@/components/EditorAdmin/Deadline.js'
import Image from '@/components/EditorAdmin/Image.js'
import Video from '@/components/EditorAdmin/Video.js'

export default {
    props:['id'],
    setup (props) {
        const store = useStore();
        const router = useRouter();
        const lesson = ref(null);
        const data = ref({});
        const editor = ref(null)
        
        onMounted(async ()=> {
            //Load lesson data
            lesson.value = await store.dispatch('lessons/loadLesson',{
                lessonId: props.id
            }) 

            initEditor(lesson.value.editorData || {});
        })

        const hosting = `https://us-central1-umaster-resourse-page.cloudfunctions.net/app/`

        const initEditor = (initData)=> {
            const editor = new EditorJS({
                holder: 'editorjs', //ID cua element Dom
                autofocus: true,
                defaultBlock: "paragraph",
                readOnly: false,
                data: initData,
                tools:{
                    heading1:{
                        class: Heading1,
                        inlineToolbar: true,
                        config:{
                            editable: true,
                            placeholder: "Bài tập..."
                        }
                    },
                    list:{
                        class: List,
                        inlineToolbar: true,
                    },                    
                    heading2:{
                        class:Heading2,
                        inlineToolbar: true,
                        config:{
                            editable: true,
                            placeholder:"Tạo video Animation..."
                        }
                    },
   
                    heading3:{
                        class:Heading3,
                        inlineToolbar: true,
                        config:{
                            placeholder: "Nhập tiêu đề..."
                        }
                    },
                    image:{
                        class: Image,
                        inlineToolbar: true
                    },
                    video: {
                        class: Video,
                        inlineToolbar: true
                    },
                    homework:{
                        class: Homework,
                        inlineToolbar: true,
            
                    },
                    deadline:{
                        class: Deadline,
                        inlineToolbar: true,
                        config: {
                            disable: true
                        }
                    },
                    paragraph: {
                        class: Paragraph,
                        config: {
                            placeholder: "Bắt đầu gõ ..."
                        }
                    },
                    breakLine: {
                        class: BreakLine,
                        inlineToolbar:false,
                        shortcut: 'CMD+SHIFT+ENTER',
                    },

                },
                onReady: function(){    
                },
                onChange: function(){
                }
                
            });
            window.editor = editor
        }

        //clear
        const clearAll = ()=>{
            window.editor.blocks.clear();
        }

        //Insert preset hw 1 - goal
        const insertPresetGoal = () => {
            //insert heading 1
            window.editor.blocks.insert(
                "heading1", 
                {
                    content: "Mục tiêu cần đạt được"
                },
                null, 
                0,
                false,

            );
            //insert list
            window.editor.blocks.insert(
                "list",
                {
                    "style" : "unordered",
                },
                {
                    defaultStyle: 'unordered'
                },
                1,
                true,
            )
        }


        //Insert preset hw 2 - homework
        const insertPresetHw = () => {
            //insert heading 1
            window.editor.blocks.insert(
                "heading1", 
                {
                    content: "Bài tập "
                },
                null, 
                window.editor.blocks.getBlocksCount(),
                false,

            );
            window.editor.blocks.insert(
                "heading2", 
                {
                    content: "Dựng video Animation "
                },
                null, 
                window.editor.blocks.getBlocksCount(),
                false,

            );
            window.editor.blocks.insert(
                "homework", 
                {
                    thumbUrl: null,
                    thumbId: null,
                    fileUrl: null,
                    fileId: null,                   
                },
                null, 
                window.editor.blocks.getBlocksCount(),
                false,
            );

            window.editor.blocks.insert(
                "heading3", 
                {
                    content: "Hướng dẫn"
                },
                null, 
                window.editor.blocks.getBlocksCount(),
                false
            );
            //insert list
            window.editor.blocks.insert(
                "list",
                {
                    "style" : "unordered",
                },
                {
                    defaultStyle: 'unordered'
                },
                window.editor.blocks.getBlocksCount(),
                true,
            )
            window.editor.blocks.insert(
                "heading3", 
                {
                    content: "Bài tập cần nộp"
                },
                null, 
                window.editor.blocks.getBlocksCount(),
                false
            );
            window.editor.blocks.insert(
                "deadline", 
                {
                    homeworkID: "hwid123445",
                    timeRange: 1,
                    unlockDate: 1668681047752,
                    startTime: '6h45'
                },
                null, 
                window.editor.blocks.getBlocksCount(),
                false
            );
        }

        //Bắn sang vuex để mà lưu
        const saveEditor = async () => {
            try{
                const savedData = await window.editor.save();
                console.log("🚀 ~ savedData", savedData)
                let homeworkdsID = []
                // lấy ra bài tập
                savedData.blocks.forEach(block => {
                    if(block.type == "deadline"){
                        homeworkdsID.push(block.id);
                    }
                })
                console.log(savedData);
                const res = await store.dispatch("lessons/updateHomework", {
                    lessonID: props.id,
                    data : {
                        editorData: savedData,
                        homeworkdsID: homeworkdsID
                    }
                })

                
            }catch(err){
                console.log(err.message);
            }
        }

        const back = ()=>{
            router.back();
        }

        return {lesson,
                saveEditor, insertPresetGoal, insertPresetHw,clearAll,back}
    }
}
</script>

<style lang="scss" scoped>
.homework-editor{
    position: relative;
} 
.back-button{
    position: absolute;
    top: 0.5rem;
    left: 2rem; 
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    @include transition;
    &:hover{
        background-color: $color-gray-dark;
        color: white;
    }
}
    .toolbar{
        padding: 0 9%;
        display: flex;
        width: 100%;
        & .title{
            font-size: 1.4rem;
            margin-right: auto;
        }
        & .insert-btn{
            margin-left: 1rem;
            padding: 5px 8px;
            border-radius: 5px;
            background-color: white;
            @include btn-shadow-1;
            display: flex;
            @include transition;
            cursor: pointer;
            & p{
                margin-left: 0.5rem;
            }
            &:active{
                transform: scale(0.9);
            }
            &:hover{
                color: $color-primary;
            }
            &.save{
                background-color: $color-primary;
                color: white;
            }
        }
    }
    .homework-doc{
        height: 83vh;
        overflow-y: auto;
        padding-bottom: 10rem;
    }
    #editorjs{
    }
</style>