<template>
    <div class="create-course">
        <div class="back-button" @click="closeModal"><i class="small material-icons">arrow_back</i></div>
        <h3 class="title center">Cập nhật bài giảng {{number}}</h3>
        <div class="create-container">
            <form @submit.prevent="handleSubmit" class="container form-container">

                <div class="row">
                    <div class="input-field col s12">
                        <input id="lesson-name" type="text" class="validate" v-model="name" required>
                        <label class="active"  for="lesson-name">Tên bài giảng</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <input id="lesson-thumbnail" type="text" class="validate" v-model="thumbnailURL" required>
                        <label class="active"  for="lesson-thumbnail">Lesson Thumbnail URL</label>
                    </div>
                    <div class="col s2 check-container">
                        <img v-if="thumbnailURL" :src="thumbnailURL" class="result-img" alt="">
                    </div>
                </div>



                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea" class="materialize-textarea" required v-model="description"></textarea>
                        <label class="active" for="textarea">Mô tả bài giảng</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="lesson-playlist" type="text" class="validate" v-model="playlistURL" required>
                        <label class="active"  for="lesson-playlist">Youtube URL</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="lesson-slide" type="text" class="validate" v-model="slideURL">
                        <label class="active"  for="lesson-slide">Slide URL</label>
                    </div>
                </div>                
                <div class="row">
                    <div class="input-field col s10">
                        <input id="lesson-loop" type="text" class="validate" v-model="loopURL" required>
                        <label class="active"  for="lesson-loop">Loop URL</label>
                    </div>
                    <div class="video-wrapper col s2">
                            <video
                                class="video-loop"
                                autoplay="autoplay"
                                loop
                                muted
                                v-if="loopURL"
                                >
                                    <source 
                                    :src="loopURL"
                                    type="video/*"
                                >
                            </video>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="hw-label active"  for="hw-thumbnail" >File nén tài nguyên</div>
                        <input @change="uploadFile" id="hw-thumbnail" type="file" accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed" class="validate hw-choose">
                    </div>
                    <div class="col s12" v-if="homeworkURL">
                        <i class="material-icons hwDel">delete</i>
                        <img class="hwImg" src="@/assets/png/lesson-folder.svg" alt="">
                        <p class="hwSize">{{homeworkSize}}</p>
                    </div>
                </div>

                            
                <div class="row" v-if="isAdmin">
                    <div class="col s4">
                        <button class="button-course waves-effect waves-light btn grey lighten-1" @click.prevent="deleteLesson"><i class="material-icons left">delete</i>Xoá bài giảng</button>
                    </div>
                    <div class="col s4">
                        <router-link :to="{name: 'HomeworkEditor', params:{id: id}}" class="button-course waves-effect waves-light btn orange lighten-1" @click.prevent="">Bài tập</router-link>
                    </div>
                    <div class="col s4">
                        <button class="button-course waves-effect waves-light btn red darken-4"><i class="material-icons left">add</i>Cập nhật</button>
                    </div>
                </div>
                <div class="row" v-if="isTeacher">
                    <div class="col s6">
                        <button class="button-course waves-effect waves-light btn grey lighten-1" @click.prevent="clearField"><i class="material-icons left">cancel</i>Reset</button>
                    </div>
                    <div class="col s6">
                        <button class="button-course waves-effect waves-light btn red darken-4"><i class="material-icons left">add</i>Cập nhật</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</template>

<script>
    import {timestamp} from '@/firebase/config'
    import {ref,onMounted,computed} from 'vue'
    import {useRouter} from 'vue-router'
    import {useStore} from 'vuex'
    import HTTP from '@/composable/axios.js'
    export default {
        props: ['id'],
        setup(props) {
            const store = useStore()
            const isAdmin = computed(()=>store.getters['user/getIsAdmin']);
            const isTeacher = computed(()=> store.getters['user/getIsTeacher']);
            const router = useRouter();
            
            //ref//
            const number = ref("");
            const name = ref("");
            const thumbnailURL = ref("");
            const description = ref("");
            const playlistURL = ref("");
            const slideURL = ref("");
            const loopURL = ref("");
            const lesson = ref({});
            const homework = ref({});
            const homeworkURL = ref("")

            const changeAva = () => {
                store.dispatch("admin/changeAva")
            }

            //SET UP FOR DROPDOWN INPUT
            onMounted(async() => {
                $(document).ready(function(){
                    $('select').formSelect();
                    $('#textarea').characterCounter();
                });

                //load data 
                lesson.value = await store.dispatch('lessons/loadLesson',{lessonId: props.id})
                if(lesson.value){
                    name.value = lesson.value.name
                    number.value = lesson.value.number
                    thumbnailURL.value = lesson.value.thumbnailURL
                    description.value = lesson.value.description
                    playlistURL.value = lesson.value.playlistURL
                    slideURL.value = lesson.value.slideURL
                    loopURL.value = lesson.value.loopURL,
                    homeworkURL.value = lesson.value.homeworkURL
                }
            
            })


            const closeModal = ()=>{
                router.back();
            }

            const clearField = ()=>{
                name.value = "";
                thumbnailURL.value = "";
                description.value = "";
                playlistURL.value = "";
                slideURL.value = "";
                loopURL.value = "";
            }
            const deleteLesson = async()=>{
                if(!isAdmin.value) return false;
                const res = await store.dispatch("admin/deleteLesson",{
                    lessonID : props.id,
                    lessonNumber : number.value
                });
                if(res){
                    router.push({name: "Lessons", params: {id: lesson.value.courseID}})
                }
            }


            //upload file resource rồi lấy URL đặt vào homeworkURL
            const uploadFile = async (event)=> {
                    let data = new FormData();
                    data.append("file_upload", event.target.files[0]);
                    data.append("fileName", event.target.files[0].name);
                    const result = await HTTP.post('api/file/upload/preset2',data);
                
                    if(result.success){
                        console.log(result.data);
                        homework.value = result.data
                        homeworkURL.value = result.data.secure_url;
                    }
            }
            const homeworkSize = computed(()=> {
                if(homework.value){
                    return (Number(homework.value.bytes) / (1024*1024)).toFixed(2) + " MB"
                }else return null;

            })


            const handleSubmit = async()=>{
                const updatedLesson = {
                    name: name.value,
                    thumbnailURL : thumbnailURL.value,
                    description : description.value,
                    playlistURL : playlistURL.value,
                    slideURL : slideURL.value,
                    loopURL : loopURL.value,
                    homeworkURL: homeworkURL.value || "",
                    createdAt : timestamp(),

                }
                const res = await store.dispatch('admin/updateLesson',{
                    lessonID: props.id,
                    lessonNumber: number.value,
                    updatedLesson: updatedLesson
                })
                if(res){
                    let backid = lesson.value.courseID
                    router.push({ name: "Lessons", params: {id: backid} })
                }

            }




            return {number, name, thumbnailURL, description, playlistURL, slideURL,loopURL,lesson,homeworkSize,
                    closeModal,clearField,handleSubmit,deleteLesson,uploadFile,changeAva,
                    isAdmin,isTeacher}
        }
    }
</script>

<style lang="scss" scoped>
.back-button{
    position: absolute;
    top: 0.5rem;
    left: 2rem; 
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    @include transition;
    &:hover{
        background-color: $color-gray-dark;
        color: white;
    }
}
.title{

}
.video{
    &-wrapper{

    }
    &-loop{
        width: 100%;
    }
}
.create-course{
    width: 75%;
    position: relative;
    
}
.create-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3%;
}
.btn-check{
    transform: translateY(1rem);
}
.button-course{
    width: 100%;
    font-family: "Averta Semi Bold";
}

.check-container{
    position: relative;
}
.result-img{
    width: 3rem;
    height: 3rem;
    transform: translate(0,20%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
   
}
.tag-list{
    display: flex;
}
.tag{
    padding: 0.3rem 1.9rem 0.5rem 0.8rem;
    border-radius: 10rem;
    background-color: $color-gray-light-1;
    color: white;
    margin-right: 0.5rem;
    position: relative;
    & p{

    }
    & i{
        position: absolute;
        top: 50%;
        right: -4%;
        transform: translate(-50%,-50%);
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
    }
}
</style>
/*

Trong bài học đầu tiên, chúng ta sẽ được giới thiệu về ngành animation, quy trình để sản xuất một video animation chuyên nghiệp và bước đầu làm quen với công cụ làm animation mạnh mẽ nhất: After Effect
 */