<template>
  <div class="overlay">
    <div class="column items-center">
      <Loading/>
      <p class="text-h6 text-weight-bold text-black">Đang xử lý</p>
    </div>
  </div>
</template>

<script setup>
import Loading from "./Loading.vue"
</script>

<style lang="scss" scoped>
.overlay{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
backdrop-filter: blur(5px);
z-index: 999;
display: flex;
justify-content: center;
align-items: center;
}
</style>
