<template>
    <div class="classroom page">
        <div class="class-header">
            <h3 class="class-title">My Class.</h3>
            <div v-if="classID" class="class-id">{{classID}}</div>
        </div>
        <div class="body row">
            <div class="left-section col s7 m8 l9 xl10">
                <div class="class-works">
                    <div class="works-header row" v-if="lessonCount">

                            <div class="works-wrapper" v-if="isEach">
                                <h5>Sản phẩm được nộp bởi {{activeStudent.nickname}}</h5> 
                                <h6 class="works-count" v-if="currentWorksList">{{currentWorksList.length}} sản phẩm</h6>
                            </div>
                            <div class="works-wrapper" v-else>
                                <h5 class="works-title">Tất cả sản phẩm của lớp</h5> 
                                <h6 class="works-count" v-if="allWorkList">{{allWorkList.length}} sản phẩm</h6>
                            </div>

                    </div>
                    <!-- each -->
                    <div class="result-filter" v-if="isEach">

                            <div class="works-overflow overflowList"  v-if="currentWorksList">
                                <div class="works-list">
                                    <div v-for="(work,index) in currentWorksList" :key="index">
                                        <WorkCard2 :work="work"/>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="works-wrapper" v-if="!currentWorksList && !noData">
                                <Loading/>
                            </div>
                            <div class="works-wrapper" v-if="noData">
                                <NoData :data="'sản phẩm'"/>
                            </div>
                    </div>
                    <!-- all -->
                    <div class="result-filter" v-else>
                            
                            <div class="works-overflow"  v-if="allWorkList" @wheel.prevent="scrollHori($event)" ref="scrollContainer">
                                <div class="works-list">
                                    <div v-for="(work,index) in allWorkList" :key="index">
                                        <WorkCard2 :work="work"/>
                                    </div>
                                </div>
                            </div>

                            <div class="works-wrapper" v-if="!allWorkList && !noDataAll">
                                <Loading/>
                            </div>
                            <div class="works-wrapper" v-if="noDataAll">
                                <NoData :data="'works'"/>
                            </div>         
                    </div>
                </div>
            </div>
            <div class="right-section col s5 m4 l3 xl2" >

                    <div class="ava" v-if="activeStudent">
                        <Image class="ava-image" :refUrl="activeStudent.avaRef"/>
                        <div class="info-box">
                            <StudentInfoCard :student="activeStudent" />
                        </div>
                    </div>
                    <div class="ava-list overflowList" v-if="studentList">
                        <div class="ava-wrapper">
                            <div :class="[{'each': isEach},'all-student', 'a-btn-hover']" @click="isEach = !isEach">
                                <span>Cả lớp</span> 
                                <span class="number" v-if="allWorkList">{{allWorkList.length}} sản phẩm</span>
                            </div>
                            <UserStudentList 
                                :students="studentList"
                                :activeStudentID="activeStudentID" 
                                @showWorks="showWorks"/>
                        </div>

                    </div>     
                            
            </div>
        </div>




    </div>
</template>

<script>
    import UserStudentList from '@/views/User/ClassroomCollection/UserStudentList.vue'
    import WorkCard2 from '@/components/Work/WorkCard2.vue'
    import {useStore} from 'vuex'
    import {ref,computed,onMounted, watchEffect,watch} from 'vue'
    import _ from 'lodash'
    import StudentInfoCard from '../../components/Classes/StudentInfoCard.vue'
    export default {
        components: {UserStudentList,WorkCard2,StudentInfoCard},
        setup(props) {
            const initSelect = ()=>{
                $(document).ready(function(){
                    $('select').formSelect();
                });
            }

            onMounted(() => {
                initSelect();
            });

            //refs
            const store = useStore();
            const activeStudentID = ref(null);
            const activeStudent = ref(null);


            const userData = computed(()=> {
                const user =  store.getters['user/getUserData']
                if(user){
                    activeStudentID.value = user.id;
                    activeStudent.value = user;
                    return user
                }else return null
            });

            const classID = computed(()=>{
                if(userData.value){
                    return store.getters['user/getClassID']
                }else return null;
            });

    //CHẠY 1 LẦN KHI VÀO TRANG
            const studentList = ref(null);
            watchEffect(async()=> {
                if(classID.value){
                    const list = await store.dispatch('studentWorks/getStudentList');
                    studentList.value = list;
                }else{
                    studentList.value = null;
                }
            });
    // ĐẺ V_FOR CHO SELECT OPTION
            const lessonCount = computed(()=> {
                const count = store.getters['lessons/getCount'];
                if(count){
                    initSelect();
                    return count;
                }else{
                    return 0;
                }
            });

    // CHỨC NĂNG LỌC KẾT QUẢ BÀI TẬP
        const currentWorksList = ref(null);  // nơi lưu kết quả nếu là each
        const noData = ref(false);

        const allWorkList = ref(null); //  nơi lưu kết quả nếu có all
        const noDataAll = ref(false);
        const isEach = ref(true);   // mặc định là list each hiện


        watchEffect(async ()=>{
            if(isEach.value == false){  // tức bật all
                noDataAll.value = false;
                const allWorks = await store.dispatch('studentWorks/getAllWorks');
                if(allWorks){
                    allWorkList.value = _.orderBy(allWorks,['lessonNumber'],['desc']);
                    
                }else{
                    allWorkList.value = null;
                    noDataAll.value = true;
                }
            }
        })



    // CHẠY LẠI MỖI LẦN KHI ACTIVESTUDENTID THAY ĐỔI

            watchEffect(async()=>{
                if(activeStudentID.value){
                    currentWorksList.value = null;
                    noData.value = false;

                    const works = await store.dispatch('studentWorks/getWorks',{studentID: activeStudentID.value});

                    if(works){ // fetch về và có data
                        currentWorksList.value = works;
                    
                    }else{  //fetch về mà ko có data
                        currentWorksList.value = null;
                        noData.value = true;
                    }
                }
            })
        // 
            const showWorks = (student)=>{
                    activeStudentID.value = student.id;
                    activeStudent.value = student;
            }


            ////HORIZONTAL SCROLL cho all
            const cardWidth = 316
            const scrollContainer = ref(null);
            const  scrollAmount = ref(0);
            const scrollHori = (event)=>{
                if(event.deltaY >0 && scrollAmount.value <= scrollContainer.value.offsetWidth ){ //lăn xuống ==> đi tiến
                    scrollContainer.value.scrollTo({
                            top: 0,
                            left: Math.max(scrollAmount.value += cardWidth ),
                            behavior: 'smooth'
                    });
                }else if(event.deltaY < 0 && scrollAmount.value > 0){  // đi lùi
                    scrollContainer.value.scrollTo({
                            top: 0,
                            left: Math.max(scrollAmount.value -= cardWidth ),
                            behavior: 'smooth'
                    });

                }
            }

            ////HORIZONTAL SCROLL cho each
            const scrollContainer2 = ref(null);
            const  scrollAmount2 = ref(0);
            const scrollHori2 = (event)=>{
                if(event.deltaY >0 && scrollAmount2.value <= scrollContainer2.value.offsetWidth ){ //lăn xuống ==> đi tiến
                    scrollContainer2.value.scrollTo({
                            top: 0,
                            left: Math.max(scrollAmount2.value += cardWidth ),
                            behavior: 'smooth'
                    });
                }else if(event.deltaY < 0 && scrollAmount2.value > 0){  // đi lùi
                    scrollContainer2.value.scrollTo({
                            top: 0,
                            left: Math.max(scrollAmount2.value -= cardWidth ),
                            behavior: 'smooth'
                    });

                }
            }

            return{classID,lessonCount,studentList,activeStudentID,noData,currentWorksList,activeStudent,showWorks,
                    isEach,noDataAll,allWorkList,scrollContainer,scrollHori,scrollContainer2,scrollHori2,scrollAmount}
        }
    }
</script>

<style lang="scss" scoped>
    .classroom{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .body{
        width: 100%;
        height: 100%;
        .left-section{
            height: 100%;
        }
        .right-section{
            height: 100%;
            position: relative;
            margin-top: 2rem;
        }
    }
    

    .class{
        &-header{
            display: flex;
            padding: 2rem 0 2rem 10rem;
            align-items: flex-end;
        }
        &-title{
            font-size: 3.4rem;
            font-family: "Averta Bold";
            margin-right: 2rem;
        }
        &-id{
            padding: 0.5rem 2rem 0.5rem 2rem;
            font-size: 1.5rem;
            font-family: "Averta Bold";
            color: white;
            background-color: $color-orange;
            border-radius: 10rem;
            cursor: pointer;
            @include transition;
            &:hover{
                transform: scale(1.05);
            }
        }

        &-works{
            padding-left:3rem;
            height: 100%;
            width: 100%;
            // background-color: blue;
        }
    }
    .result-filter{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .works{
        &-header{
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding: 2rem;
        }
        &-overflow{
            width: 100%;
            height: 100%;
            overflow-y: auto;
            border-radius: 2rem 2rem 0 0;
            margin-bottom: 5rem;
            padding-bottom: 15rem;
        }
        &-wrapper{
            display: flex;
            align-items: center;
        }
        &-list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 3rem;
            & > * {
                margin-right: 1rem;
                
                &:not(:last-child){
                    
                }
            }
        }
        &-count{
            font-size: 1rem;
            color: $color-gray-light-1;
            margin-left: 1rem;
        }
    }
    .toggle-filter{
        padding: 0.5rem 0.6rem 0.5rem 0.6rem;
        cursor: pointer;
        @include transition;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-gray-dark;
        &.active{
            background-color: $color-orange;
            border-radius: 10rem;
            color: white;
        }
    }


    .ava{
        position: relative;
        z-index: 2;
        .ava-image{
            position: absolute;
            z-index: 99;
            top: -10rem;
            right: -5.5rem;
            width: 16rem;
            transform: rotate(-50deg);
            &-image{
                width: 100%;
            }
        }
        .info-box{
            width: 100%;
            max-width: 24rem;
        }
        &-wrapper{
            width: 100%;
        }
        &-list{
            margin-top: -1rem;
            overflow-y: auto;
            height: 70%;
            padding-left: 2rem;
            border-radius: 2rem;
            position: relative;
            z-index: 1;
            
            
            .all-student{
                display: flex;
                flex-direction: column;
                width: 9rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color-orange;
                border-radius: 0.8rem;
                font-size: 1.2rem;
                color: white;
                margin-bottom: 0.8rem;
                @include transition;
                margin-top: 3rem;
                margin-left: 1rem;
                &.each{
                    background-color: white;
                    color: $color-orange;
                    border: 2px solid $color-orange;
                }
                .number{
                    font-size: 0.9rem;
                }
            }

        }
    }



</style>